@page "/{eventId}/{eventRole}/Threads/PuzzleThreads"
@model ServerCore.Pages.Threads.PuzzleThreadsModel
@{
    ViewData["Title"] = "Puzzle thread";
    ViewData["AdminRoute"] = "/Threads/PuzzleThreads";
    ViewData["AuthorRoute"] = "/Threads/PuzzleThreads";
    ViewData["PlayRoute"] = "/Threads/PuzzleThreads";

    bool isGameControlRole = Model.IsGameControlRole();
}

<div>
    @if (Model.EventRole == ServerCore.ModelBases.EventRole.play) 
    {
        <a asp-page="/Puzzles/Play">Puzzle list</a>
    }
    else
    {
        <a asp-page="/Puzzles/Index">Puzzle list</a>
    }

    @if (isGameControlRole)
    {
        @(" | ")
        @if (Model.InputParameters.HasFilterApplied())
        {
            <a asp-page="/Threads/PuzzleThreads" asp-route-refreshInterval="@Model.InputParameters.RefreshInterval">All threads</a>
        }
        else
        {
            <span>All threads</span>
        }

        @(" | ")
        @if (Model.InputParameters.ShowUnclaimedOnly.HasValue && Model.InputParameters.ShowUnclaimedOnly.Value)
        {
            <span>Unclaimed only</span>
        }
        else
        {
            <a asp-page="/Threads/PuzzleThreads" asp-route-showUnclaimedOnly="true" asp-route-puzzleId="@Model.InputParameters.PuzzleId" asp-route-playerId="@Model.InputParameters.PlayerId" asp-route-teamId="@Model.InputParameters.TeamId" asp-route-refreshInterval="@Model.InputParameters.RefreshInterval">Unclaimed only</a>
        }
    }
</div>
<h3>@Model.Title</h3>
@if (isGameControlRole)
{
    <div>
        Refresh every:
        @if (Model.InputParameters.RefreshInterval == 60)
        {
            <span>1 min</span>
        }
        else
        {
            <a asp-page="/Threads/PuzzleThreads" asp-route-refreshInterval="60" asp-route-puzzleId="@Model.InputParameters.PuzzleId" asp-route-playerId="@Model.InputParameters.PlayerId" asp-route-teamId="@Model.InputParameters.TeamId" asp-route-showUnclaimedOnly="@Model.InputParameters.ShowUnclaimedOnly">1 min</a>
        }

        @if (Model.InputParameters.RefreshInterval == 120)
        {
            <span>2 min</span>
        }
        else
        {
            <a asp-page="/Threads/PuzzleThreads" asp-route-refreshInterval="120" asp-route-puzzleId="@Model.InputParameters.PuzzleId" asp-route-playerId="@Model.InputParameters.PlayerId" asp-route-teamId="@Model.InputParameters.TeamId" asp-route-showUnclaimedOnly="@Model.InputParameters.ShowUnclaimedOnly">2 min</a>
        }

        @(" | ")
        @if (Model.InputParameters.RefreshInterval == 300)
        {
            <span>5 min</span>
        }
        else
        {
            <a asp-page="/Threads/PuzzleThreads" asp-route-refreshInterval="300" asp-route-puzzleId="@Model.InputParameters.PuzzleId" asp-route-playerId="@Model.InputParameters.PlayerId" asp-route-teamId="@Model.InputParameters.TeamId" asp-route-showUnclaimedOnly="@Model.InputParameters.ShowUnclaimedOnly">5 min</a>
        }

        @(" | ")
        @if (Model.InputParameters.RefreshInterval.HasValue)
        {
            <a asp-page="/Threads/PuzzleThreads" asp-route-puzzleId="@Model.InputParameters.PuzzleId" asp-route-playerId="@Model.InputParameters.PlayerId" asp-route-teamId="@Model.InputParameters.TeamId" asp-route-showUnclaimedOnly="@Model.InputParameters.ShowUnclaimedOnly">off</a>
        }
        else
        {
            <span>off</span>
        }

    </div>
}

<table class="table">
    <thead>
        <tr>
            @if (Model.IsGameControlRole())
            {
                <th>
                    Is handled
                </th>
            }
            <th>
                Thread
            </th>
            <th>
                Timestamp
            </th>
            <th>
                Puzzle
            </th>
            @if (Model.IsGameControlRole())
            {
                <th>
                    Team
                </th>
            }
            <th>
                Last message
            </th>
            <th>
                Last message sender
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LatestMessagesFromEachThread)
        {
            <tr>
                @if (Model.IsGameControlRole())
                {
                    <td>
                        @if (Model.IsLatestMessageUnclaimed(item))
                        {
                            <p>&#x26A0; Has unanswered question!</p>
                        }
                    </td>
                }
                <td>
                    <a asp-page="/Threads/PuzzleThread" asp-route-puzzleId="@item.Puzzle.ID" asp-route-teamId="@item.TeamID" asp-route-playerId="@item.PlayerID">@item.Subject</a>
                </td>
                <td>
                    @Html.Raw(Model.LocalTime(@item.CreatedDateTimeInUtc))
                </td>
                <td>
                    @if (Model.EventRole == ModelBases.EventRole.admin || Model.EventRole == ModelBases.EventRole.author)
                    {
                        <a asp-Page="/Puzzles/Edit" asp-route-puzzleId=@item.Puzzle.ID>@item.Puzzle.Name</a>
                    }
                    else
                    {
                        <a asp-page="/Submissions/Index" asp-route-puzzleId="@item.Puzzle.ID">@item.Puzzle.Name</a>
                    }
                </td>
                @if (Model.IsGameControlRole())
                {
                            <td>
                                @if (item.TeamID.HasValue)
                                {
                                    <a asp-page="/Teams/Status" asp-route-teamId="@item.TeamID.Value">@item.Team.Name</a>
                                }
                                else
                                {
                                    <span>N/A</span>
                                }
                            </td>
                }
                <td>
                    @(item.Text.Length > 93 ? $"{item.Text.Substring(0, 90)}..." : item.Text)
                </td>
                <td>
                    @item.Sender.Name
                </td>
            </tr>
        }
    </tbody>
</table>
