@page "/{eventId}/{eventRole}/Threads/PuzzleThread/{puzzleId}"
@using ServerCore.DataModel
@model ServerCore.Pages.Threads.PuzzleThreadModel

@{
    ViewData["Title"] = "Puzzle thread";
    ViewData["AdminRoute"] = "/Threads/PuzzleThread";
    ViewData["AuthorRoute"] = "/Threads/PuzzleThread";
    ViewData["PlayRoute"] = "/Threads/PuzzleThread";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
}
<script>
    function EditText(id) {
        let textAreaId = "TextAreaEdit_" + id;
        let textAreaEditBox = document.getElementById(textAreaId);
        textAreaEditBox.classList.remove("hidden");
        let originalTextId = "MessageText_" + id;
        let originalText = document.getElementById(originalTextId);
        originalText.classList.add("hidden");
    }

    function CancelEdit(id) {
        let textAreaId = "TextAreaEdit_" + id;
        let textAreaEditBox = document.getElementById(textAreaId);
        textAreaEditBox.classList.add("hidden");
        let originalTextId = "MessageText_" + id;
        let originalText = document.getElementById(originalTextId);
        originalText.classList.remove("hidden");
    }
</script>
<h2>Help thread</h2>
<div>
    @if (Model.EventRole == ServerCore.ModelBases.EventRole.play)
    {
        <a asp-page="/Submissions/Index" asp-route-puzzleId="@Model.Puzzle.ID">Back to puzzle</a>
    }
    else
    {
        <a asp-page="/Threads/PuzzleThreads">Back to thread list</a>
    }
</div>

<h4>Thread for puzzle @Model.Puzzle.Name</h4>
<hr />
@{
    bool shouldMakeDark = false;
}
@foreach (var message in Model.Messages)
{
    string classString = "message-container";
    if (shouldMakeDark) {
        classString += " message-darker";
    }

    if (message.IsFromGameControl) {
        classString += " message-game-control";
    }

    <div class="@classString">
        @{
            string senderName = message.Sender.Name;
            @if (message.IsFromGameControl)
            {
                senderName = Model.EventRole == ServerCore.ModelBases.EventRole.play
                ? "Game control"
                : $"Game control ({message.Sender.Name})";
            }
        }
        <p>[@Html.Raw(Model.LocalTime(@message.CreatedDateTimeInUtc))] @senderName</p>
        <div id="TextAreaEdit_@message.ID" class="hidden">
            <form asp-page-handler="EditMessage" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <textarea asp-for="EditMessage.Text" class="form-control" rows="4" placeholder="@message.Text" autocomplete="off">@message.Text</textarea>
                    <span asp-validation-for="EditMessage.Text" class="text-danger"></span>
                    <input type="hidden" asp-for="EditMessage.ID" value="@message.ID" />
                    <input type="hidden" asp-for="EditMessage.PuzzleID" value="@message.PuzzleID" />
                    <input type="hidden" asp-for="EditMessage.TeamID" value="@message.TeamID" />
                    <input type="hidden" asp-for="EditMessage.PlayerID" value="@message.PlayerID" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default" /> | <a role="button" style="text-decoration:underline;color:blue" onclick="CancelEdit(@message.ID)">Cancel</a>
                </div>
            </form>
        </div>
        <div id="MessageText_@message.ID">
            <p style="white-space: pre-wrap;">@message.Text</p>
            <span>
                @{
                    bool isAllowedToEditMessage = Model.IsAllowedToEditMessage(message);
                    bool isAllowedToDeleteMessage = Model.IsAllowedToDeleteMessage(message);
                }
                @if (isAllowedToEditMessage)
                {
                    <a role="button" style="text-decoration:underline;color:blue" onclick="EditText(@message.ID)">Edit</a>
                }
                @if (isAllowedToEditMessage && isAllowedToDeleteMessage)
                {
                    <span>&nbsp;|&nbsp;</span>
                }
                @if (isAllowedToDeleteMessage)
                {
                    <a asp-page-handler="DeleteMessage" asp-route-messageId="@message.ID" asp-route-puzzleId="@message.PuzzleID" asp-route-teamId="@message.TeamID" asp-route-playerId="@message.PlayerID" onclick="return confirm('Are you sure you want to delete this message?')">Delete</a>
                }
            </span>
        </div>
    </div>
    shouldMakeDark = !shouldMakeDark;
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewMessage.Text" class="control-label">Message</label>
                @if (Model.PuzzleState.IsEmailOnlyMode)
                {
                    <p>Use this message to fully explain your thought process so we know you're not randomly spamming attempts!</p>
                }
                else
                {
                    <p>The more details you add here, the more helpful the responses you'll get will be!</p>
                }
                <textarea asp-for="NewMessage.Text" class="form-control" rows="4" placeholder="Type message here" autocomplete="off"></textarea>
                <span asp-validation-for="NewMessage.Text" class="text-danger"></span>
                <input type="hidden" asp-for="NewMessage.ThreadId" value="@Model.NewMessage.ThreadId" />
                <input type="hidden" asp-for="NewMessage.EventID" value="@Model.NewMessage.EventID" />
                <input type="hidden" asp-for="NewMessage.Subject" value="@Model.NewMessage.Subject" />
                <input type="hidden" asp-for="NewMessage.PuzzleID" value="@Model.NewMessage.PuzzleID" />
                <input type="hidden" asp-for="NewMessage.TeamID" value="@Model.NewMessage.TeamID" />
                <input type="hidden" asp-for="NewMessage.IsFromGameControl" value="@Model.NewMessage.IsFromGameControl" />
                <input type="hidden" asp-for="NewMessage.SenderID" value="@Model.NewMessage.SenderID" />
                <input type="hidden" asp-for="NewMessage.PlayerID" value="@Model.NewMessage.PlayerID" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@if (Model.IsAllowedToClaimMessage() && Model.Messages.Count > 0)
{
    Message lastMessage = Model.Messages.Last();
    <form method="post">
        @if (lastMessage.ClaimerID.HasValue)
        {
            <br/>
            <p>Question has already been claimed by @lastMessage.Claimer.Name</p>
            <button type="submit" asp-page-handler="UnclaimThread" asp-route-messageId="@lastMessage.ID" asp-route-puzzleId="@lastMessage.PuzzleID" asp-route-teamId="@lastMessage.TeamID" asp-route-playerId="@lastMessage.PlayerID">Unclaim question</button>
        }
        else
        {
            <br />
            <button type="submit" asp-page-handler="ClaimThread" asp-route-messageId="@lastMessage.ID" asp-route-puzzleId="@lastMessage.PuzzleID" asp-route-teamId="@lastMessage.TeamID" asp-route-playerId="@lastMessage.PlayerID">Claim question</button>
        }
    </form>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
