@page "/{eventId}/{eventRole}/Thread/{puzzleId}"
@model ServerCore.Pages.Threads.ThreadModel

@{
    ViewData["Title"] = "Puzzle thread";
    ViewData["AdminRoute"] = "/Threads";
    ViewData["AuthorRoute"] = "/Threads";
    ViewData["PlayRoute"] = "/Threads";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
}

<h2>Help thread</h2>
<div>
    <a asp-page="/Puzzles/Index">Back to puzzle list</a>
</div>

<h4>Thread for puzzle @Model.Puzzle.Name</h4>
<hr />
@foreach(var message in Model.Messages)
{
    <div class="row">
        ------------------------<br/>
        <p>[@message.DateTimeInUtc] @message.Sender.Name</p>
        <p>@message.Text</p>
        <a asp-page-handler="DeleteMessage" asp-route-messageId="@message.ID" asp-route-puzzleId="@message.PuzzleID">Delete</a>
        ------------------------<br />
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewMessage.Text" class="control-label"></label>
                <input asp-for="NewMessage.Text" class="form-control" placeholder="Type message here"/>
                <span asp-validation-for="NewMessage.Text" class="text-danger"></span>
                <input type="hidden" asp-for="PuzzleId" value="@Model.NewMessage.ThreadId" />
                <input type="hidden" asp-for="NewMessage.ThreadId" value="@Model.NewMessage.ThreadId" />
                <input type="hidden" asp-for="NewMessage.EventID" value="@Model.NewMessage.EventID" />
                <input type="hidden" asp-for="NewMessage.Subject" value="@Model.NewMessage.Subject" />
                <input type="hidden" asp-for="NewMessage.PuzzleID" value="@Model.NewMessage.PuzzleID" />
                <input type="hidden" asp-for="NewMessage.TeamID" value="@Model.NewMessage.TeamID" />
                <input type="hidden" asp-for="NewMessage.IsFromGameControl" value="@Model.NewMessage.IsFromGameControl" />
                <input type="hidden" asp-for="NewMessage.SenderID" value="@Model.NewMessage.SenderID" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
