@page "/{eventId}/{eventRole}/Pieces/Delete/{puzzleId}"
@model ServerCore.Pages.Pieces.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>@Model.Piece.Puzzle.Name:  Delete piece</h2>
<div>
    <a asp-page="./Index" asp-route-puzzleid="@Model.PuzzleId">Cancel</a>
</div>

<h3>Are you sure you want to delete this piece?</h3>
<div>
    <h4>Piece</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Puzzle
        </dt>
        <dd>
            @Model.Piece.Puzzle.Name
        </dd>
        <dt>
            ProgressLevel
        </dt>
        <dd>
            @Model.Piece.ProgressLevel
        </dd>
        <dt>
            Contents
        </dt>
        <dd>
            @Model.Piece.Contents
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Piece.ID" />
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>
