@page "/{eventId}/{eventRole}/Events/Delete"
@model ServerCore.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete event";
    ViewData["AdminRoute"] = "/Events/Delete";
    ViewData["AuthorRoute"] = "/EventSpecific/Index";
    ViewData["PlayRoute"] = "/EventSpecific/Index";
}

<h2>@Model.Event.Name: Delete</h2>
<div>
    <a asp-page="./Details">Cancel</a>
</div>

<h3>Are you sure you want to delete this event?</h3>
<div>
    <hr />
    <table class="table-definitions">
        <tr>
            <td>
                Name
            </td>
            <td>
                @Model.Event.Name
            </td>
        </tr>
        <tr>
            <td>
                UrlString
            </td>
            <td>
                @Model.Event.UrlString
            </td>
        </tr>
        <tr>
            <td>
                HomePartial
            </td>
            <td>
                    @Model.Event.HomePartial
            </td>
        </tr>
        <tr>
            <td>
                MaxNumberOfTeams
            </td>
            <td>
                @Model.Event.MaxNumberOfTeams
            </td>
        </tr>
        <tr>
            <td>
                MaxTeamSize
            </td>
            <td>
                @Model.Event.MaxTeamSize
            </td>
        </tr>
        <tr>
            <td>
                MaxExternalsPerTeam
            </td>
            <td>
                @Model.Event.MaxExternalsPerTeam
            </td>
        </tr>
        <tr>
            <td>
                IsRemote
            </td>
            <td>
                @Model.Event.IsRemote
            </td>
        </tr>
        <tr>
            <td>
                AllowsRemote
            </td>
            <td>
                @Model.Event.AllowsRemote
            </td>
        </tr>
        <tr>
            <td>
                IsInternEvent
            </td>
            <td>
                @Model.Event.IsInternEvent
            </td>
        </tr>
        <tr>
            <td>
                EventHasSwag
            </td>
            <td>
                @Model.Event.HasSwag
            </td>
        </tr>
        <tr>
            <td>
                HideHints
            </td>
            <td>
                HasTShirts
            </td>
        </tr>
        <tr>
            <td>
                @Model.Event.HasTShirts
            </td>
            <td>
                HasIndividualLunch
            </td>
        </tr>
        <tr>
            <td>
                @Model.Event.HasIndividualLunch
            </td>
            <td>
                @Model.Event.HideHints
            </td>
        </tr>
        <tr>
            <td>
                TeamRegistrationBegin
            </td>
            <td>
                @Model.Event.TeamRegistrationBegin
            </td>
        </tr>
        <tr>
            <td>
                TeamRegistrationEnd
            </td>
            <td>
                @Model.Event.TeamRegistrationEnd
            </td>
        </tr>
        <tr>
            <td>
                TeamNameChangeEnd
            </td>
            <td>
                @Model.Event.TeamNameChangeEnd
            </td>
        </tr>
        <tr>
            <td>
                TeamMembershipChangeEnd
            </td>
            <td>
                @Model.Event.TeamMembershipChangeEnd
            </td>
        </tr>
        <tr>
            <td>
                TeamMiscDataChangeEnd
            </td>
            <td>
                @Model.Event.TeamMiscDataChangeEnd
            </td>
        </tr>
        <tr>
            <td>
                TeamDeleteEnd
            </td>
            <td>
                @Model.Event.TeamDeleteEnd
            </td>
        </tr>
        <tr>
            <td>
                EventBegin
            </td>
            <td>
                @Model.Event.EventBegin
            </td>
        </tr>
        <tr>
            <td>
                AnswerSubmissionEnd
            </td>
            <td>
                @Model.Event.AnswerSubmissionEnd
            </td>
        </tr>
        <tr>
            <td>
                AnswersAvailableBegin
            </td>
            <td>
                @Model.Event.AnswersAvailableBegin
            </td>
        </tr>
        <tr>
            <td>
                StandingsAvailableBegin
            </td>
            <td>
                @Model.Event.StandingsAvailableBegin
            </td>
        </tr>
        <tr>
            <td>
                StandingsOverride
            </td>
            <td>
                @Model.Event.StandingsOverride
            </td>
        </tr>
        <tr>
            <td>
                ShowFastestSolves
            </td>
            <td>
                @Model.Event.ShowFastestSolves
            </td>
        </tr>
        <tr>
            <td>
                AllowFeedback
            </td>
            <td>
                @Model.Event.AllowFeedback
            </td>
        </tr>
    </table>

    <form method="post">
        <input type="hidden" asp-for="Event.ID" />
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>
