@page "/{eventId}/{eventRole}/Events/Delete"
@model ServerCore.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete event";
    ViewData["AdminRoute"] = "/Events/Delete";
    ViewData["AuthorRoute"] = "/EventSpecific/Index";
    ViewData["PlayRoute"] = "/EventSpecific/Index";
}

<style>
    .details-list > div:nth-child(odd) {
        font-weight: bold;
    }

    .details-list > div:nth-child(even) {
        margin-bottom: 15px;
    }
</style>

<h2>@Model.Event.Name: Delete</h2>
<div>
    <a asp-page="./Details">Cancel</a>
</div>

<h3>Are you sure you want to delete this event?</h3>
<hr />
<div class="details-list">
    <h4>General Properties</h4><div></div>
    <div>
        Name
    </div>
    <div>
        @Model.Event.Name
    </div>
    <div>
        UrlString
    </div>
    <div>
        @Model.Event.UrlString
    </div>
    <div>
        ContactEmail
    </div>
    <div>
        @Model.Event.ContactEmail
    </div>
    <div>
        Copyright
    </div>
    <div>
        @Model.Event.Copyright
    </div>
    <div>
        ShowFastestSolves
    </div>
    <div>
        @Model.Event.ShowFastestSolves
    </div>
    <div>
        StandingsOverride
    </div>
    <div>
        @Model.Event.StandingsOverride
    </div>
    <div>
        AllowBlazor
    </div>
    <div>
        @Model.Event.AllowBlazor
    </div>
    <div>
        IsAlphaTestingEvent
    </div>
    <div>
        @Model.Event.IsAlphaTestingEvent
    </div>
    <div>
        HomePartial
    </div>
    <div>
        @Model.Event.HomePartial
    </div>
    <h4>Times</h4><div></div>
    <div>
        TeamRegistrationBegin
    </div>
    <div>
        @Model.Event.TeamRegistrationBegin
    </div>
    <div>
        TeamRegistrationEnd
    </div>
    <div>
        @Model.Event.TeamRegistrationEnd
    </div>
    <div>
        TeamNameChangeEnd
    </div>
    <div>
        @Model.Event.TeamNameChangeEnd
    </div>
    <div>
        TeamMembershipChangeEnd
    </div>
    <div>
        @Model.Event.TeamMembershipChangeEnd
    </div>
    <div>
        TeamMiscDataChangeEnd
    </div>
    <div>
        @Model.Event.TeamMiscDataChangeEnd
    </div>
    <div>
        LunchReportDate
    </div>
    <div>
        @Model.Event.LunchReportDate
    </div>
    <div>
        TeamDeleteEnd
    </div>
    <div>
        @Model.Event.TeamDeleteEnd
    </div>
    <div>
        EventBegin
    </div>
    <div>
        @Model.Event.EventBegin
    </div>
    <div>
        AnswerSubmissionEnd
    </div>
    <div>
        @Model.Event.AnswerSubmissionEnd
    </div>
    <div>
        AnswersAvailableBegin
    </div>
    <div>
        @Model.Event.AnswersAvailableBegin
    </div>
    <div>
        StandingsAvailableBegin
    </div>
    <div>
        @Model.Event.StandingsAvailableBegin
    </div>
    <h4>Puzzle Options</h4><div></div>
    <div>
        SinglePlayerPuzzleTitle
    </div>
    <div>
        @Model.Event.SinglePlayerPuzzleTitle
    </div>
    <div>
        TermForGroup
    </div>
    <div>
        @Model.Event.TermForGroup
    </div>
    <div>
        EmbedPuzzles
    </div>
    <div>
        @Model.Event.EmbedPuzzles
    </div>
    <div>
        HideHints
    </div>
    <div>
        @Model.Event.HideHints
    </div>
    <div>
        AllowFeedback
    </div>
    <div>
        @Model.Event.AllowFeedback
    </div>
    <div>
        ShouldShowHelpMessageOnlyToAuthor
    </div>
    <div>
        @Model.Event.ShouldShowHelpMessageOnlyToAuthor
    </div>
    <div>
        LockoutIncorrectGuessLimit
    </div>
    <div>
        @Model.Event.LockoutIncorrectGuessLimit
    </div>
    <div>
        LockoutIncorrectGuessPeriod
    </div>
    <div>
        @Model.Event.LockoutIncorrectGuessPeriod
    </div>
    <div>
        LockoutDurationMultiplier
    </div>
    <div>
        @Model.Event.LockoutDurationMultiplier
    </div>
    <div>
        MaxSubmissionCount
    </div>
    <div>
        @Model.Event.MaxSubmissionCount
    </div>
    <h4>Team Options</h4><div></div>
    <div>
        MaxNumberOfTeams
    </div>
    <div>
        @Model.Event.MaxNumberOfTeams
    </div>
    <div>
        MaxTeamSize
    </div>
    <div>
        @Model.Event.MaxTeamSize
    </div>
    <div>
        MaxExternalsPerTeam
    </div>
    <div>
        @Model.Event.MaxExternalsPerTeam
    </div>
    <div>
        IsRemote
    </div>
    <div>
        @Model.Event.IsRemote
    </div>
    <div>
        AllowsRemote
    </div>
    <div>
        @Model.Event.AllowsRemote
    </div>
    <div>
        IsInternEvent
    </div>
    <div>
        @Model.Event.IsInternEvent
    </div>
    <h4>Swag</h4><div></div>
    <div>
        HasSwag
    </div>
    <div>
        @Model.Event.HasSwag
    </div>
    <div>
        HasTShirts
    </div>
    <div>
        @Model.Event.HasTShirts
    </div>
    <div>
        HasIndividualLunch
    </div>
    <div>
        @Model.Event.HasIndividualLunch
    </div>
    <div>
        EventHasTeamSwag
    </div>
    <div>
        @Model.Event.EventHasTeamSwag
    </div>
    <div>
        PlayersPerLunch
    </div>
    <div>
        @Model.Event.PlayersPerLunch
    </div>
    <div>
        DefaultLunch
    </div>
    <div>
        @Model.Event.DefaultLunch
    </div>
    <div>
        LunchOptions
    </div>
    <div>
        @Model.Event.LunchOptions
    </div>
    <div>
        LunchDescription
    </div>
    <div>
        @Model.Event.LunchDescription
    </div>
</div>

<form method="post">
    <input type="hidden" asp-for="Event.ID" />
    <input type="submit" value="Delete" class="btn btn-default" />
</form>
