@page "/{eventId}/{eventRole}/Events/Details"
@model ServerCore.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Event details";
    ViewData["AdminRoute"] = "/Events/Details";
    ViewData["AuthorRoute"] = "/EventSpecific/Index";
    ViewData["PlayRoute"] = "/EventSpecific/Index";
}

<h2>@Model.Event.Name: Details</h2>
<h3><span style="color: red">ALL TIMES UTC! Current time is @DateTime.UtcNow.ToShortTimeString()</span></h3>

<a asp-page="./Edit">Edit</a> | <a asp-page="./Import">Import</a> | <a asp-page="./Delete">Delete</a>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Model.Event.Name
        </dd>
        <dt>
            UrlString
        </dt>
        <dd>
            @Model.Event.UrlString
        </dd>
        <dt>
            HomePartial
        </dt>
        <dd>
            @Model.Event.HomePartial
        </dd>
        <dt>
            ContactEmail
        </dt>
        <dd>
            @Model.Event.ContactEmail
        </dd>
        <dt>
            MaxNumberOfTeams
        </dt>
        <dd>
            @Model.Event.MaxNumberOfTeams
        </dd>
        <dt>
            MaxTeamSize
        </dt>
        <dd>
            @Model.Event.MaxTeamSize
        </dd>
        <dt>
            MaxExternalsPerTeam
        </dt>
        <dd>
            @Model.Event.MaxExternalsPerTeam
        </dd>
         <dt>
            IsRemote
        </dt>
        <dd>
            @Model.Event.IsRemote
        </dd>
        <dt>
            AllowsRemote
        </dt>
        <dd>
            @Model.Event.AllowsRemote
        </dd>
        <dt>
            IsInternEvent
        </dt>
        <dd>
            @Model.Event.IsInternEvent
        </dd>
        <dt>
            EventHasSwag
        </dt>
        <dd>
            @Model.Event.HasSwag
        </dd>
        <dt>
            HasTShirts
        </dt>
        <dd>
            @Model.Event.HasTShirts
        </dd>
        <dt>
            HasIndividualLunch
        </dt>
        <dd>
            @Model.Event.HasIndividualLunch
        </dd>
        <dt>
            HideHints
        </dt>
        <dd>
            @Model.Event.HideHints
        </dd>
        <dt>
            TeamRegistrationBegin
        </dt>
        <dd>
            @Model.Event.TeamRegistrationBegin
        </dd>
        <dt>
            TeamRegistrationEnd
        </dt>
        <dd>
            @Model.Event.TeamRegistrationEnd
        </dd>
        <dt>
            TeamNameChangeEnd
        </dt>
        <dd>
            @Model.Event.TeamNameChangeEnd
        </dd>
        <dt>
            TeamMembershipChangeEnd
        </dt>
        <dd>
            @Model.Event.TeamMembershipChangeEnd
        </dd>
        <dt>
            TeamMiscDataChangeEnd
        </dt>
        <dd>
            @Model.Event.TeamMiscDataChangeEnd
        </dd>
        <dt>
            TeamDeleteEnd
        </dt>
        <dd>
            @Model.Event.TeamDeleteEnd
        </dd>
        <dt>
            EventBegin
        </dt>
        <dd>
            @Model.Event.EventBegin
        </dd>
        <dt>
            AnswerSubmissionEnd
        </dt>
        <dd>
            @Model.Event.AnswerSubmissionEnd
        </dd>
        <dt>
            AnswersAvailableBegin
        </dt>
        <dd>
            @Model.Event.AnswersAvailableBegin
        </dd>
        <dt>
            StandingsAvailableBegin
        </dt>
        <dd>
            @Model.Event.StandingsAvailableBegin
        </dd>
        <dt>
            StandingsOverride
        </dt>
        <dd>
            @Model.Event.StandingsOverride
        </dd>
        <dt>
            ShowFastestSolves
        </dt>
        <dd>
            @Model.Event.ShowFastestSolves
        </dd>
        <dt>
            AllowFeedback
        </dt>
        <dd>
            @Model.Event.AllowFeedback
        </dd>
    </dl>
</div>
