@page "/{eventId}/{eventRole}/Events/Edit"
@model ServerCore.Pages.Events.EditModel

@{
    ViewData["Title"] = "Edit event";
    ViewData["AdminRoute"] = "/Events/Edit";
    ViewData["AuthorRoute"] = "/EventSpecific/Index";
    ViewData["PlayRoute"] = "/EventSpecific/Index";
}

<h2>@Model.Event.Name: Edit</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EditableEvent.ID" />
            <div class="form-group">
                <label asp-for="EditableEvent.Name" class="control-label"></label>
                <input asp-for="EditableEvent.Name" class="form-control" />
                <span asp-validation-for="EditableEvent.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.UrlString" class="control-label"></label>
                <input asp-for="EditableEvent.UrlString" class="form-control" />
                <span asp-validation-for="EditableEvent.UrlString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.HomePartial" class="control-label"></label>
                <input asp-for="EditableEvent.HomePartial" class="form-control" />
                <span asp-validation-for="EditableEvent.HomePartial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.MaxNumberOfTeams" class="control-label"></label>
                <input asp-for="EditableEvent.MaxNumberOfTeams" class="form-control" />
                <span asp-validation-for="EditableEvent.MaxNumberOfTeams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.MaxTeamSize" class="control-label"></label>
                <input asp-for="EditableEvent.MaxTeamSize" class="form-control" />
                <span asp-validation-for="EditableEvent.MaxTeamSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.MaxExternalsPerTeam" class="control-label"></label>
                <input asp-for="EditableEvent.MaxExternalsPerTeam" class="form-control" />
                <span asp-validation-for="EditableEvent.MaxExternalsPerTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EditableEvent.IsInternEvent" /> @Html.DisplayNameFor(model => model.EditableEvent.IsInternEvent)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.TeamRegistrationBegin" class="control-label"></label>
                <input asp-for="EditableEvent.TeamRegistrationBegin" class="form-control" />
                <span asp-validation-for="EditableEvent.TeamRegistrationBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.TeamRegistrationEnd" class="control-label"></label>
                <input asp-for="EditableEvent.TeamRegistrationEnd" class="form-control" />
                <span asp-validation-for="EditableEvent.TeamRegistrationEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.TeamNameChangeEnd" class="control-label"></label>
                <input asp-for="EditableEvent.TeamNameChangeEnd" class="form-control" />
                <span asp-validation-for="EditableEvent.TeamNameChangeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.TeamMembershipChangeEnd" class="control-label"></label>
                <input asp-for="EditableEvent.TeamMembershipChangeEnd" class="form-control" />
                <span asp-validation-for="EditableEvent.TeamMembershipChangeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.TeamMiscDataChangeEnd" class="control-label"></label>
                <input asp-for="EditableEvent.TeamMiscDataChangeEnd" class="form-control" />
                <span asp-validation-for="EditableEvent.TeamMiscDataChangeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.TeamDeleteEnd" class="control-label"></label>
                <input asp-for="EditableEvent.TeamDeleteEnd" class="form-control" />
                <span asp-validation-for="EditableEvent.TeamDeleteEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.EventBegin" class="control-label"></label>
                <input asp-for="EditableEvent.EventBegin" class="form-control" />
                <span asp-validation-for="EditableEvent.EventBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.AnswerSubmissionEnd" class="control-label"></label>
                <input asp-for="EditableEvent.AnswerSubmissionEnd" class="form-control" />
                <span asp-validation-for="EditableEvent.AnswerSubmissionEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.AnswersAvailableBegin" class="control-label"></label>
                <input asp-for="EditableEvent.AnswersAvailableBegin" class="form-control" />
                <span asp-validation-for="EditableEvent.AnswersAvailableBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.StandingsAvailableBegin" class="control-label"></label>
                <input asp-for="EditableEvent.StandingsAvailableBegin" class="form-control" />
                <span asp-validation-for="EditableEvent.StandingsAvailableBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EditableEvent.StandingsOverride" /> @Html.DisplayNameFor(model => model.EditableEvent.StandingsOverride)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EditableEvent.ShowFastestSolves" /> @Html.DisplayNameFor(model => model.EditableEvent.ShowFastestSolves)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EditableEvent.AllowFeedback" /> @Html.DisplayNameFor(model => model.EditableEvent.AllowFeedback)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.LockoutIncorrectGuessLimit" class="control-label"></label>
                <input asp-for="EditableEvent.LockoutIncorrectGuessLimit" class="form-control" />
                <span asp-validation-for="EditableEvent.LockoutIncorrectGuessLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.LockoutIncorrectGuessPeriod" class="control-label"></label>
                <input asp-for="EditableEvent.LockoutIncorrectGuessPeriod" class="form-control" />
                <span asp-validation-for="EditableEvent.LockoutIncorrectGuessPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.LockoutDurationMultiplier" class="control-label"></label>
                <input asp-for="EditableEvent.LockoutDurationMultiplier" class="form-control" />
                <span asp-validation-for="EditableEvent.LockoutDurationMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditableEvent.MaxSubmissionCount" class="control-label"></label>
                <input asp-for="EditableEvent.MaxSubmissionCount" class="form-control" />
                <span asp-validation-for="EditableEvent.MaxSubmissionCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
