@page "/{eventId}/{eventRole}/Events/FastestSolves"
@model ServerCore.Pages.Events.FastestSolvesModel

@{
    @using System;
    ViewData["Title"] = "Fastest Solves";
    ViewData["AdminRoute"] = "/Events/FastestSolves";
    ViewData["AuthorRoute"] = "/Events/FastestSolves";
    ViewData["PlayRoute"] = "/Events/FastestSolves";
}

<h2>Fastest Solves</h2>

<table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        Rank
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Puzzles[0].Puzzle.Name)
                    </th>
                    <th>
                        Teams
                    </th>
                    <th>
                        First
                    </th>
                    <th>
                        Second
                    </th>
                    <th>
                        Third
                    </th>
                </tr>
            </thead>
            <tbody>
        @for (int y = 0; y < Model.Puzzles.Count; y++) {
            var puzzle = Model.Puzzles[y];
            Func<TimeSpan, string> convertTimeToString = ts => string.Format("{0:00}.{1:00}:{2:00}:{3:00}", ts.TotalDays, Math.Abs(ts.Hours), Math.Abs(ts.Minutes), Math.Abs(ts.Seconds));

                <tr>
                    <td>
                        @(puzzle.SortOrder + 1)
                    </td>
                    <td>
                        @(puzzle.Puzzle.Name)
                    </td>
                    <td>
                        @(puzzle.SolveCount)
                    </td>
                    @* TODO: Highlight the cell if this is your team's ID  Same for second and third place. *@
                    <td>
                        @if (puzzle.Fastest.Length >= 1)
                        {
                            <text>@puzzle.Fastest[0].Name (@convertTimeToString(puzzle.Fastest[0].Time.Value))</text>
                        }
                    </td>
                    <td>
                        @if (puzzle.Fastest.Length >= 2)
                        {
                            <text>@puzzle.Fastest[1].Name (@convertTimeToString(puzzle.Fastest[1].Time.Value))</text>
                        }
                    </td>
                    <td>
                        @if (puzzle.Fastest.Length >= 3)
                        {
                            <text>@puzzle.Fastest[2].Name (@convertTimeToString(puzzle.Fastest[2].Time.Value))</text>
                        }
                    </td>
                </tr>
        }
            </tbody>
</table>
