@page
@model ServerCore.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Event Index";
}

<h2>All Events</h2>

<p>
    <a asp-page="Create">Create New</a><br />
    <a asp-page="CreateDemo">Create New with demo content</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].UrlString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].IsInternEvent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Events) {
        <tr>
            <td>
                <a asp-page="/EventInformation/Index" asp-route-eventId="@item.EventID" asp-route-eventRole="play">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInternEvent)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-eventId="@item.EventID" asp-route-eventRole="admin">Edit</a> |
                <a asp-page="./Details" asp-route-eventId="@item.EventID" asp-route-eventRole="admin">Details</a> |
                <a asp-page="./Delete" asp-route-eventId="@item.EventID" asp-route-eventRole="admin">Delete</a> |
                <a asp-page="./Import" asp-route-eventId="@item.EventID" asp-route-eventRole="admin">Import</a> |
                <a asp-page="/Puzzles/Index" asp-route-eventId="@item.EventID" asp-route-eventRole="admin">Puzzles</a> |
                <a asp-page="/Teams/Index" asp-route-eventId="@item.EventID" asp-route-eventRole="admin">Teams</a> |
                <a asp-page="./Players" asp-route-eventId="@item.EventID" asp-route-eventRole="admin">Players</a> |
                <a asp-page="./Standings" asp-route-eventId="@item.EventID" asp-route-eventRole="admin">Standings</a> |
                <a asp-page="./FastestSolves" asp-route-eventId="@item.EventID" asp-route-eventRole="admin">Fastest</a> |
                <a asp-page="./Map" asp-route-eventId="@item.EventID" asp-route-eventRole="admin">Map</a>
            </td>
        </tr>
}
    </tbody>
</table>
