@page "/{eventId}/{eventRole}/Events/Players"
@model ServerCore.Pages.Events.PlayersModel
@{
    ViewData["Title"] = "Players";
}

<h2>Players</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Player @Html.DisplayNameFor(model => model.Players[0].Member.ID)
            </th>
            <th>
                Player @Html.DisplayNameFor(model => model.Players[0].Member.Name)
            </th>
            <th>
                Player @Html.DisplayNameFor(model => model.Players[0].Member.Email)
            </th>
            <th>
                Team @Html.DisplayNameFor(model => model.Players[0].Team.ID)
            </th>
            <th>
                Team @Html.DisplayNameFor(model => model.Players[0].Team.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Email)
                </td>
                <td>
                    <a asp-page="/Teams/Details" asp-route-id="@item.Team.ID">@Html.DisplayFor(modelItem => item.Team.ID)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h3>All player e-mails</h3>

<p>@Model.Emails</p>

<div>
    <a asp-page="./Index">Back to event list</a>
</div>