@page "/{eventId}/{eventRole}/Events/Players"
@model ServerCore.Pages.Events.PlayersModel
@{
    ViewData["Title"] = "Users";
    ViewData["AdminRoute"] = "/Events/Players";
    ViewData["AuthorRoute"] = "/EventSpecific/Index";
    ViewData["PlayRoute"] = "/EventSpecific/Index";
}

<h2>Users</h2>

<h3>Admins</h3>
<a asp-page="/Events/AddAdminOrAuthor" asp-route-addAdmin=true>Add admin</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Player @Html.DisplayNameFor(model => model.Admins[0].Name)
            </th>
            <th>
                Player @Html.DisplayNameFor(model => model.Admins[0].Email)
            </th>
            <th>
                Player @Html.DisplayNameFor(model => model.Admins[0].EmployeeAlias)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Admins)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeAlias)
                </td>
                <td>
                    <a asp-page-handler="RemoveAdmin" asp-route-userId=@item.ID>Remove</a>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h4>All admin e-mails</h4>

<p>@Model.AdminEmails</p>

<h3>Authors</h3>
<a asp-page="/Events/AddAdminOrAuthor" asp-route-addAdmin=false>Add author</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Player @Html.DisplayNameFor(model => model.Authors[0].Name)
            </th>
            <th>
                Player @Html.DisplayNameFor(model => model.Authors[0].Email)
            </th>
            <th>
                Player @Html.DisplayNameFor(model => model.Authors[0].EmployeeAlias)
            </th>
            <th>
                Puzzle count...?
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Authors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeAlias)
                </td>
                <td>
                    hi
                </td>
                <td>
                    <a asp-page-handler="RemoveAuthor" asp-route-userId=@item.ID>Remove</a>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h4>All author e-mails</h4>

<p>@Model.AuthorEmails</p>

<h3>Players</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Player @Html.DisplayNameFor(model => model.Players[0].Member.Name)
            </th>
            <th>
                Player @Html.DisplayNameFor(model => model.Players[0].Member.Email)
            </th>
            <th>
                Player @Html.DisplayNameFor(model => model.Players[0].Member.EmployeeAlias)
            </th>
            <th>
                Team @Html.DisplayNameFor(model => model.Players[0].Team.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.EmployeeAlias)
                </td>
                <td>
                    <a asp-page="/Teams/Members" asp-route-teamId="@item.Team.ID">@Html.DisplayFor(modelItem => item.Team.Name)</a>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h4>All player e-mails</h4>

<p>@Model.PlayerEmails</p>