@page "/{eventId}/{eventRole}/Events/Players"
@model ServerCore.Pages.Events.PlayersModel
@{
    ViewData["Title"] = "Users";
    ViewData["AdminRoute"] = "/Events/Players";
    ViewData["AuthorRoute"] = "/EventSpecific/Index";
    ViewData["PlayRoute"] = "/EventSpecific/Index";
}
@using Microsoft.AspNetCore.Http.Extensions @* for GetEncodedUrl *@

<h2>Users</h2>

<h3>Admins</h3>
<a asp-page="/Events/AddAdminOrAuthor" asp-route-addAdmin=true>Add admin</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                EmployeeAlias
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Admins)
        {
            <tr>
                <td>
                    @if (Model.LoggedInUser.IsGlobalAdmin)
                    {
                        <a asp-area="Identity" asp-page="/Account/Edit" asp-route-userId="@item.ID" asp-route-returnUrl="@Request.GetEncodedUrl()">@item.Name</a>
                    }
                    else
                    {
                        @item.Name
                    }
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.EmployeeAlias
                </td>
                <td>
                    <a asp-page-handler="RemoveAdmin" asp-route-userId=@item.ID onclick="return confirm('Are you sure you want to remove @item.Name from the event admins?')">Remove</a>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h4>All admin e-mails</h4>

<p>@Model.AdminEmails</p>

<h3>Authors</h3>
<a asp-page="/Events/AddAdminOrAuthor" asp-route-addAdmin=false>Add author</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                EmployeeAlias
            </th>
            <th>
                Puzzle count
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Authors)
        {
            <tr>
                <td>
                    @if (Model.LoggedInUser.IsGlobalAdmin)
                    {
                        <a asp-area="Identity" asp-page="/Account/Edit" asp-route-userId="@item.Item1.ID" asp-route-returnUrl="@Request.GetEncodedUrl()">@item.Item1.Name</a>
                    }
                    else
                    {
                        @item.Item1.Name
                    }
                </td>
                <td>
                    @item.Item1.Email
                </td>
                <td>
                    @item.Item1.EmployeeAlias
                </td>
                <td>
                    @item.Item2
                </td>
                <td>
                    <a asp-page-handler="RemoveAuthor" asp-route-userId=@item.Item1.ID onclick="return confirm('Are you sure you want to remove @item.Item1.Name from the event authors?')">Remove</a>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h4>All author e-mails</h4>

<p>@Model.AuthorEmails</p>

<h3>Players</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                EmployeeAlias
            </th>
            <th>
                Team Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {
            <tr>
                <td>
                    @if (Model.LoggedInUser.IsGlobalAdmin)
                    {
                        <a asp-area="Identity" asp-page="/Account/Edit" asp-route-userId="@item.ID" asp-route-returnUrl="@Request.GetEncodedUrl()">@item.Name</a>
                    }
                    else
                    {
                        @item.Name
                    }
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.EmployeeAlias
                </td>
                <td>
                    <a asp-page="/Teams/Details" asp-route-teamId="@item.TeamID">@item.TeamName</a>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h4>All player e-mails</h4>
<a asp-page="./Mailer" asp-route-group="Players">Email all players from the bulk mailer</a>

<p>@Model.PlayerEmails</p>