@page "/{eventId}/{eventRole}/Events/SinglePlayerPuzzleStateMap"
@model ServerCore.Pages.Events.SinglePlayerPuzzleStateMapModel

@{
    @using Helpers;

    ViewData["Title"] = "SinglePlayerPuzzle State Map";
    ViewData["AdminRoute"] = "/Events/SinglePlayerPuzzleStateMap";
    ViewData["AuthorRoute"] = "/Events/SinglePlayerPuzzleStateMap";
}

<h2>Single Player Puzzle State Map</h2>
<table class="table table-condensed ph-statemap">
    <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Name
            </th>
            <th>
                Puzzles
            </th>
            <th>
                Score
            </th>
            @foreach (MapModel.PuzzleStats puzzleStat in Model.PuzzleStatList)
            {
                <th>
                    <a asp-page="/Puzzles/Status" asp-route-puzzleId="@puzzleStat.Puzzle.ID">@puzzleStat.Puzzle.PlaintextName (@puzzleStat.SolveCount)</a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int playerIndex = 0; playerIndex < Model.PlayerStatList.Count; playerIndex++)
        {
            var playerStat = Model.PlayerStatList[playerIndex];
            var rank = playerIndex + 1;
            <tr>
                <td>
                    @rank
                </td>
                <td>
                    <a asp-page="/Player/Details" asp-route-id="@playerStat.Player.ID">@(playerStat.Player.Name)</a>
                </td>
                <td>
                    @playerStat.SolveCount
                </td>
                <td>
                    @playerStat.Score
                </td>
                @for (int puzzleIndex = 0; puzzleIndex < Model.PuzzleStatList.Count; puzzleIndex++)
                {
                    var statState = Model.StateMap[playerIndex, puzzleIndex] ?? SinglePlayerPuzzleStateMapModel.StateStats.Default;

                    <td class="stateparent">
                        <a class="@statState.Classes" asp-page="/Submissions/SinglePlayerPuzzleAuthorIndex" asp-route-puzzleId="@Model.PuzzleStatList[puzzleIndex].Puzzle.ID" asp-route-playerId="@Model.PlayerStatList[playerIndex].Player.ID">
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

