@page "/{eventId}/{eventRole}/Events/Standings"
@model ServerCore.Pages.Events.StandingsModel

@{
    ViewData["Title"] = "Standings";
    ViewData["AdminRoute"] = "/Events/Standings";
    ViewData["AuthorRoute"] = "/Events/Standings";
    ViewData["PlayRoute"] = "/Events/Standings";
}

<h2>Standings</h2>

<table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        <a asp-page="./Standings" asp-route-sort="@(Model.SortForColumnLink(StandingsModel.SortOrder.RankAscending, StandingsModel.SortOrder.RankDescending))">
                            Rank
                        </a>
                    </th>
                    <th>
                        <a asp-page="./Standings" asp-route-sort="@(Model.SortForColumnLink(StandingsModel.SortOrder.NameAscending, StandingsModel.SortOrder.NameDescending))">
                            @Html.DisplayNameFor(model => model.Teams[0].Team.Name)
                        </a>
                    </th>
                    <th>
                        <a asp-page="./Standings" asp-route-sort="@(Model.SortForColumnLink(StandingsModel.SortOrder.PuzzlesDescending, StandingsModel.SortOrder.PuzzlesAscending))">
                            Puzzles
                        </a>
                    </th>
                    <th>
                        <a asp-page="./Standings" asp-route-sort="@(Model.SortForColumnLink(StandingsModel.SortOrder.ScoreDescending, StandingsModel.SortOrder.ScoreAscending))">
                            @Html.DisplayNameFor(model => model.Teams[0].Score)
                        </a>
                    </th>
                    @if (!Model.Event.HideHints)
                    {
                        <th>
                            <a asp-page="./Standings" asp-route-sort="@(Model.SortForColumnLink(StandingsModel.SortOrder.HintsEarnedDescending, StandingsModel.SortOrder.HintsEarnedAscending))">
                                Hint Coins Earned
                            </a>
                        </th>
                        <th>
                            <a asp-page="./Standings" asp-route-sort="@(Model.SortForColumnLink(StandingsModel.SortOrder.HintsUsedDescending, StandingsModel.SortOrder.HintsUsedAscending))">
                                Hint Coins Used
                            </a>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
        @for (int y = 0; y < Model.Teams.Count; y++) {
            var team = Model.Teams[y];
            var finished = team.FinalMetaSolveTime < DateTime.MaxValue;
                <tr style="font-weight:@(finished ? "bold" : "normal")">
                    <td>
                        @(team.Rank)
                    </td>
                    <td>
                        @(team.Team.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => team.SolveCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => team.Score)
                    </td>
                    @if (!Model.Event.HideHints)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => team.Team.HintCoinsEarned)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => team.Team.HintCoinsUsed)
                        </td>
                    }
                </tr>
        }
            </tbody>
</table>
