<!DOCTYPE html>

@{ Layout = "../Shared/_Layout.cshtml"; }

@if (Model.EventRole == ModelBases.EventRole.admin)
{
    <div>
        <a asp-page="./Index">Back to team list</a> ||
        <a asp-page="./Details" asp-route-id="@Model.Team.ID">Details</a> |
        <a asp-page="./Members" asp-route-id="@Model.Team.ID">Members</a> |
        <a asp-page="./Status" asp-route-id="@Model.Team.ID">Status</a>
    </div>
}
@if (Model.EventRole == ModelBases.EventRole.author)
{
    <div>
        <a asp-page="./Index">Back to team list</a>
    </div>
}
<!-- Players can have a null team and still reach a default team page -->
@if (Model.EventRole == ModelBases.EventRole.play && Model.Team != null)
{
    <div>
        <a asp-page="./Details" asp-route-id="@Model.Team.ID">Details</a> |
        <a asp-page="./Members" asp-route-id="@Model.Team.ID">Members</a>
    </div>
}

<body>
    <div>
        @RenderBody()
    </div>
</body>
<div> @RenderSection("Scripts", required: false) </div>