<!DOCTYPE html>

@{ Layout = "../_Layout.cshtml"; }

Current team ID: @Model.Team.ID    ||
<a asp-page="./Index">Back to team list</a>    ||
<a asp-page="./Edit" asp-route-id="@Model.Team.ID">Edit</a>    |
<a asp-page="./Details" asp-route-id="@Model.Team.ID">Details</a>    |
<a asp-page="./Delete" asp-route-id="@Model.Team.ID">Delete</a>    |
<a asp-page="./Status" asp-route-id="@Model.Team.ID">Status</a>    |
<a asp-page="./Members" asp-route-id="@Model.Team.ID">Members</a>

<body>
    <div>
        @RenderBody()
    </div>
</body>
<div> @RenderSection("Scripts", required: false) </div>