@page "/{eventId}/{eventRole}/Teams/AddMember"
@model ServerCore.Pages.Teams.AddMemberModel

@{
    ViewData["Title"] = "AddMember";
    Layout = "_teamLayout.cshtml";
}

<h2>Add a team member</h2>

<h4>Select a user to add to team "@Model.MyTeam.Name"</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-page-handler="AddMember" asp-route-teamId="@Model.MyTeam.ID" asp-route-userId="@item.ID">Add</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    TEMPORARY - use this to add a random user so you can use this page. TODO: Remove once users have their own add page
    <a asp-page-handler="AddUser" asp-route-teamId="@Model.MyTeam.ID">TEMP add user</a>
</div>

<div>
    <a asp-page="Members" asp-route-id="@Model.MyTeam.ID">Back to team member list</a>
</div>