@page "/{eventId}/{eventRole}/Teams/{teamId}/Answers"
@model ServerCore.Pages.Teams.AnswersModel
@{
    ViewData["Title"] = "Answers";
    ViewData["AdminRoute"] = "/Puzzles/Index";
    ViewData["AuthorRoute"] = "/Puzzles/Index";
}

<h2>Correct Answers</h2>
<hr />
<div>
    <a asp-page="./AllSubmissions" asp-route-teamId="@Model.TeamID"> Show all submissions</a>  |  <a asp-page="/Puzzles/Play" asp-route-teamId="@Model.TeamID">Back to puzzle list</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Submission
            </th>
            <th>
                <a asp-page="./Answers" asp-route-teamId="@Model.TeamID" asp-route-sort="@(Model.SortForColumnLink(AnswersModel.SortOrder.PuzzleNameAscending, AnswersModel.SortOrder.PuzzleNameDescending))">
                    Puzzle
                </a>
            </th>
            <th>
                <a asp-page="./Answers" asp-route-teamId="@Model.TeamID" asp-route-sort="@(Model.SortForColumnLink(AnswersModel.SortOrder.GroupAscending, AnswersModel.SortOrder.GroupDescending))">
                    @(Model.Event.TermForGroup ?? "Group")
                </a>
            </th>
            <th>
                <a asp-page="./Answers" asp-route-teamId="@Model.TeamID" asp-route-sort="@(Model.SortForColumnLink(AnswersModel.SortOrder.SolvedTimeAscending, AnswersModel.SortOrder.SolvedTimeDecending))">
                    Solved Time
                </a>
            </th>
            <th>
                <a asp-page="./Answers" asp-route-teamId="@Model.TeamID" asp-route-sort="@(Model.SortForColumnLink(AnswersModel.SortOrder.SubmitterAscending, AnswersModel.SortOrder.SubmitterDescending))">
                    Submitter Name
                </a>
            </th>
            <th>
                Response
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CorrectSubmissions)
        {
            <tr>
                @if (string.IsNullOrEmpty(item.SubmissionText))
                {
                    <td class="puzzle-list-submission-customizable">
                        None (marked as solved by admin)
                    </td>
                }
                else
                {
                    <td class="puzzle-list-submission-customizable">
                        @item.SubmissionText
                    </td>
                }
                <td class="puzzle-list-title-customizable">
                    @ServerCore.Helpers.RawHtmlHelper.Display(item.Name, Model.Event.ID, Html)
                </td>
                <td class="puzzle-list-group-customizable">
                    @ServerCore.Helpers.RawHtmlHelper.Display(item.Group, Model.Event.ID, Html)
                </td>
                <td>
                    @Html.Raw(Model.LocalTime(item.SolvedTime))
                </td>
                <td>
                    @item.SubmitterName
                </td>
                <td class="puzzle-list-response-customizable">
                    @ServerCore.Helpers.RawHtmlHelper.Display(item.ResponseText, Model.Event.ID, Html)
                </td>
            </tr>
        }
    </tbody>
</table>