@page "/{eventId}/{eventRole}/Teams/{teamId}/Answers"
@model ServerCore.Pages.Teams.AnswersModel
@{
    ViewData["Title"] = "Answers";
    ViewData["AdminRoute"] = "/Puzzles/Index";
    ViewData["AuthorRoute"] = "/Puzzles/Index";
}

<h2>Unlocked Answers</h2>
<hr />
<div>
    <a asp-page="/Puzzles/Play" asp-route-teamId="@Model.TeamID">Back to puzzle list</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Answers" asp-route-teamId="@Model.TeamID" asp-route-sort="@(Model.SortForColumnLink(AnswersModel.SortOrder.SolvedTimeAscending, AnswersModel.SortOrder.SolvedTimeDecending))">
                    Solved Time
                </a>
            </th>
            <th>
                <a asp-page="./Answers" asp-route-teamId="@Model.TeamID" asp-route-sort="@(Model.SortForColumnLink(AnswersModel.SortOrder.GroupAscending, AnswersModel.SortOrder.GroupDescending))">
                    Group
                </a>
            </th>
            <th>
                <a asp-page="./Answers" asp-route-teamId="@Model.TeamID" asp-route-sort="@(Model.SortForColumnLink(AnswersModel.SortOrder.PuzzleNameAscending, AnswersModel.SortOrder.PuzzleNameDescending))">
                    Puzzle
                </a>
            </th>
            <th>
                Submission
            </th>
            <th>
                Response
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CorrectSubmissions)
        {
        <tr>
            <td>
                @Html.Raw(Model.LocalTime(item.SolvedTime))
            </td>
            <td>
                @item.Group
            </td>
            <td>
                @item.Name
            </td>
            @if(string.IsNullOrEmpty(item.SubmissionText)) {
                <td>
                    None (marked as solved by admin)
                </td>
            }
            else {
                <td>
                    @item.SubmissionText
                </td>
            }
            <td>
                @item.ResponseText
            </td>
        </tr>
        }
    </tbody>
</table>