@page "/{eventId}/{eventRole}/Teams/{teamId}/Delete"
@model ServerCore.Pages.Teams.DeleteModel

@{
    ViewData["Title"] = "Delete Team";
    //Needs route data - ViewData["AdminRoute"] = "/Teams/Delete";
    //Needs route data - ViewData["AuthorRoute"] = "/Teams/Status";
    //Needs route data - ViewData["PlayRoute"] = "/Teams/Delete";
    Layout = "_teamLayout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Team.Name): Delete</h2>
<div>
    <a asp-page="./Details" asp-route-teamId="@Model.Team.ID">Cancel</a>
</div>

<h3>Are you sure you want to delete your team?</h3>
<div>
    <hr />
    <dl>
        <!-- class="dl-horizontal"> -->
        <dt>
            Team name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
        <!-- TODO: Conditionally show/hide based on event property (not needed for PuzzleHunt)
    <dt>
        @Html.DisplayNameFor(model => model.Team.RoomID)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Team.RoomID)
    </dd>
    -->
        <dt>
            Team room
        </dt>
        <dd>
            @if (Model.Team.CustomRoom == null)
            {
                <div>(none)</div>
            }
            else
            {
                @Html.DisplayFor(model => model.Team.CustomRoom)
            }
        </dd>
        <dt>
            Primary phone number
        </dt>
        <dd>
            @if (Model.Team.PrimaryPhoneNumber == null)
            {
                <div>(none)</div>
            }
            else
            {
                @Html.DisplayFor(model => model.Team.PrimaryPhoneNumber)
            }
        </dd>
        <dt>
            Secondary phone number
        </dt>
        <dd>
            @if (Model.Team.SecondaryPhoneNumber == null)
            {
                <div>(none)</div>
            }
            else
            {
                @Html.DisplayFor(model => model.Team.SecondaryPhoneNumber)
            }
        </dd>
        <dt>
            Primary contact e-mail 
        </dt>
        <dd>
            @if (Model.Team.PrimaryContactEmail == null)
            {
                <div>(none)</div>
            }
            else
            {
                @Html.DisplayFor(model => model.Team.PrimaryContactEmail)
            }
        </dd>
        <dt>
            Allow unsolicited applications
        </dt>
        <dd>
            @if (Model.Team.IsLookingForTeammates)
            {
                <div>Yes (this team shows up on the list of teams that anyone can apply to)</div>
            }
            else
            {
                <div>No (only people who are sent an application link directly will be able to apply)</div>
            }
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Team.ID" />
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>
