@page "/{eventId}/{eventRole}/Teams/{teamId}/Delete"
@model ServerCore.Pages.Teams.DeleteModel

@{
    ViewData["Title"] = "Delete Team";
    //Needs route data - ViewData["AdminRoute"] = "/Teams/Delete";
    //Needs route data - ViewData["AuthorRoute"] = "/Teams/Status";
    //Needs route data - ViewData["PlayRoute"] = "/Teams/Delete";
    Layout = "_teamLayout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Team.Name): Delete</h2>
<div>
    <a asp-page="./Details" asp-route-teamId="@Model.Team.ID">Cancel</a>
</div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.RoomID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.RoomID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.CustomRoom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.CustomRoom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.PrimaryContactEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.PrimaryContactEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.PrimaryPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.PrimaryPhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.SecondaryPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.SecondaryPhoneNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Team.ID" />
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>
