@page "/{eventId}/{eventRole}/Teams/{teamId}/Details"
@model ServerCore.Pages.Teams.DetailsModel

@{
    ViewData["Title"] = "Team Details";
    //Needs route data - ViewData["AdminRoute"] = "/Teams/Details";
    //Needs route data - ViewData["AuthorRoute"] = "/Teams/Details";
    //Needs route data - ViewData["PlayRoute"] = "/Teams/Details";
    Layout = "_teamLayout.cshtml";
}
@using Microsoft.AspNetCore.Http.Extensions @* for GetEncodedUrl *@
@using System.Text @* for StringBuilder *@
@using ServerCore.DataModel;

@{
    var mailtoUrl = new StringBuilder("mailto:");

    if (Model.Team.IsDisqualified)
    {
        // to: Add the proper support agent as recipient
        mailtoUrl.Append(Model.Event?.ContactEmail ?? "puzzhunt@microsoft.com");
        // CC the team's email address in case the account sending the e-mail is a personal one that's not associated with the event
        if (Model.Team.PrimaryContactEmail != null)
        {
            mailtoUrl.Append("?cc=");
            mailtoUrl.Append(Uri.EscapeDataString(Model.Team.PrimaryContactEmail));
        }

        // subject: Make this be about this event
        mailtoUrl.Append("&subject=");
        mailtoUrl.Append(Uri.EscapeDataString("[" + Model.Event.Name + "]"));
        // subject: Make this be from this team
        mailtoUrl.Append(Uri.EscapeDataString(" [" + Model.Team.Name + "]"));

        // request requalification
        // subject: Add the disqualified signifier
        mailtoUrl.Append(Uri.EscapeDataString(" [⚠ Team Disqualified ⚠]"));
        // body: Invite team member to give details
        mailtoUrl.Append("&body=");
        mailtoUrl.Append(Uri.EscapeDataString("Use this mail to explain anything you think we need to know."));
        mailtoUrl.Append(Environment.NewLine);
        mailtoUrl.Append(Environment.NewLine);
    }
}

<!--TODO: Consider moving if other pages use this format-->
<style>
    .column {
        float: left;
        width: calc(50% - 40px);
        margin: 0px 20px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<h2>@(Model.Team.Name) Team</h2>

@if (Model.Team.IsDisqualified)
{
    <div class="alert alert-danger" role="alert">
        Your team has been disqualified from the event. You are welcome to
        continue solving puzzles for fun, but your team will no longer appear
        in the final standings and is not eligible for any awards or prizes
        that the event may offer. If you have any questions, please contact
        <a href="@mailtoUrl"> this email</a>.
    </div>
}

@if (Model.EventRole != ModelBases.EventRole.author)
{
    <div>
        <a asp-page="./Edit" asp-route-teamId="@Model.Team.ID">Edit team details</a> |
        @if (Model.EventRole == ModelBases.EventRole.admin)
        {
            <text>
                <a asp-page="/Events/Mailer" asp-route-group="Players" asp-route-teamId="@Model.Team.ID">Mail Players</a> |
            </text>
        }
        @if (!Model.Team.AutoTeamType.HasValue || Model.EventRole == ModelBases.EventRole.admin)
        {
            <text>
                <a asp-page="./Delete" asp-route-teamId="@Model.Team.ID">Delete team</a> |
            </text>
        }
        @if (Model.EventRole == ModelBases.EventRole.admin)
        {
            <a asp-page="./Disqualify"
               asp-route-teamId="@Model.Team.ID">
                @(Model.Team.IsDisqualified ? "Requalify Team" : "Disqualify Team")
            </a>
        }
        <br />
    </div>
}

<div>
    <hr />

    <div class="row">
        <div class="column">
            <div class="row">
                <h3>Team details</h3>
                <dl>
                    <!-- class="dl-horizontal"> -->
                    <dt>
                        Team name
                    </dt>
                    <dd>
                        @Model.Team.Name
                    </dd>
                    <!-- TODO: Add new room dropdown here and clean up custom room-->
                    @if (!Model.Event.IsRemote)
                    {
                        <dt>
                            Team room
                        </dt>
                        <dd>
                            @if (Model.Team.CustomRoom == null)
                            {
                                @if (Model.Event.IsInternEvent)
                                {
                                    <div>@Model.TeamRoom</div>
                                }
                                else
                                {
                                    <div>(none - please enter this before the start of the event)</div>
                                }
                            }
                            else
                            {
                                @Model.Team.CustomRoom
                            }
                        </dd>

                        <dt>
                            Primary phone number
                        </dt>
                        <dd>
                            @if (Model.Team.PrimaryPhoneNumber == null)
                            {
                                <div>(none - please enter this before the start of the event)</div>
                            }
                            else
                            {
                                @Model.Team.PrimaryPhoneNumber
                            }
                        </dd>
                        <dt>
                            Secondary phone number (optional)
                        </dt>
                        <dd>
                            @if (Model.Team.SecondaryPhoneNumber == null)
                            {
                                <div>(none)</div>
                            }
                            else
                            {
                                @Model.Team.SecondaryPhoneNumber
                            }
                        </dd>
                    }
                    <dt>
                        Primary contact e-mail
                    </dt>
                    <dd>
                        @if (Model.Team.PrimaryContactEmail == null)
                        {
                            <div>(none)</div>
                        }
                        else
                        {
                            @Model.Team.PrimaryContactEmail
                        }
                    </dd>
                    @if (Model.Event.AllowsRemoteTeams)
                    {
                        <dt>
                            Team is playing remotely
                        </dt>
                        <dd>
                            @if (Model.Event.AllowsRemoteTeams)
                            {
                                if (Model.Team.IsRemoteTeam)
                                {
                                    <div>Yes</div>
                                }
                                else
                                {
                                    <div>No</div>
                                }
                            }
                        </dd>
                    }
                    @if (!Model.Team.AutoTeamType.HasValue)
                    {
                        <dt>
                            Allow unsolicited applications
                        </dt>
                        <dd>
                            @if (Model.Team.IsLookingForTeammates)
                            {
                                <div>Yes (this team shows up on the list of teams that anyone can apply to)</div>
                            }
                            else
                            {
                                <div>No (only people who are sent an application link directly will be able to apply)</div>
                            }
                        </dd>
                        <dt>
                            Bio for unsolicited applications (visible to applicants)
                        </dt>
                        <dd>
                            @if (Model.Team.Bio == null)
                            {
                                <div>(none)</div>
                            }
                            else
                            {
                                @Model.Team.Bio
                            }
                        </dd>
                    }
                    @if (Model.Event.HasPlayerClasses && Model.EventRole != ModelBases.EventRole.admin)
                    {
                        <dt>
                            <br /><br />

                            @if (Model.Event.PlayerClassName != null)
                            {
                                <span>@Model.Event.PlayerClassName Override</span>
                            }
                            else
                            {
                                <span>Player Class Override</span>
                            }
                        </dt>

                        <div>
                            <component type="typeof(ServerCore.Pages.Components.PlayerClassSelectComponent)" render-mode="Server" param-UserId="@Model.LoggedInUser.ID" param-EventId="@Model.Event.ID" param-CurrentUserEventRole="@Model.EventRole" param-IsTempClass="true" />
                        </div>
                    }
                </dl>
            </div>
            @if (Model.Event.EventHasTeamSwag)
            {
                <div class="row">
                    <h2>Lunch</h2>
                    @if (!string.IsNullOrWhiteSpace(Model.Event.LunchDescription))
                    {
                        <p>@Model.Event.LunchDescription</p>
                    }
                    <p>
                        Your team can currently have @Model.EditableLunches item(s). If your team wants to opt out of one of the items, select &quot;Skip Item&quot;. If you cannot have any of the options offered due to dietary restrictions, please email <a href="mailto:puzzhunt@microsoft.com">puzzhunt@microsoft.com</a> with details and we'll find an alternative.
                        @if (Model.EditableLunches < Model.SoftMaxLunches && Model.Event.CanChangeLunch)
                        {
                            <span>
                                Recruit @(Model.Event.PlayersPerLunch - ((Model.EligibleForLunch - 1) % Model.Event.PlayersPerLunch)) more in-person player(s) to get another item, up to @Model.GlobalMaxLunches items total!
                            </span>
                        }
                    </p>
                    <br />
                    @if (Model.Lunches.Count < Model.EditableLunches && Model.Event.CanChangeLunch)
                    {
                        <h3>Add an item</h3>
                        <form method="post">
                            <select asp-for="NewLunch">
                                <option value="">Select an option</option>
                                <option value="Skip Item">Skip Item</option>
                                @foreach (var lunchOption in DetailsModel.LunchOptions)
                                {
                                    <option value="@lunchOption">@lunchOption</option>
                                }
                            </select>
                            <button type="submit" asp-page-handler="AddLunch" asp-route-teamId="@Model.Team.ID" asp-route-newLunch="@Model.NewLunch">Add</button>
                        </form>
                        <br />
                    }
                    <h3>Order:</h3>
                    @foreach (TeamLunch lunch in Model.Lunches)
                    {
                        <p>
                            <span>
                                @lunch.Lunch
                                @if (Model.Event.CanChangeLunch)
                                {
                                    <a asp-page-handler="RemoveLunch" asp-route-teamId="@Model.Team.ID" asp-route-lunchId="@lunch.ID">Remove</a>
                                }
                            </span>
                        </p>
                    }
                    @if ((Model.Lunches.Count < Model.EditableLunches) && !(string.IsNullOrWhiteSpace(Model.Event.DefaultLunch)))
                    {
                        <div>You have not chosen @(Model.EditableLunches - Model.Lunches.Count) item(s) yet. If you do not choose, each one will be @Model.Event.DefaultLunch.</div>
                    }
                </div>
            }
        </div>
        <div class="column">
            @if (Model.Team.AutoTeamType != null)
            {
                <div class="alert alert-warning" role="alert">
                    This team was automatically created and more members will be automatically added. You can still invite friends if you want.
                </div>
            }

            <div>
                <h3>Current members (@(Model.Members.Count))</h3>
                @{
                    bool canAdd = Model.EventRole == ModelBases.EventRole.admin;
                }

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            EmployeeAlias
                        </th>
                        @if (Model.Event.HasPlayerClasses)
                        {
                            <th>
                                @if (Model.Event.PlayerClassName != null)
                                {
                                    @Model.Event.PlayerClassName
                                }
                                else
                                {
                                    <span>Player Class</span>
                                }
                            </th>

                            @if (Model.EventRole == ModelBases.EventRole.admin)
                            {
                                <th>
                                    @if (Model.Event.PlayerClassName != null)
                                    {
                                        <span>@Model.Event.PlayerClassName Override</span>
                                    }
                                    else
                                    {
                                        <span>Player Class Override</span>
                                    }
                                </th>
                            }
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Members)
                    {
                        <tr>
                            <td>
                                @if (Model.LoggedInUser.IsGlobalAdmin)
                                {
                                    <a asp-area="Identity" asp-page="/Account/Edit" asp-route-userId="@item.Member.ID" asp-route-returnUrl="@Request.GetEncodedUrl()">@item.Member.Name</a>
                                }
                                else
                                {
                                    @item.Member.Name
                                }
                            </td>
                            <td>
                                @item.Member.Email
                            </td>
                            <td>
                                @if (item.Member.EmployeeAlias == null)
                                {
                                    <p>N/A</p>
                                }
                                else
                                {
                                    @item.Member.EmployeeAlias
                                }
                            </td>
                            <td>
                                @if (Model.Event.HasPlayerClasses)
                                {
                                    if (!Model.Event.CanChangePlayerClass && Model.EventRole != ModelBases.EventRole.admin)
                                    {
                                        <div>
                                            <p>@(item.Class?.Name ?? $"No {Model.Event.PlayerClassName} selected")</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <component type="typeof(ServerCore.Pages.Components.PlayerClassSelectComponent)" render-mode="Server" param-UserId="@item.Member.ID" param-EventId="@Model.Event.ID" param-CurrentUserEventRole="@Model.EventRole" param-IsTempClass="false" />
                                        </div>
                                    }
                                }
                            </td>
                            @if (Model.EventRole == ModelBases.EventRole.admin)
                            {
                                <td>
                                    @if (Model.Event.HasPlayerClasses)
                                    {
                                        <div>
                                            <component type="typeof(ServerCore.Pages.Components.PlayerClassSelectComponent)" render-mode="Server" param-UserId="@item.Member.ID" param-EventId="@Model.Event.ID" param-CurrentUserEventRole="@Model.EventRole" param-IsTempClass="true" />
                                        </div>
                                    }
                                </td>
                            }
                            @if (Model.EventRole == ModelBases.EventRole.admin || Model.Event.IsTeamMembershipChangeActive)
                            {
                                if (Model.EventRole == ModelBases.EventRole.play && Model.Members.Count == 1 && !Model.Team.AutoTeamType.HasValue)
                                {
                                    <td>
                                        (Can't remove last member)
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @if (Model.EventRole != ModelBases.EventRole.play || !Model.Team.AutoTeamType.HasValue || item.Member == Model.LoggedInUser)
                                        {
                                            <a asp-page-handler="RemoveMember" asp-route-teamId="@Model.Team.ID" asp-route-teamMemberId="@item.ID" onclick="return confirm('Are you sure you want to remove @item.Member.Name from @Model.Team.Name?')">Remove Player</a>
                                        }
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
            @if (!Model.Event.IsTeamMembershipChangeActive)
            {
                <div class="alert alert-danger" role="alert">
                    This event is not currently open for membership changes.
                </div>
            }
            else if (Model.Members.Count >= Model.Event.MaxTeamSize)
            {
                <div class="alert alert-danger" role="alert">
                    This team is full.
                </div>
            }
            else
            {
                canAdd = true;
            }
            @if (canAdd)
            {
                <h3>Invite teammates</h3>
                <p>Copy the sample e-mail below and send it to teammates to give them a direct link to join this team. The link in the mail has a special code that will auto-approve them for your team.</p>

                @if (!Model.Team.AutoTeamType.HasValue)
                {
                    @if (Model.Team.IsLookingForTeammates)
                    {
                        <p>Note: Your team is currently marked as looking for unsolicited teammates. You may get applications from people who you did not send the link to, and you can approve or ignore those requests by visiting this page. To change this, edit your team details <a asp-page="./Edit" asp-route-teamId="@Model.Team.ID"> here</a>.</p>

                    }
                    else
                    {
                        <p>Note: Your team is currently marked as not looking for unsolicited teammates. Sending this link is the only way people will find your team. To change this, edit your team details <a asp-page="./Edit" asp-route-teamId="@Model.Team.ID"> here</a>.</p>
                    }
                }

                <p id="emailContent">
                    ------------------
                    <br /><br />Hello,
                    <br /><br />I've created a team to participate in @Model.Event.Name! Click <a asp-page="./Apply" asp-route-eventRole="play" asp-route-teamId="@Model.Team.ID" asp-route-password="@Model.Team.Password">HERE</a> to join my team.
                    <br /><br />Thanks,
                    <br />@Model.LoggedInUser.Name
                    <br /><br />------------------
                </p>
                <h3>Pending requests  (@Model.Users.Count)</h3>
                <div>
                    @if (Model.EventRole == ModelBases.EventRole.admin)
                    {
                        <a asp-page="./AddMember" asp-route-teamId="@Model.Team.ID">Add a different user</a>
                    }
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                EmployeeAlias
                            </th>
                            <th>
                                Approve application
                            </th>
                            <th>
                                Reject application
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>
                                    @item.Item1.Name
                                </td>
                                <td>
                                    @item.Item1.Email
                                </td>
                                <td>
                                    @if (item.Item1.EmployeeAlias == null)
                                    {
                                        <p>N/A</p>
                                    }
                                    else
                                    {
                                        @item.Item1.EmployeeAlias
                                    }
                                </td>
                                <td>
                                    <a asp-page-handler="AddMember" asp-route-teamId="@Model.Team.ID" asp-route-applicationId="@item.Item2">Approve</a>
                                </td>
                                <td>
                                    <a asp-page-handler="RejectMember" asp-route-teamId="@Model.Team.ID" asp-route-applicationId="@item.Item2">Reject</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>