@page "/{eventId}/{eventRole}/Teams/Hints"
@model ServerCore.Pages.Teams.HintsModel

@{
    ViewData["Title"] = "Hints";
    ViewData["AdminRoute"] = "/Puzzles/Index";
    ViewData["AuthorRoute"] = "/Puzzles/Index";
    //Needs route data - ViewData["PlayRoute"] = "/Teams/Hints";
}

<h2>Hints for @Model.PuzzleName</h2>

You have @Model.Team.HintCoinCount hint ticket(s).

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hints[0].Hint.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hints[0].Hint.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hints[0].Hint.Cost)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hint in Model.Hints)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => hint.Hint.Description)
                </td>
                <td>
                    @if (hint.IsUnlocked)
                    {
                        @Html.DisplayFor(modelItem => hint.Hint.Content)
                    }
                </td>
                <td>
                    @if (!hint.IsUnlocked)
                    {
                        @Html.DisplayFor(modelItem => hint.Hint.Cost)
                    }
                </td>
                <td>
                    @if (!hint.IsUnlocked)
                    {
                    <form method="post">
                        @if (Model.Team.HintCoinCount >= hint.Hint.Cost)
                        {
                            <button type="submit" asp-route-hintId="@hint.Hint.Id" asp-route-teamID="@Model.Team.ID" asp-route-puzzleID="@Model.PuzzleID" asp-page-handler="Unlock" onclick="return confirm('Are you sure you want to spend @hint.Hint.Cost tickets to find out &quot;@hint.Hint.Description&quot;?')">Unlock</button>
                        }
                        else
                        {
                            <button type="submit" asp-page-handler="Unlock" disabled>Unlock</button>
                        }
                    </form>
                    }
                </td>
                <td>
                    @if (Model.Team.HintCoinCount < hint.Hint.Cost)
                    {
                        <div>@(hint.Hint.Cost - Model.Team.HintCoinCount) more ticket(s) required</div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
