@page "/{eventId}/{eventRole}/Teams"
@model ServerCore.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Team Index";
    ViewData["AdminRoute"] = "/Teams/Index";
    ViewData["AuthorRoute"] = "/Teams/Index";
    ViewData["PlayRoute"] = "/Teams/Details";
}

<h2>All Teams</h2>

<p>
    @if (Model.EventRole == ModelBases.EventRole.admin)
    {
        if (!Model.Event.IsTeamRegistrationActive)
        {
            <div class="alert alert-danger" role="alert">
                This event is not currently open for registration.
            </div>
        }
        else if (Model.Teams.Count >= Model.Event.MaxNumberOfTeams)
        {
            <div class="alert alert-danger" role="alert">
                This event is full.
            </div>
        }

        <a asp-page="Create">Create New</a>
    }
</p>
<h4>Registered Teams: @Model.Teams.Count/@Model.Event.MaxNumberOfTeams, Registered Players: @Model.PlayerCount/@(Model.Event.MaxNumberOfTeams * Model.Event.MaxTeamSize)</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Key.Name)
            </th>
            <th>
                Size
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Key.RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Key.CustomRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Key.PrimaryContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Key.PrimaryPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Key.SecondaryPhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.CustomRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.PrimaryContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.PrimaryPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.SecondaryPhoneNumber)
                </td>
                <td></td>
                <td>
                    <a asp-page="./Status" asp-route-teamId="@item.Key.ID">Status</a>
                    @if (Model.EventRole == ModelBases.EventRole.admin)
                    {
                        <div>
                            |
                            <a asp-page="./Details" asp-route-teamId="@item.Key.ID">View</a> |
                            <a asp-page="./Members" asp-route-teamId="@item.Key.ID">Members</a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
