@page "/{eventId}/{eventRole}/Teams"
@model ServerCore.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Team Index";
    ViewData["AdminRoute"] = "/Teams/Index";
    ViewData["AuthorRoute"] = "/Teams/Index";
    ViewData["PlayRoute"] = "/Teams/Details";
}

<h2>All Teams</h2>

<p>
    @if (Model.EventRole == ModelBases.EventRole.admin)
    {
        if (!Model.Event.IsTeamRegistrationActive)
        {
            <div class="alert alert-danger" role="alert">
                This event is not currently open for registration.
            </div>
        }
        else if (Model.Teams.Count >= Model.Event.MaxNumberOfTeams)
        {
            <div class="alert alert-danger" role="alert">
                This event is full.
            </div>
        }

        <a asp-page="Create">Create New</a>
    }
</p>
<h4>Registered Teams: @Model.Teams.Count/@Model.Event.MaxNumberOfTeams, Registered Players: @Model.PlayerCount/@(Model.Event.MaxNumberOfTeams * Model.Event.MaxTeamSize)</h4>
@if (Model.EventRole == ModelBases.EventRole.admin)
{
    <a asp-page="/Events/Mailer" asp-route-group="PrimaryContacts">Email all team primary contacts from the bulk mailer</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Name)
            </th>
            <th>
                Size
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().CustomRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().PrimaryContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().PrimaryPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().SecondaryPhoneNumber)
            </th>
            <th>
                Shortcuts
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teams) {
        <tr>
            <td>
                <a asp-page="./Status" asp-route-teamId="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.PlayerCountByTeamID[item.ID])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryPhoneNumber)
            </td>
            <td>
                @if (Model.EventRole == ModelBases.EventRole.admin)
                {
                    <div class="shortcut-menu-dropdown">
                        <span><a>Jump to...</a></span>
                        <div class="shortcut-menu-dropdown-content">
                            <a asp-page="./Details" asp-route-teamId="@item.ID">Details</a><br />
                            <a asp-page="./Edit" asp-route-teamId="@item.ID">Edit</a><br />
                            <a asp-page="/Events/Mailer" asp-route-group="Players" asp-route-teamId="@item.ID">Mail Players</a><br />
                            ------<br />
                            <a asp-page="./Status" asp-route-teamId="@item.ID">Status</a><br />
                            <a asp-page="/Submissions/AuthorIndex" asp-route-teamId="@item.ID">Submissions</a><br />
                            <a asp-page="/Hints/AuthorIndex" asp-route-teamId="@item.ID">Hints Taken</a><br />
                            ------<br />
                            <a asp-page="./Delete" asp-route-teamId="@item.ID">Delete</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="shortcut-menu-dropdown">
                        <span><a>Jump to...</a></span>
                        <div class="shortcut-menu-dropdown-content">
                            <a asp-page="./Status" asp-route-teamId="@item.ID">Status</a><br />
                            <a asp-page="/Submissions/AuthorIndex" asp-route-teamId="@item.ID">Submissions</a><br />
                            <a asp-page="/Hints/AuthorIndex" asp-route-teamId="@item.ID">Hints Taken</a><br />
                        </div>
                    </div>
                }
            </td>
        </tr>
}
    </tbody>
</table>
