@page "/{eventId}/{eventRole}/Teams"
@model ServerCore.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Team Index";
}

<h2>All Teams</h2>

<p>
    @if (Model.Event.IsTeamRegistrationActive && Model.EventRole == ModelBases.EventRole.admin)
    {
        <a asp-page="Create">Create New</a>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            This event is not currently open for registration.
        </div>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].CustomRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].PrimaryContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].PrimaryPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].SecondaryPhoneNumber)
            </th>
            @if (!Model.UserOnTeam)
            {
                <th>Join</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teams) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryPhoneNumber)
            </td>
            @if (!Model.UserOnTeam)
            {
            <td>
                <!-- todo: this link doesn't trigger the action-->
                <a asp-action="JoinTeam" asp-route-teamId="@item.ID">Join</a>
            </td>
            }
            <td>

            </td>
            <td>
                <a asp-page="./Status" asp-route-teamId="@item.ID">Status</a>
                @if (Model.EventRole == ModelBases.EventRole.admin)
                {
                <div>
                    |
                    <a asp-page="./Details" asp-route-teamId="@item.ID">View</a> |
                    <a asp-page="./Members" asp-route-teamId="@item.ID">Members</a>
                </div>
                }
            </td>
        </tr>
}
    </tbody>
</table>
