@page "/{eventId}/{eventRole}/Teams"
@model ServerCore.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Team Index";
    ViewData["AdminRoute"] = "/Teams/Index";
    ViewData["AuthorRoute"] = "/Teams/Index";
    ViewData["PlayRoute"] = "/Teams/Details";
}

<!-- TODO - figure out why site.min.css isn't working & remove this once it is -->
<!-- Github issue https://github.com/PuzzleServer/mainpuzzleserver/issues/413 -->
<style>
    .shortcut-menu-dropdown {
        position: relative;
        display: inline-block;
    }

    .shortcut-menu-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .shortcut-menu-dropdown:hover .shortcut-menu-dropdown-content {
        display: block;
    }
</style>

<h2>All Teams</h2>

<p>
    @if (Model.EventRole == ModelBases.EventRole.admin)
    {
        if (!Model.Event.IsTeamRegistrationActive)
        {
            <div class="alert alert-danger" role="alert">
                This event is not currently open for registration.
            </div>
        }
        else if (Model.Teams.Count >= Model.Event.MaxNumberOfTeams)
        {
            <div class="alert alert-danger" role="alert">
                This event is full.
            </div>
        }

        <a asp-page="Create">Create New</a>
    }
</p>
<h4>Registered Teams: @Model.Teams.Count/@Model.Event.MaxNumberOfTeams, Registered Players: @Model.PlayerCount/@(Model.Event.MaxNumberOfTeams * Model.Event.MaxTeamSize)</h4>
@if (Model.EventRole == ModelBases.EventRole.admin)
{
    <div>
        Summaries:
        <a asp-page="/Teams/TeamCompositionSummary">Team Composition</a> @("|")
        @if (Model.Event.HasSwag)
        {
            <a asp-page="/Swag/Report">Intern T-shirts and Lunch</a> @("|")
        }
    </div>
    <br />
    <a asp-page="/Events/Mailer" asp-route-group="PrimaryContacts">Email all team primary contacts from the bulk mailer</a> @("|")
    <form>
        <label>Small team threshold: </label><input type="number" min="0" max="99" asp-for="SmallTeamThreshold" />
        <input type="submit" asp-page="/Events/Mailer" asp-route-group="SmallTeams" asp-route-smallTeamThreshold="@Model.SmallTeamThreshold" value="Email small teams" />
    </form>

}
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Size
            </th>
            <th>
                RoomID
            </th>
            <th>
                CustomRoom
            </th>
            <th>
                PrimaryContactEmail
            </th>
            <th>
                PrimaryPhoneNumber
            </th>
            <th>
                SecondaryPhoneNumber
            </th>
            <th>
                IsDisqualified
            </th>
            <th>
                Bio
            </th>
            <th>
                Shortcuts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teams)
        {
            <tr>
                <td>
                    <a asp-page="./Status" asp-route-teamId="@item.ID">@item.Name</a>
                </td>
                <td>
                    @Model.PlayerCountByTeamID[item.ID]
                </td>
                <td>
                    @item.RoomID
                </td>
                <td>
                    @item.CustomRoom
                </td>
                <td>
                    @item.PrimaryContactEmail
                </td>
                <td>
                    @item.PrimaryPhoneNumber
                </td>
                <td>
                    @item.SecondaryPhoneNumber
                </td>
                <td>
                    @if(item.IsDisqualified)
                    {
                        <text>Disqualified</text>
                    }
                </td>
                <td>
                    @item.Bio
                </td>
                <td>
                    @if (Model.EventRole == ModelBases.EventRole.admin)
                    {
                        <div class="shortcut-menu-dropdown">
                            <span><a>Jump to...</a></span>
                            <div class="shortcut-menu-dropdown-content">
                                <a asp-page="./Details" asp-route-teamId="@item.ID">Details</a><br />
                                <a asp-page="./Edit" asp-route-teamId="@item.ID">Edit</a><br />
                                <a asp-page="/Events/Mailer" asp-route-group="Players" asp-route-teamId="@item.ID">Mail Players</a><br />
                                ------<br />
                                <a asp-page="./Status" asp-route-teamId="@item.ID">Status</a><br />
                                <a asp-page="/Submissions/AuthorIndex" asp-route-teamId="@item.ID">Submissions</a><br />
                                @if (!Model.Event.HideHints)
                                {
                                    <a asp-page="/Hints/AuthorIndex" asp-route-teamId="@item.ID">Hints Taken</a><br />
                                }
                                ------<br />
                                <a asp-page="./MergeInto" asp-route-teamId="@item.ID">Merge Into...</a><br/>
                                <a asp-page="./Delete" asp-route-teamId="@item.ID">Delete</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="shortcut-menu-dropdown">
                            <span><a>Jump to...</a></span>
                            <div class="shortcut-menu-dropdown-content">
                                <a asp-page="./Status" asp-route-teamId="@item.ID">Status</a><br />
                                <a asp-page="/Submissions/AuthorIndex" asp-route-teamId="@item.ID">Submissions</a><br />
                                @if (!Model.Event.HideHints)
                                {
                                    <a asp-page="/Hints/AuthorIndex" asp-route-teamId="@item.ID">Hints Taken</a><br />

                                }
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
