@page "/{eventId}/{eventRole}/Teams/List"
@model ServerCore.Pages.Teams.ListModel

@{
    ViewData["Title"] = "Team registration";
    ViewData["AdminRoute"] = "/Teams/Index";
    ViewData["AuthorRoute"] = "/Teams/Index";
    ViewData["PlayRoute"] = "/Teams/List";

    Boolean canRegister = Model.EventRole == ModelBases.EventRole.play && Model.Event.IsTeamMembershipChangeActive && !Model.IsMicrosoftNonIntern;
}

<p>
    @if (Model.IsMicrosoftNonIntern)
    {
        <h2>Registration Not Allowed for @Model.Event.Name</h2>
        <div>
            We are sorry. This is an intern-only event, so no full-time employees or contractors can register.
        </div>
    }
    else if (DateTime.UtcNow < Model.Event.TeamRegistrationBegin)
    {
        <h2>Registration not open yet</h2>
        <div>
            Registration will be open soon.
        </div>
    }
    else if (DateTime.UtcNow > Model.Event.TeamRegistrationEnd)
    {
        <h2>Registration closed</h2>
        <div>
            You are not part of a team for this event, and unfortuantely we're no longer accepting new teams into the event. You can still request to join an existing team.
        </div>
    }
    else if (Model.Teams.Count >= Model.Event.MaxNumberOfTeams)
    {
        <h2>Registration full</h2>
        <div>
            You are not part of a team for this event, and unfortuantely we're no longer accepting new teams into the event. You can still request to join an existing team.
        </div>
    }
    else if (!Model.Event.IsTeamMembershipChangeActive)
    {
        <h2>Registration closed.</h2>
        <div>
            The deadline for creating or joining teams for this event has passed. We hope to see you next time!
        </div>
    }
    else
    {
        <h2>Register for @Model.Event.Name</h2>
        <div>
            You are not yet part of a team for this event. Create a new team or request to join one below. You can request to join one team at a time - check back to see if you've been accepted to a team or to change which team you've applied to.
        </div>
        <a asp-page="Create">Create a new team</a>
    }
</p>
<h4>Total registrations</h4>
Registered Teams: <b>@Model.Teams.Count/@Model.Event.MaxNumberOfTeams</b>, Registered Players: <b>@Model.PlayerCount/@(Model.Event.MaxNumberOfTeams * Model.Event.MaxTeamSize)</b>
@if (Model.Event.IsTeamMembershipChangeActive)
{
    <h4>Teams looking for players</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Team name
                </th>
                <th>
                    Team bio
                </th>
                <th>
                    Current team size
                </th>
                @if (canRegister)
                {
                <th>Request to join</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Teams)
            {
                if (!item.IsLookingForTeammates)
                {
                    continue;
                }

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @Model.PlayerCountByTeamID[item.ID])
                    </td>
                    @if (canRegister)
                    {
                        <td>
                            @if (item == Model.AppliedTeam)
                            {
                                <span><b>Request pending</b></span>
                            }
                            else
                            {
                                <a asp-page="./Apply" asp-route-teamId="@item.ID">Request to join</a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}