@page "/{eventId}/{eventRole}/Teams/Play"
@model ServerCore.Pages.Teams.PlayModel

@{
    ViewData["Title"] = "Play";

    bool showAnswers = Model.Event.AnswersAvailableBegin <= DateTime.UtcNow;
}

<h2>Play</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Play" asp-route-id="@Model.TeamID" asp-route-sort="@(Model.SortForColumnLink(PlayModel.SortOrder.PuzzleAscending, PlayModel.SortOrder.PuzzleDescending))">
                    @Html.DisplayNameFor(model => model.PuzzlesWithState[0].Puzzle.Name)
                </a>
            </th>
            <th>
                <a asp-page="./Play" asp-route-id="@Model.TeamID" asp-route-sort="@(Model.SortForColumnLink(PlayModel.SortOrder.GroupAscending, PlayModel.SortOrder.GroupDescending))">
                    @Html.DisplayNameFor(model => model.PuzzlesWithState[0].Puzzle.Group)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuzzlesWithState[0].Puzzle.OrderInGroup)
            </th>
            <th>
                Puzzle
            </th>
            @if (showAnswers) {
                <th>
                    Answer
                </th>
            }
            <th>
                <a asp-page="./Play" asp-route-id="@Model.TeamID" asp-route-sort="@(Model.SortForColumnLink(PlayModel.SortOrder.SolveAscending, PlayModel.SortOrder.SolveDescending))">
                    Solve
                </a>
            </th>
            <th>
                Hints
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PuzzlesWithState) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Puzzle.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puzzle.Group)
            </td>
            <td>
                @((item.Puzzle.IsMetaPuzzle || item.Puzzle.IsFinalPuzzle) ? "Meta" : item.Puzzle.OrderInGroup.ToString())
            </td>
            <td>
                @if (item.Puzzle.PuzzleFile != null)
                {
                    @Html.ActionLink(item.Puzzle.PuzzleFile.ShortName, "Index", "Files", new { eventId = Model.Event.ID, filename = item.Puzzle.PuzzleFile.ShortName })
                }
            </td>
                @if (showAnswers)
                {
                    <td>        
                        if (item.Puzzle.AnswerFile != null)
                        {
                            @Html.ActionLink(item.Puzzle.AnswerFile.ShortName, "Index", "Files", new { eventId = Model.Event.ID, filename = item.Puzzle.AnswerFile.ShortName })
                        }
                    </td>
                }
            <td>
                <a asp-page="/Submissions/Index" asp-route-puzzleid="@item.Puzzle.ID" asp-route-teamid="@Model.TeamID">
                    @if (item.State.SolvedTime != null)
                    {
                        <text>Solved at </text>@item.State.SolvedTime
                    }
                    else if (@Model.Event.IsAnswerSubmissionActive)
                    {
                        <text>Submit Answer</text>
                    }
                    else
                    {
                        <text>See past submissions</text>
                    }
                </a>
            </td>
            <td>
                <a asp-page="./Hints" asp-route-puzzleid="@item.Puzzle.ID" asp-route-teamid="@Model.TeamID">Hints</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-page="/Teams/Index">Back to Team List</a>
</div>
