
<h1>Create or Join A Team</h1>
<EditForm Model="this">
    <InputRadioGroup Name="SignupPicker" @bind-Value="Strategy">
        <label><InputRadio Name="SignupPicker" Value="@SignupStrategy.Create.ToString()" />Create a team</label>
        <label><InputRadio Name="SignupPicker" Value="@SignupStrategy.Join.ToString()" />Apply for an existing team</label>
        <label><InputRadio Name="SignupPicker" Value="@SignupStrategy.Auto.ToString()" />Choose a team for me</label>
    </InputRadioGroup>
</EditForm>

@switch(Strategy)
{
    case SignupStrategy.Create:
        <CreateTeam Event="@Event" EventRole="@EventRole" LoggedInUserId="@LoggedInUserId" />
        break;
    case SignupStrategy.Join:
        <JoinTeam Event="@Event" EventRole="@EventRole" LoggedInUserId="@LoggedInUserId" />
        break;
    case SignupStrategy.Auto:
        <AutoTeam Event="@Event" EventRole="@EventRole" LoggedInUserId="@LoggedInUserId" />
        break;
    case SignupStrategy.None:
        break;
}

