@page "/{eventId}/{eventRole}/Teams/Status"
@model ServerCore.Pages.Teams.StatusModel

@{
    ViewData["Title"] = "Team Status";
    //Needs route data - ViewData["AdminRoute"] = "/Teams/Status";
    //Needs route data - ViewData["AuthorRoute"] = "/Teams/Status";
    ViewData["PlayRoute"] = "/Teams/Play";
    Layout = "_teamLayout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Team.Name): Status</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Status" asp-route-teamId="@Model.Team.ID" asp-route-sort="@(Model.SortForColumnLink(StatusModel.SortOrder.PuzzleAscending, StatusModel.SortOrder.PuzzleDescending))">
                    @Html.DisplayNameFor(model => model.PuzzleStatePerTeam[0].Puzzle) @Html.DisplayNameFor(model => model.PuzzleStatePerTeam[0].Puzzle.Name)
                </a>
            </th>
            <th>
                <a asp-page="./Status" asp-route-teamId="@Model.Team.ID" asp-route-sort="@(Model.SortForColumnLink(StatusModel.SortOrder.UnlockAscending, StatusModel.SortOrder.UnlockDescending))">
                    @Html.DisplayNameFor(model => model.PuzzleStatePerTeam[0].UnlockedTime)
                </a>
            </th>
            <th>
                <a asp-page="./Status" asp-route-teamId="@Model.Team.ID" asp-route-sort="@(Model.SortForColumnLink(StatusModel.SortOrder.SolveAscending, StatusModel.SortOrder.SolveDescending))">
                    @Html.DisplayNameFor(model => model.PuzzleStatePerTeam[0].SolvedTime)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuzzleStatePerTeam[0].Printed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuzzleStatePerTeam[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuzzleStatePerTeam[0].IsEmailOnlyMode)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PuzzleStatePerTeam)
        {
            <tr>
                <td>
                    <a asp-page="../Puzzles/Status" asp-route-puzzleid="@item.Puzzle.ID">@Html.DisplayFor(modelItem => item.Puzzle.Name)</a>
                </td>
                <td>
                    @if (item.UnlockedTime == null)
                    {
                        <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-puzzleId="@item.Puzzle.ID" asp-route-teamId="@Model.Team.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark @(item.Puzzle.Name) as unlocked?')">Unlock</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.UnlockedTime)
                        <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-puzzleId="@item.Puzzle.ID" asp-route-teamId="@Model.Team.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark @(item.Puzzle.Name) as locked?')"> X</a>
                    }
                </td>
                <td>
                    @if (item.SolvedTime == null)
                    {
                        <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-puzzleId="@item.Puzzle.ID" asp-route-teamId="@Model.Team.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark @(item.Puzzle.Name) as solved?')">Solve</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.SolvedTime)
                        <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-puzzleId="@item.Puzzle.ID" asp-route-teamId="@Model.Team.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark @(item.Puzzle.Name) as unsolved?')"> X</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Printed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @if (item.IsEmailOnlyMode == true)
                    {
                        <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-teamId="@Model.Team.ID" asp-route-puzzleid="@item.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to release @(item.Puzzle.Name) from email-only mode?')">Release</a>
                    }
                    else
                    {
                        <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-teamId="@Model.Team.ID" asp-route-puzzleid="@item.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to restrict @(item.Puzzle.Name) to email-only mode?')">Restrict</a>
                    }
                </td>
            </tr>
        }

        <tr>
            <td></td>
            <td>
                <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-teamId="@Model.Team.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark ALL PUZZLES as unlocked?')">Unlock All</a>
            </td>
            <td>
                <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-teamId="@Model.Team.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark ALL PUZZLES as solved?')">Solve All</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-teamId="@Model.Team.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark ALL PUZZLES as locked?')">Lock All</a>
            </td>
            <td>
                <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-teamId="@Model.Team.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark ALL PUZZLES as unsolved?')">Unsolve All</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                    <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-teamId="@Model.Team.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to release all puzzles from email-only mode?')">Release all</a>
            </td>
            <td>
                    <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-teamId="@Model.Team.ID"  asp-route-value="true" onclick="return confirm('Are you sure you want to restrict all puzzles to email-only mode?')">Restrict all</a>
            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
