@page "/{eventId}/{eventRole}/Teams/TeamCompositionSummary"
@model ServerCore.Pages.Teams.TeamCompositionSummaryModel
@{
    ViewData["Title"] = "Team Index";
    ViewData["AdminRoute"] = "/Teams/TeamCompositionSummary";
    ViewData["AuthorRoute"] = "/Teams/Index";
    ViewData["PlayRoute"] = "/Teams/Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeamCompositionSummary</title>
    <style>
        td, th {
            text-align:center;
        }

        .sortButton {
            padding: 0px 20px;
        }
    </style>
</head>
<body>
    <a asp-page="/Teams/Index">Back to team list</a>
    <br />
    <h2>Team Composition Summary</h2>
    <div>
        <form method="post">
            Sort by:
            <span class="form-group">
                <select asp-for="SortBy" asp-items="Html.GetEnumSelectList<TeamCompositionSummaryModel.SortEnum>()"></select>
            </span>
            <span class="form-group">
                <select asp-for="SortDirection" asp-items="Html.GetEnumSelectList<TeamCompositionSummaryModel.SortDirectionEnum>()"></select>
            </span>
            <span class="form-group">
                <input type="submit" value="Sort" class="btn btn-default sortButton" />
            </span>
        </form>
    </div>
    <br />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Team Name
                    </th>
                    <th>
                        Primary Contact
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Employee Count
                    </th>
                    <th>
                        Intern Count
                    </th>
                    <th>
                        Non-Microsoft Count
                    </th>
                    <th>
                        Possible Employee Aliases
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teamComp in Model.TeamCompositions)
                {
                    <tr>
                        <td>
                            <a asp-page="./Details" asp-route-teamId="@teamComp.TeamID">@teamComp.TeamName</a>
                        </td>
                        <td>
                            @teamComp.TeamPrimaryContactEmail
                        </td>
                        <td>
                            @teamComp.Total
                        </td>
                        <td>
                            @teamComp.EmployeeCount
                        </td>
                        <td>
                            @teamComp.InternCount
                        </td>
                        <td>
                            @teamComp.NonMicrosoftCount
                        </td>
                        <td>
                            @teamComp.PossibleEmployeeAliases.Count
                            @if (teamComp.PossibleEmployeeAliases.Count > 0)
                            {
                                <br />
                                @string.Format("({0})", string.Join("; ", teamComp.PossibleEmployeeAliases))
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
