@page "/{eventId}/{eventRole}/Responses/Details"
@model ServerCore.Pages.Responses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Response</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PuzzleResponse.IsSolution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuzzleResponse.IsSolution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuzzleResponse.SubmittedText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuzzleResponse.SubmittedText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuzzleResponse.ResponseText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuzzleResponse.ResponseText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuzzleResponse.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuzzleResponse.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PuzzleResponse.ID" asp-route-puzzleid="@Model.PuzzleId">Edit</a> |
    <a asp-page="./Index" asp-route-puzzleid="@Model.PuzzleId">Back to List</a>
</div>
