@page "/{eventId}/{eventRole}/Responses/Details/{puzzleId}"
@model ServerCore.Pages.Responses.DetailsModel

@{
    ViewData["Title"] = "Response details";
    //Needs route data - ViewData["AdminRoute"] = "/Responses/Details";
    //Needs route data - ViewData["AuthorRoute"] = "/Responses/Details";
    //Needs route data - ViewData["PlayRoute"] = "/Submissions/Index";
}

<h2>@Model.PuzzleResponse.Puzzle.Name: Response details</h2>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PuzzleResponse.ID" asp-route-puzzleid="@Model.PuzzleId">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.PuzzleResponse.ID" asp-route-puzzleid="@Model.PuzzleId">Delete</a> |
    <a asp-page="./Index" asp-route-puzzleid="@Model.PuzzleId">Back to response list</a>
</div>

<div>
    <hr />
    <table class="table-definitions">
        <tr>
            <td>
                IsSolution
            </td>
            <td>
                        @Model.PuzzleResponse.IsSolution
            </td>
        </tr>
        <tr>
            <td>
                SubmittedText
            </td>
            <td>
                @Model.PuzzleResponse.SubmittedText
            </td>
        </tr>
        <tr>
            <td>
                ResponseText
            </td>
            <td>
                @Model.PuzzleResponse.ResponseText
            </td>
        </tr>
        <tr>
            <td>
                Note
            </td>
            <td>
                @Model.PuzzleResponse.Note
            </td>
        </tr>
    </table>
</div>
