@page "/{eventId}/{eventRole}/Responses/Details/{puzzleId}"
@model ServerCore.Pages.Responses.DetailsModel

@{
    ViewData["Title"] = "Response details";
    //Needs route data - ViewData["AdminRoute"] = "/Responses/Details";
    //Needs route data - ViewData["AuthorRoute"] = "/Responses/Details";
    //Needs route data - ViewData["PlayRoute"] = "/Submissions/Index";
}

<h2>@Model.PuzzleResponse.Puzzle.Name: Response details</h2>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PuzzleResponse.ID" asp-route-puzzleid="@Model.PuzzleId">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.PuzzleResponse.ID" asp-route-puzzleid="@Model.PuzzleId">Delete</a> |
    <a asp-page="./Index" asp-route-puzzleid="@Model.PuzzleId">Back to response list</a>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PuzzleResponse.IsSolution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuzzleResponse.IsSolution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuzzleResponse.SubmittedText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuzzleResponse.SubmittedText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuzzleResponse.ResponseText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuzzleResponse.ResponseText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuzzleResponse.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuzzleResponse.Note)
        </dd>
    </dl>
</div>
