@page "/{eventId}/{eventRole}/Responses/{puzzleId}"
@model ServerCore.Pages.Responses.IndexModel

@{
    ViewData["Title"] = "Responses";
    ViewData["AdminRoute"] = "../Responses/Index";
    ViewData["AuthorRoute"] = "../Responses/Index";
    // TODO: Needs to handle implicit teams - ViewData["PlayRoute"] = "../Submissions/Index";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
    Layout = "../Puzzles/_puzzleManagementLayout.cshtml";
}

<h2>@Model.Puzzle.PlaintextName: Responses</h2>

<p>
    <a asp-page="Create" asp-route-puzzleId="@Model.PuzzleId">Create New</a> |
    <a asp-page="CreateBulk" asp-route-puzzleId="@Model.PuzzleId">Bulk Create</a>
</p>

<h5>Note: ResponseText can either be plaintext or Raw HTML.</h5>
<h5>If you are using HTML, write it as "<i>&lt;Plaintext version&gt;</i> Html.Raw(<i>&lt;YOUR HTML&gt;</i>)" and <b>CHECK IT VERY CAREFULLY!</b><br />Example: You are correct Html.Raw(&lt;span&gt;You are &lt;b&gt;correct&lt;/b&gt;/&lt;span&gt;)<br />Failure to be careful may make responses uneditable, and you may have to delete your puzzle and start over.</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                IsSolution
            </th>
            <th>
                SubmittedText
            </th>
            <th>
                ResponseText
            </th>
            <th>
                Note
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Responses)
        {
        <tr>
            <td>
                @if (item.IsSolution)
                {
                    <p>&#10004;</p>
                }
            </td>
            <td>
                @item.SubmittedText
            </td>
            <td>
                @ServerCore.Helpers.RawHtmlHelper.Display(item.ResponseText, Model.Event.ID, Html)
            </td>
            <td>
                @item.Note
            </td>
            <td>
                <div class="shortcut-menu-dropdown">
                    <span><a>Select action...</a></span>
                    <div class="shortcut-menu-dropdown-content">
                        <a asp-page="./Edit" asp-route-puzzleId="@Model.PuzzleId" asp-route-id="@item.ID">Edit</a><br />
                        <a asp-page="./Details" asp-route-puzzleId="@Model.PuzzleId" asp-route-id="@item.ID">View details</a><br />
                        ------<br />
                        <a asp-page="./Delete" asp-route-puzzleId="@Model.PuzzleId" asp-route-id="@item.ID">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
