@page  "/{eventId}/{eventRole}/Swag/Report"
@model ServerCore.Pages.Swag.SwagReportModel

@{
    ViewData["Title"] = "Lunch Report";
    ViewData["AdminRoute"] = "../Swag/Report";
    ViewData["AuthorRoute"] = "../Swag/Report";
    ViewData["PlayRoute"] = "../Swag/Report";
}

<a asp-page="/Teams/Index">Back to team list</a>
<br/>
<h2>Lunch Report</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                TeamName
            </th>
            <th>
                PlayerName
            </th>
            <th>
                PlayerEmail
            </th>
            <th>
                Lunch Selection
            </th>
            <th>
                Dietary Modifications (e.g. no cheese)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SwagViews)
        {
        <tr>
            <td>
                @item.TeamName
            </td>
            <td>
                @item.PlayerName
            </td>
            <td>
                @item.PlayerEmail
            </td>
            <td>
                @item.Lunch
            </td>
            <td>
                @item.LunchModifications
            </td>
        </tr>
        }
    </tbody>
</table>
