@page "/{eventId}/{eventRole}/Player/Delete"
@model ServerCore.Pages.Player.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlayerInEvent</h4>
    <hr />
    <table class="table-descriptions">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PlayerInEvent.Event)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayerInEvent.Event.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PlayerInEvent.IsRemote)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayerInEvent.IsRemote)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PlayerInEvent.Lunch)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayerInEvent.Lunch)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PlayerInEvent.LunchModifications)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayerInEvent.LunchModifications)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PlayerInEvent.ShirtSize)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayerInEvent.ShirtSize)
            </td>
        </tr>
    </table>

    <form method="post">
        <input type="hidden" asp-for="PlayerInEvent.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
