@page "/{eventId}/{eventRole}/Player/Details"
@model ServerCore.Pages.Player.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.PlayerInEvent.Player.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Event Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerInEvent.Event.Name)
        </dd>

        @if (Model.Event.AllowsRemotePlayers)
        {
            <dt>
                Remote Attendee
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PlayerInEvent.IsRemote)
            </dd>
        }

        @if (Model.Event.HasIndividualLunch)
        {
            <dt>
                Lunch Option
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PlayerInEvent.Lunch)
            </dd>
            <dt>
                Lunch Modifications
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PlayerInEvent.LunchModifications)
            </dd>
        }

        @if (Model.Event.HasTShirts)
        {
            <dt>
                T-Shirt Size
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PlayerInEvent.ShirtSize)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PlayerInEvent.ID">Edit</a> |
    <a asp-page="/Teams/Signup">Find a Team or View My Team</a>
</div>
