@page "/{eventId}/{eventRole}/Player/Details"
@model ServerCore.Pages.Player.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayerInEvent</h4>
    <hr />
    <table class="table-definitions">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PlayerInEvent.Event)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayerInEvent.Event.Name)
            </td>
        </tr>
        @if (Model.Event.AllowsRemote)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.PlayerInEvent.IsRemote)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PlayerInEvent.IsRemote)
                </td>
            </tr>
        }

        @if (Model.Event.HasIndividualLunch)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.PlayerInEvent.Lunch)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PlayerInEvent.Lunch)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.PlayerInEvent.LunchModifications)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PlayerInEvent.LunchModifications)
                </td>
            </tr>
        }

        @if (Model.Event.HasTShirts)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.PlayerInEvent.ShirtSize)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PlayerInEvent.ShirtSize)
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PlayerInEvent.ID">Edit</a> |
    <a asp-page="/Teams/List">Find a Team or View My Team</a>
</div>
