@page "/{eventId}/{eventRole}/Player/Edit"
@model ServerCore.Pages.Player.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div>
    <a asp-page="./Details" asp-route-id="@Model.PlayerInEvent.ID">Cancel</a>
</div>

<h4>Event Registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlayerInEvent.ID" />
            <input type="hidden" asp-for="PlayerInEvent.EventId" />
            <input type="hidden" asp-for="PlayerInEvent.PlayerId" />

            @if (Model.Event.AllowsRemote)
            {
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="PlayerInEvent.IsRemote" /> I'm playing remotely
                        </label>
                    </div>
                </div>
            }

            @if (Model.Event.HasIndividualLunch)
            {
                // The following 3 components (first form-group, script block, custom-order form-group) have identical versions in:
                //     Player\Create.cshtml and Swag\Register.cshtml, and all 3 must be modified in identical ways in future edits.
                //     They cannot be abstracted to a Partial since partials cannot modify underlying C# data.
                //     The Event Details page also parses this data to ensure proper formatting, so also apply updates to it.
                <div class="form-group">
                    <label asp-for="PlayerInEvent.Lunch" class="control-label"></label><br />
                    @{
                        var lunchOptions = Model.Event.LunchOptions.Split(";");
                        bool required = false;
                        foreach (var lunch in lunchOptions)
                        {
                            if (!string.IsNullOrWhiteSpace(lunch))
                            {
                                string[] lunchParts = lunch.Split(":");
                                string lunchVal = lunchParts[0].Substring(lunchParts[0].IndexOf("\"") + 1, lunchParts[0].LastIndexOf("\"") - lunchParts[0].IndexOf("\"") - 1);
                                string lunchDesc = lunchParts[1].Substring(lunchParts[1].IndexOf("\"") + 1, lunchParts[1].LastIndexOf("\"") - lunchParts[1].IndexOf("\"") - 1);

                                if (!required)
                                {
                                    <input asp-for="PlayerInEvent.Lunch" type="radio" class="choice" value="@lunchVal" required />
                                    required = true;
                                }
                                else
                                {
                                    <input asp-for="PlayerInEvent.Lunch" type="radio" class="choice" value="@lunchVal" />
                                }
                                <text>@lunchVal</text>
                                <div class="food-option-description">@lunchDesc</div>
                            }
                        }
                    }
                    <span asp-validation-for="PlayerInEvent.Lunch" class="text-danger"></span>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function (event) {
                        let order = document.getElementById("custom-order");
                        let radios = document.getElementsByClassName("choice");
                        let hideOrder = true;
                        for (let radio of radios) {
                            if ((radio.value.replaceAll(" ", "").toLowerCase() === "noneoftheabove") && (radio.checked)) {
                                hideOrder = false;
                            }
                            radio.addEventListener("click", function (event) {
                                if ((this.value.replaceAll(" ", "").toLowerCase() === "noneoftheabove") && (this.checked)) {
                                    order.hidden = false;
                                }
                                else {
                                    order.hidden = true;
                                    document.querySelector("#custom-order textarea").value = "";
                                }
                            });
                        }
                        if (hideOrder) {
                            order.hidden = true;
                        }
                    });
                </script>
                <br />
                <div id="custom-order" class="form-group">
                    <label asp-for="PlayerInEvent.LunchModifications" class="control-label"></label>
                    <textarea asp-for="PlayerInEvent.LunchModifications" class="form-control"></textarea>
                    <span asp-validation-for="PlayerInEvent.LunchModifications" class="text-danger"></span>
                </div>
            }

            @if (Model.Event.HasTShirts)
            {
                <div class="form-group">
                    <label asp-for="PlayerInEvent.ShirtSize" class="control-label"></label>
                    <input asp-for="PlayerInEvent.ShirtSize" class="form-control" />
                    <span asp-validation-for="PlayerInEvent.ShirtSize" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
