@page "/{eventId}/{eventRole}/Player"
@model ServerCore.Pages.Player.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["AdminRoute"] = "/Player/Index";
    ViewData["AuthorRoute"] = "/Player/Index";
    ViewData["PlayRoute"] = "/Player/Details";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Player
            </th>
            <th>
                Email
            </th>
            <th>
                Team
            </th>

            @if (Model.Event.AllowsRemote)
            {
                <th>
                    Remote?
                </th>
            }

            @if (Model.Event.HasIndividualLunch)
            {
                <th>
                    Lunch
                </th>
                <th>
                    Lunch Modifications
                </th>
            }

            @if (Model.Event.HasTShirts)
            {
                <th>
                    T-Shirt Size
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlayerInEvent)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.Player.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.Player.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>

                @if (Model.Event.AllowsRemote)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Player.IsRemote)
                    </td>
                }

                @if (Model.Event.HasIndividualLunch)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Player.Lunch)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player.LunchModifications)
                    </td>
                }

                @if (Model.Event.HasTShirts)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Player.ShirtSize)
                    </td>
                }

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Player.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Player.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Player.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
