<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Microsoft Puzzle Server</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <!-- TODO: Remove when menus are implemented -->
    <style>
        .nav i { color: gray; font-size: 10px; }
    </style>
</head>
<body>
    @{ 
        var Event = (Model as ServerCore.ModelBases.EventSpecificPageModel)?.Event;
    }
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">@(Event?.Name ?? "Microsoft Puzzles")</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Index">Home</a></li>

                    @if (Event != null)
                    {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Puzzles
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Event.EventHasStarted)
                            {
                                if (Event.IsAnswerSubmissionActive)
                                {
                                    <li><a href="#">Unsolved Puzzles</a></li>
                                    <li><a href="#">Solved Puzzles</a></li>
                                }
                                <li><a asp-page="/Puzzles/Index" asp-route-eventId="@Event.ID">
                                    All Puzzles
                                </a></li>
                                <li class="divider"></li>
                            }
                            <li><a href="#">Administer Puzzles <i>(if author/admin)</i></a></li>
                            <li><a href="#">Import Puzzle Data <i>(if author/admin; P2)</i></a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Results
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Event.AreStandingsAvailableNow)
                            {
                                <li><a href="#">Standings</a></li>
                                <li><a href="#">Fastest Solves</a></li>
                                <li class="divider"></li>
                            }
                            <li><a href="#">Puzzle State Map <i>(if author/admin)</i></a></li>
                            <li><a href="#">Submissions <i>(if author/admin)</i></a></li>
                            <li><a href="#">Puzzles in Lockout <i>(if author/admin)</i></a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Registration
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">MY TEAM NAME <i>(if member)</i></a></li>
                            <li><a href="#">Matchmaking Zone <i>(if available)</i></a></li>
                            <li><a asp-page="/Teams/Index" asp-route-eventId="@Event.ID">Teams</a></li>
                            <li><a href="#">Players <i>(everybody if author/admin)</i></a></li>
                            <li class="divider"></li>
                            <li><a href="#">Authors <i>(if author; editable if admin)</i></a></li>
                            <li><a href="#">Admins <i>(if author; editable if admin)</i></a></li>
                        </ul>
                    </li>
                    }

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Resources
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Event != null)
                            {
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Rules</a></li>
                            }
                            <li><a href="#">Encodings</a></li>
                            <li><a href="#">Tools</a></li>
                            <li class="divider"></li>
                            <li><a href="#">My Events</a></li>
                            @if (Event != null)
                            {
                            <li><a href="#">Event Properties <i>(if admin)</i></a></li>
                            }
                            <li><a href="#">Events Dashboard <i>(if admin)</i></a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/About">About</a></li>
                            <li><a asp-page="/Contact">Contact</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login/out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - ServerCore</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
