<!DOCTYPE html>

@{ 
    Layout = "../Shared/_Layout.cshtml";
    var puzzleId = ViewContext.RouteData.Values["puzzleId"];
    var eventPage = Model as ServerCore.ModelBases.EventSpecificPageModel;
    var Event = eventPage?.Event;
    var shouldShowHints = Event != null && !Event.HideHints;
    var isAdmin = eventPage?.EventRole == ModelBases.EventRole.admin;
}

<div>
    <a asp-page="/Puzzles/Index">Back to puzzle list</a> ||
    <a asp-page="/Puzzles/Edit" asp-route-puzzleId="@puzzleId">Details</a> |
    <a asp-page="/Puzzles/FileManagement" asp-route-puzzleId="@puzzleId">Files</a> |
    <a asp-page="/Responses/Index" asp-route-puzzleId="@puzzleId">Responses</a> |
    @if (shouldShowHints)
    {
        <a asp-page="/Hints/Index" asp-route-puzzleId="@puzzleId">Hints</a>@(" |")
    }
    <a asp-page="/Puzzles/Status" asp-route-puzzleId="@puzzleId">Status</a> |
    <a asp-page="/Submissions/AuthorIndex" asp-route-puzzleId="@puzzleId">Submissions</a> |
    <a asp-page="/Submissions/FreeformQueue" asp-route-puzzleId="@puzzleId">Freeform Queue</a> |
    @if (shouldShowHints)
    {
        <a asp-page="/Hints/AuthorIndex" asp-route-puzzleId="@puzzleId">Hints Taken</a>@(" |")
    }
    @if (isAdmin)
    {
        <a asp-page="/Events/Mailer" asp-route-group="NonSolvers" asp-route-puzzleId="@puzzleId">Mail non-solvers</a>@(" |")
    }
    <a asp-page="/Puzzles/Feedback" asp-route-puzzleId="@puzzleId">Feedback</a>
</div>

<body>
    <div>
        @RenderBody()
    </div>
</body>
<div> @RenderSection("Scripts", required: false) </div>