@page "/{eventId}/{eventRole}/Checklist"
@using ServerCore.DataModel
@model ServerCore.Pages.Puzzles.PuzzleChecklistModel

@{
    ViewData["Title"] = "Puzzle Checklist";
    ViewData["AdminRoute"] = "/Puzzles/Checklist";
    ViewData["AuthorRoute"] = "/Puzzles/Checklist";
}

<h2>@Model.Event.Name Puzzle Checklist (@Model.PuzzleData.Count):</h2>

<p>
    <a asp-page="/Puzzles/Index">Back to puzzle list</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @(Model.Event.TermForGroup ?? "Group")
            </th>
            <th>
                Author(s)
            </th>
            <th>
                Custom Author Text
            </th>
            <th>
                Puzzle file
            </th>
            <th>
                Answer file
            </th>
            <th>
                Min pre-requisite count
            </th>
            <th>
                Pre-requisites
            </th>
            <th>
                Prerequisite Weight
            </th>
            <th>
                Min in group count
            </th>
            <th>
                Response count
            </th>
            <th>
                Has answer
            </th>
            @if (!Model.Event.HideHints)
            {
                <th>
                    Hint count
                </th>
                <th>
                    Hint cost
                </th>
            }
            @if (Model.Event.AllowsRemoteTeams)
            {
                <th>
                    Availability
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PuzzleData)
        {
        <tr>
            <td>
                <a asp-Page="./Edit" asp-route-puzzleid=@item.Puzzle.ID>@ServerCore.Helpers.RawHtmlHelper.Display(item.Puzzle.Name, Model.Event.ID, Html)</a>
            </td>
            <td>
                @ServerCore.Helpers.RawHtmlHelper.Display(item.Puzzle.Group, Model.Event.ID, Html)
            </td>
            <td>
                @item.Authors
            </td>
            <td>
                @item.Puzzle.CustomAuthorText
            </td>
            <td>
                @if (item.Puzzle.CustomURL != null)
                {
                    <a href="@ServerCore.Helpers.PuzzleHelper.GetFormattedUrl(item.Puzzle, Model.Event.ID)" target="_blank">Link</a>
                }
                else if (item.PuzzleFile != null)
                {
                    @Html.ActionLink("File", "Index", "Files", new { eventId = Model.Event.ID, filename = item.PuzzleFile.ShortName }, new { target = "_blank" })
                }
            </td>
            <td>
                @if (item.Puzzle.CustomSolutionURL != null)
                {
                    <a href="@ServerCore.Helpers.PuzzleHelper.GetFormattedUrl(item.Puzzle.CustomSolutionURL, item.Puzzle.ID, Model.Event.ID, null, null)" target="_blank">Link</a>
                }
                else if (item.AnswerFile != null)
                {
                    @Html.ActionLink("File", "Index", "Files", new { eventId = Model.Event.ID, filename = item.AnswerFile.ShortName }, new { target = "_blank" })
                }
            </td>
            <td>
                @(item.Puzzle.MinPrerequisiteCount) of @(item.PrerequisitesCount)
            </td>
            <td>
                @(item.Prerequisites)
                @if (item.Puzzle.MinPrerequisiteCount > item.PrerequisitesCount)
                {
                    <font color="red">WARNING: Fewer prereqs than min</font>
                }
            </td>
            <td>
                @item.Puzzle.PrerequisiteWeight
            </td>
            <td>
                @(item.Puzzle.MinInGroupCount)
            </td>
            <td>
                @(item.Responses.ResponseCount)
            </td>
            <td>
                @if (item.Responses.HasAnswer)
                {
                    <p>&#10004;</p>
                }
            </td>
            @if (!Model.Event.HideHints)
            {
                <td>
                    @(item.Hints)
                </td>
                <td>
                    @(item.TotalHintCost)
                </td>
            }
            @if (Model.Event.AllowsRemoteTeams)
            {
                <td>
                    @if (item.Puzzle.Availability == Puzzle.PuzzleAvailability.AllPlayers)
                    {
                        <p>All Players</p>
                    }
                    else if (item.Puzzle.Availability == Puzzle.PuzzleAvailability.RemoteOnly)
                    {
                        <p>Remote</p>
                    }
                    else if (item.Puzzle.Availability == Puzzle.PuzzleAvailability.LocalOnly)
                    {
                        <p>Local</p>
                    }
                </td>
            }
            </tr>
        }
        <tr>
            <td>
                <b>Total</b>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            @if (!Model.Event.HideHints)
            {
                <td>
                    @Model.TotalHints
                </td>
                <td>
                    $@Model.TotalHintCost
                </td>
            }
        </tr>
    </tbody>
</table>