@page  "/{eventId}/{eventRole}/Puzzles/Delete/{puzzleId}"
@model ServerCore.Pages.Puzzles.DeleteModel

@{
    ViewData["Title"] = "Delete puzzle";
    ViewData["AdminRoute"] = "../Puzzles/Delete";
    ViewData["AuthorRoute"] = "../Puzzles/Delete";
    ViewData["PlayRoute"] = "/Puzzles/Play";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
    Layout = "_puzzleManagementLayout.cshtml";
}

<h2>@Model.Puzzle.Name: Delete</h2>

<div>
    <a asp-page="./Edit" asp-route-puzzleId="@Model.Puzzle.ID">Cancel</a>
</div>

<h3>Are you sure you want to delete this puzzle?</h3>
<div>
    <h4>Puzzle</h4>
    <hr />
    <table class="table-definitions">
        <tr>
            <td>
                Name
            </td>
            <td>
                @Model.Puzzle.Name
            </td>
        </tr>
        <tr>
            <td>
                IsPuzzle
            </td>
            <td>
                @Model.Puzzle.IsPuzzle
            </td>
        </tr>
        <tr>
            <td>
                IsMetaPuzzle
            </td>
            <td>
                @Model.Puzzle.IsMetaPuzzle
            </td>
        </tr>
        <tr>
            <td>
                IsFinalPuzzle
            </td>
            <td>
                @Model.Puzzle.IsFinalPuzzle
            </td>
        </tr>
        <tr>
            <td>
                IsCheatCode
            </td>
            <td>
                @Model.Puzzle.IsCheatCode
            </td>
        </tr>
        <tr>
            <td>
                SolveValue
            </td>
            <td>
                @Model.Puzzle.SolveValue
            </td>
        </tr>
        <tr>
            <td>
                Token
            </td>
            <td>
                @Model.Puzzle.Token
            </td>
        </tr>
        <tr>
            <td>
                Group
            </td>
            <td>
                @Model.Puzzle.Group
            </td>
        </tr>
        <tr>
            <td>
                OrderInGroup
            </td>
            <td>
                @Model.Puzzle.OrderInGroup
            </td>
        </tr>
        <tr>
            <td>
                IsGloballyVisiblePrerequisite
            </td>
            <td>
                @Model.Puzzle.IsGloballyVisiblePrerequisite
            </td>
        </tr>
        <tr>
            <td>
                MinPrerequisiteCount
            </td>
            <td>
                @Model.Puzzle.MinPrerequisiteCount
            </td>
        </tr>
        <tr>
            <td>
                MinutesToAutomaticallySolve
            </td>
            <td>
                @Model.Puzzle.MinutesToAutomaticallySolve
            </td>
        </tr>
        <tr>
            <td>
                MinutesOfEventLockout
            </td>
            <td>
                @Model.Puzzle.MinutesOfEventLockout
            </td>
        </tr>
        <tr>
            <td>
                MaxAnnotationKey
            </td>
            <td>
                @Model.Puzzle.MaxAnnotationKey
            </td>
        </tr>
        <tr>
            <td>
                CustomURL
            </td>
            <td>
                @Model.Puzzle.CustomURL
            </td>
        </tr>
        <tr>
            <td>
                CustomSolutionURL
            </td>
            <td>
                @Model.Puzzle.CustomSolutionURL
            </td>
        </tr>
    </table>

    <form method="post">
        <input type="hidden" asp-for="Puzzle.ID" />
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>
