@page  "/{eventId}/{eventRole}/Puzzles/Details/{puzzleId}"
@model ServerCore.Pages.Puzzles.DetailsModel

@{
    ViewData["Title"] = "Puzzle details";
    Layout = "_puzzleManagementLayout.cshtml";
}

<h2>@Model.Puzzle.Name: Details</h2>

<div>
    <a asp-page="./Edit" asp-route-puzzleId="@Model.Puzzle.ID">Edit</a> |
    <a asp-page="./Delete" asp-route-puzzleId="@Model.Puzzle.ID">Delete</a>
</div>

<div>
    <h4>Puzzle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.IsPuzzle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.IsPuzzle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.IsMetaPuzzle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.IsMetaPuzzle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.IsFinalPuzzle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.IsFinalPuzzle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.SolveValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.SolveValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.HintCoinsForSolve)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.HintCoinsForSolve)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.Token)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.Token)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.Group)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.OrderInGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.OrderInGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.IsGloballyVisiblePrerequisite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.IsGloballyVisiblePrerequisite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.MinPrerequisiteCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.MinPrerequisiteCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.SupportEmailAlias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puzzle.SupportEmailAlias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puzzle.PuzzleFile)
        </dt>
        <dd>
            <a href="@Html.DisplayFor(model => model.Puzzle.PuzzleFile.Url)">
                @Html.DisplayFor(model => model.Puzzle.PuzzleFile.Url)
            </a>
        </dd>
    </dl>
</div>
