@page  "/{eventId}/{eventRole}/Puzzles/Edit/{puzzleId}"
@model ServerCore.Pages.Puzzles.EditModel

@{
    ViewData["Title"] = "Edit puzzle";
    ViewData["AdminRoute"] = "../Puzzles/Edit";
    ViewData["AuthorRoute"] = "../Puzzles/Edit";
    ViewData["PlayRoute"] = "/Puzzles/Play";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
    Layout = "_puzzleManagementLayout.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <form method="post" enctype="multipart/form-data">
            <h3>@Model.Puzzle.Name: Properties <input type="submit" value="Save properties" class="btn btn-default btn-primary" /><a class="btn btn-default btn-link" asp-page="./Delete" asp-route-puzzleId="@Model.Puzzle.ID">Delete this puzzle</a></h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Puzzle.ID" />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:50%;">
                            Basic
                        </th>
                        <th style="width:50%;">
                            Advanced
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label asp-for="Puzzle.Name" class="control-label"></label>
                                <input asp-for="Puzzle.Name" class="form-control" />
                                <span asp-validation-for="Puzzle.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.Group" class="control-label"></label>
                                <input asp-for="Puzzle.Group" class="form-control" />
                                <span asp-validation-for="Puzzle.Group" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.OrderInGroup" class="control-label"></label>
                                <input asp-for="Puzzle.OrderInGroup" class="form-control" />
                                <span asp-validation-for="Puzzle.OrderInGroup" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Puzzle.IsPuzzle" /> IsPuzzle
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Puzzle.IsMetaPuzzle" /> IsMetaPuzzle
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Puzzle.IsFinalPuzzle" /> IsFinalPuzzle
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Puzzle.IsCheatCode" /> IsCheatCode
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Puzzle.HasDataConfirmation" /> HasDataConfirmation
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Puzzle.IsForSinglePlayer" /> IsForSinglePlayer
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.SolveValue" class="control-label"></label>
                                <input asp-for="Puzzle.SolveValue" class="form-control" />
                                <span asp-validation-for="Puzzle.SolveValue" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.MinPrerequisiteCount" class="control-label"></label>
                                <input asp-for="Puzzle.MinPrerequisiteCount" class="form-control" />
                                <span asp-validation-for="Puzzle.MinPrerequisiteCount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.MinInGroupCount" class="control-label"></label>
                                <input asp-for="Puzzle.MinInGroupCount" class="form-control" />
                                <span asp-validation-for="Puzzle.MinInGroupCount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.SupportEmailAlias" class="control-label"></label>
                                <input asp-for="Puzzle.SupportEmailAlias" class="form-control" />
                                <span asp-validation-for="Puzzle.SupportEmailAlias" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.CustomAuthorText" class="control-label"></label>
                                <input asp-for="Puzzle.CustomAuthorText" class="form-control" />
                                <span asp-validation-for="Puzzle.CustomAuthorText" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.CustomCSSFile" class="control-label"></label>
                                <div class="text-danger" style="font-size: 10px">The name of a CSS file to customize the appearance of the Submission 
                                    page when embedding is enabled. If only a filepath is provided (i.e. not a full url beginning with http...), the 
                                    relative path of the file will start in the shared resources folder. The path on local development environments 
                                    may differ, but in production, the shared resources folder (and any subfolder uploaded to it as a zip file) is at 
                                    https://puzzleserverteststore.blob.core.windows.net/evt{eventId}/resources/{optionalFolderName}/{filename}
                                    <br /><br />
                                    A full url will be used as-is.  Please note that in development, non-raw full urls to files uploaded to a specific
                                    puzzle will fail to load. Use caution with full urls; puzzle files have links (both raw and non-) that change every
                                    time the puzzle is re-uploaded. To address files outside of the shared resources, a dollar sign $ as the first 
                                    character preceding the relative path can be used to access a file from that puzzle's files. 
                                    <br /><br />
                                </div>
                                <input asp-for="Puzzle.CustomCSSFile" class="form-control" />
                                <span asp-validation-for="Puzzle.CustomCSSFile" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            @if (Model.Event.IsAlphaTestingEvent)
                            {
                                <div class="form-group">
                                    <label asp-for="Puzzle.AlphaTestsNeeded" class="control-label"></label>
                                    <input asp-for="Puzzle.AlphaTestsNeeded" class="form-control" />
                                    <span asp-validation-for="Puzzle.AlphaTestsNeeded" class="text-danger"></span>
                                </div>
                            }
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Puzzle.IsGloballyVisiblePrerequisite" /> IsGloballyVisiblePrerequisite
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.PrerequisiteWeight" class="control-label"></label>
                                <input asp-for="Puzzle.PrerequisiteWeight" class="form-control" />
                                <span asp-validation-for="Puzzle.PrerequisiteWeight" class="text-danger"></span>
                            </div>
                            @if (!Model.Event.HideHints)
                            {
                                <div class="form-group">
                                    <label asp-for="Puzzle.HintCoinsForSolve" class="control-label"></label>
                                    <input asp-for="Puzzle.HintCoinsForSolve" class="form-control" />
                                    <span asp-validation-for="Puzzle.HintCoinsForSolve" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Puzzle.CostForHelpThread" class="control-label"></label>
                                    <input asp-for="Puzzle.CostForHelpThread" class="form-control" />
                                    <span asp-validation-for="Puzzle.CostForHelpThread" class="text-danger"></span>
                                </div>
                            }
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Puzzle.ShowHelpThreadsToAllGameControl" /> ShowHelpThreadsToAllGameControl
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.Token" class="control-label"></label>
                                <input asp-for="Puzzle.Token" class="form-control" />
                                <span asp-validation-for="Puzzle.Token" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Puzzle.IsFreeform" /> IsFreeform
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.MinutesToAutomaticallySolve" class="control-label"></label>
                                <input asp-for="Puzzle.MinutesToAutomaticallySolve" class="form-control" />
                                <span asp-validation-for="Puzzle.MinutesToAutomaticallySolve" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.MinutesOfEventLockout" class="control-label"></label>
                                <input asp-for="Puzzle.MinutesOfEventLockout" class="form-control" />
                                <span asp-validation-for="Puzzle.MinutesOfEventLockout" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.MaxAnnotationKey" class="control-label"></label>
                                <input asp-for="Puzzle.MaxAnnotationKey" class="form-control" />
                                <span asp-validation-for="Puzzle.MaxAnnotationKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.PuzzleVersion" class="control-label"></label>
                                <input asp-for="Puzzle.PuzzleVersion" class="form-control" />
                                <span asp-validation-for="Puzzle.PuzzleVersion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.CustomURL" class="control-label"></label>
                                <input asp-for="Puzzle.CustomURL" class="form-control" title="The URL for this puzzle to link to. You can use {eventId} for the current event and {puzzleId} for the current puzzle" />
                                <span asp-validation-for="Puzzle.CustomURL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.CustomSolutionURL" class="control-label"></label>
                                <input asp-for="Puzzle.CustomSolutionURL" class="form-control" title="The URL for this puzzle&apos;s solution to link to. You can use {eventId} for the current event and {puzzleId} for the current puzzle" />
                                <span asp-validation-for="Puzzle.CustomSolutionURL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.Description" class="control-label"></label>
                                <input asp-for="Puzzle.Description" class="form-control" />
                                <span asp-validation-for="Puzzle.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.PieceMetaUsage" class="control-label"></label>
                                <select class="form-control" asp-for="Puzzle.PieceMetaUsage" asp-items="Html.GetEnumSelectList<ServerCore.DataModel.PieceMetaUsage>()"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">PieceMetaTagFilter (a Regex)</label>
                                <input asp-for="Puzzle.PieceMetaTagFilter" class="form-control" />
                                <span asp-validation-for="Puzzle.PieceMetaTagFilter" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.PieceTag" class="control-label"></label>
                                <input asp-for="Puzzle.PieceTag" class="form-control" />
                                <span asp-validation-for="Puzzle.PieceTag" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.PieceWeight" class="control-label"></label>
                                <input asp-for="Puzzle.PieceWeight" class="form-control" />
                                <span asp-validation-for="Puzzle.PieceWeight" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Puzzle.Errata" class="control-label"></label>
                                <input asp-for="Puzzle.Errata" class="form-control" />
                                <span asp-validation-for="Puzzle.Errata" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <h3>@Model.Puzzle.Name: Prerequisites</h3>
        <h4>These puzzles help to unlock me:</h4>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Puzzle.ID" />
            <table>
                <thead>
                    <tr>
                        <th>Prerequisite</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pre in Model.CurrentPrerequisites)
                    {
                        <tr>
                            <td>
                                <a asp-page="./Edit" asp-route-puzzleid="@(pre.ID)">@(pre.PlaintextName)</a>
                            </td>
                            <td>
                                <a asp-page-handler="RemovePrerequisite" asp-route-id="@Model.Puzzle.ID" asp-route-prerequisite="@(pre.ID)">Remove</a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <select class="form-control" asp-for="NewPrerequisiteID" asp-items="@(new SelectList(Model.PotentialPrerequisites, "ID", "PlaintextName"))"></select>
                        </td>
                        <td>
                            <input type="submit" value="Add" asp-page-handler="AddPrerequisite" class="btn btn-default" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <br />
        <h4>I help to unlock these puzzles:</h4>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Puzzle.ID" />
            <table>
                <thead>
                    <tr>
                        <th>Puzzle</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.CurrentPrerequisitesOf)
                    {
                        <tr>
                            <td>
                                <a asp-page="./Edit" asp-route-puzzleid="@(p.ID)">@(p.PlaintextName)</a>
                            </td>
                            <td>
                                <a asp-page-handler="RemovePrerequisiteOf" asp-route-id="@Model.Puzzle.ID" asp-route-prerequisiteOf="@(p.ID)">Remove</a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <select class="form-control" asp-for="NewPrerequisiteOfID" asp-items="@(new SelectList(Model.PotentialPrerequisitesOf, "ID", "PlaintextName"))"></select>
                        </td>
                        <td>
                            <input type="submit" value="Add" asp-page-handler="AddPrerequisiteOf" class="btn btn-default" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <hr />
        <h3>@Model.Puzzle.Name: Authors</h3>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Puzzle.ID" />
            <table>
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var author in Model.CurrentAuthors)
                    {
                        <tr>
                            <td>
                                @(author.Name)
                            </td>
                            <td>
                                <a asp-page-handler="RemoveAuthorOrSupport" asp-route-id="@Model.Puzzle.ID" asp-route-authorOrSupport="@(author.ID)">Remove</a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <select class="form-control" asp-for="NewAuthorID" asp-items="@(new SelectList(Model.PotentialAuthorOrSupport, "ID", "Name"))"></select>
                        </td>
                        <td>
                            <input type="submit" value="Add" asp-page-handler="AddAuthor" class="btn btn-default" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <h3>@Model.Puzzle.Name: Support</h3>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Puzzle.ID" />
            <table>
                <thead>
                    <tr>
                        <th>Support</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var support in Model.CurrentSupport)
                    {
                        <tr>
                            <td>
                                @(support.Name)
                            </td>
                            <td>
                                <a asp-page-handler="RemoveAuthorOrSupport" asp-route-id="@Model.Puzzle.ID" asp-route-authorOrSupport="@(support.ID)">Remove</a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <select class="form-control" asp-for="NewSupportID" asp-items="@(new SelectList(Model.PotentialAuthorOrSupport, "ID", "Name"))"></select>
                        </td>
                        <td>
                            <input type="submit" value="Add" asp-page-handler="AddSupport" class="btn btn-default" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
