@page  "/{eventId}/{eventRole}/Puzzles/Edit/{id}"
@model ServerCore.Pages.Puzzles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Puzzle</h4>
<hr />
<h3>Properties</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Puzzle.ID" />
            <div class="form-group">
                <label asp-for="Puzzle.Name" class="control-label"></label>
                <input asp-for="Puzzle.Name" class="form-control" />
                <span asp-validation-for="Puzzle.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Puzzle.IsPuzzle" /> @Html.DisplayNameFor(model => model.Puzzle.IsPuzzle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Puzzle.IsMetaPuzzle" /> @Html.DisplayNameFor(model => model.Puzzle.IsMetaPuzzle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Puzzle.IsFinalPuzzle" /> @Html.DisplayNameFor(model => model.Puzzle.IsFinalPuzzle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.SolveValue" class="control-label"></label>
                <input asp-for="Puzzle.SolveValue" class="form-control" />
                <span asp-validation-for="Puzzle.SolveValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.HintCoinsForSolve" class="control-label"></label>
                <input asp-for="Puzzle.HintCoinsForSolve" class="form-control" />
                <span asp-validation-for="Puzzle.HintCoinsForSolve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.Token" class="control-label"></label>
                <input asp-for="Puzzle.Token" class="form-control" />
                <span asp-validation-for="Puzzle.Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.Group" class="control-label"></label>
                <input asp-for="Puzzle.Group" class="form-control" />
                <span asp-validation-for="Puzzle.Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.OrderInGroup" class="control-label"></label>
                <input asp-for="Puzzle.OrderInGroup" class="form-control" />
                <span asp-validation-for="Puzzle.OrderInGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Puzzle.IsGloballyVisiblePrerequisite" /> @Html.DisplayNameFor(model => model.Puzzle.IsGloballyVisiblePrerequisite)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.MinPrerequisiteCount" class="control-label"></label>
                <input asp-for="Puzzle.MinPrerequisiteCount" class="form-control" />
                <span asp-validation-for="Puzzle.MinPrerequisiteCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
        <hr />
        <h3>Prerequisites</h3>
        <h4>These puzzles help to unlock me:</h4>
        <form method="post" enctype="multipart/form-data">
            <table>
                <thead>
                    <tr>
                        <th>Prerequisite</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var pre in Model.CurrentPrerequisites)
                {
                    <tr>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@(pre.ID)">@(pre.Name)</a>
                        </td>
                        <td>
                            <a asp-page-handler="RemovePrerequisite" asp-route-id="@Model.Puzzle.ID" asp-route-prerequisite="@(pre.ID)">Remove</a>
                        </td>
                    </tr>
                }
                    <tr>
                        <td>
                            <select class="form-control" asp-for="NewPrerequisiteID" asp-items="@(new SelectList(Model.PotentialPrerequisites, "ID", "Name"))"></select>
                        </td>
                        <td>
                            <input type="submit" value="Add" asp-page-handler="AddPrerequisite" class="btn btn-default" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <br />
        <h4>I help to unlock these puzzles:</h4>
        <form method="post" enctype="multipart/form-data">
            <table>
                <thead>
                    <tr>
                        <th>Puzzle</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var p in Model.CurrentPrerequisitesOf)
                {
                    <tr>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@(p.ID)">@(p.Name)</a>
                        </td>
                        <td>
                            <a asp-page-handler="RemovePrerequisiteOf" asp-route-id="@Model.Puzzle.ID" asp-route-prerequisiteOf="@(p.ID)">Remove</a>
                        </td>
                    </tr>
                }
                    <tr>
                        <td>
                            <select class="form-control" asp-for="NewPrerequisiteOfID" asp-items="@(new SelectList(Model.PotentialPrerequisitesOf, "ID", "Name"))"></select>
                        </td>
                        <td>
                            <input type="submit" value="Add" asp-page-handler="AddPrerequisiteOf" class="btn btn-default" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
		<hr/>
        <h3>Authors</h3>
        <form method="post" enctype="multipart/form-data">
            <table>
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var author in Model.CurrentAuthors)
                {
                    <tr>
                        <td>
                            @(author.Name)
                        </td>
                        <td>
                            <a asp-page-handler="RemoveAuthor" asp-route-id="@Model.Puzzle.ID" asp-route-author="@(author.ID)">Remove</a>
                        </td>
                    </tr>
                }
                    <tr>
                        <td>
                            <select class="form-control" asp-for="NewAuthorID" asp-items="@(new SelectList(Model.PotentialAuthors, "ID", "Name"))"></select>
                        </td>
                        <td>
                            <input type="submit" value="Add" asp-page-handler="AddAuthor" class="btn btn-default" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
