@page  "/{eventId}/{eventRole}/Puzzles/Feedback/{puzzleId?}"
@model ServerCore.Pages.Puzzles.FeedbackModel

@{
    ViewData["Title"] = "Puzzle feedback";
    ViewData["AdminRoute"] = "../Puzzles/Feedback";
    ViewData["AuthorRoute"] = "../Puzzles/Feedback";
    ViewData["PlayRoute"] = "../Puzzles/SubmitFeedback";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
}

@if (Model.PuzzleName != null)
{
    Layout = "_puzzleManagementLayout.cshtml";
    <h2>@Html.DisplayFor(model => model.PuzzleName): Feedback</h2>
}
else
{
    <h2>All Feedback</h2>
    <div>
        <a asp-page="/Puzzles/Index">Back to puzzle list</a>
    </div>
    <br />
}
<div>
    <br />
    <h4><b>Avg Fun Rating:</b> @Model.FunScore / @FeedbackModel.FeedbackMax</h4>
    <h4><b>Avg Difficulty Rating:</b> @Model.DiffScore / @FeedbackModel.FeedbackMax</h4>
</div>

<br>

<table class="table">
    <thead>
        <tr>
            <th>
                Puzzle
            </th>
            <th>
                TeamName
            </th>
            <th>
                Submitter.Name
            </th>
            <th>
                Submitter.Email
            </th>
            <th>
                Feedback.SubmissionTime
            </th>
            <th>
                Feedback.WrittenFeedback
            </th>
            <th>
                Feedback.Difficulty
            </th>
            <th>
                Feedback.Fun
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Feedbacks)
        {
            <tr>
                <td>
                    @item.Puzzle.Name
                </td>
                <td>
                    @item.TeamName
                </td>
                <td>
                    @item.Submitter.Name
                </td>
                <td>
                    @item.Submitter.Email
                </td>
                <td>
                    @Html.Raw(Model.LocalTime(item.Feedback.SubmissionTime))
                </td>
                <td>
                    @item.Feedback.WrittenFeedback
                </td>
                <td>
                    @item.Feedback.Difficulty
                </td>
                <td>
                    @item.Feedback.Fun
                </td>
            </tr>
        }
    </tbody>
</table>
