@page  "/{eventId}/{eventRole}/Puzzles/Feedback/{puzzleId?}"
@model ServerCore.Pages.Puzzles.FeedbackModel

@{
    ViewData["Title"] = "Puzzle feedback";
    ViewData["AdminRoute"] = "../Puzzles/Feedback";
    ViewData["AuthorRoute"] = "../Puzzles/Feedback";
    ViewData["PlayRoute"] = "../Puzzles/SubmitFeedback";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
    Layout = "_puzzleManagementLayout.cshtml";
}

@if (Model.PuzzleName != null)
{

    <h2>@Html.DisplayFor(model => model.PuzzleName): Feedback</h2>
}
else
{
    <h2>All Feedback</h2>
}

<div>
    <h3><b>Avg Fun Rating:</b> @Model.FunScore</h3>
    <br>
    <h3><b>Avg Difficulty Rating:</b> @Model.DiffScore</h3>
</div>

<br>

<table class="table">
    <thead>
        <tr>
            <th>
                Puzzle
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedbacks[0].Submitter.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedbacks[0].Submitter.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedbacks[0].Feedback.SubmissionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedbacks[0].Feedback.WrittenFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedbacks[0].Feedback.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedbacks[0].Feedback.Fun)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Feedbacks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Puzzle.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Submitter.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Submitter.Email)
                </td>
                <td>
                    <time>@item.Feedback.SubmissionTime.ToString("yyyy-MM-ddTHH:mm:ssZ")</time>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feedback.WrittenFeedback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feedback.Difficulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feedback.Fun)
                </td>
            </tr>
        }
    </tbody>
</table>
