@page  "/{eventId}/{eventRole}/Puzzles/FileManagement/{puzzleId}/{handler?}"
@model ServerCore.Pages.Puzzles.FileManagementModel

@{
    ViewData["Title"] = "Puzzle file management";
    ViewData["AdminRoute"] = "../Puzzles/FileManagement";
    ViewData["AuthorRoute"] = "../Puzzles/FileManagement";
    ViewData["PlayRoute"] = "/Teams/Play";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
    Layout = "_puzzleManagementLayout.cshtml";
}

<h2>@Model.Puzzle.Name: File management</h2>

<div>
    <hr />
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Puzzle.ID" />
            <p>
                <input type="checkbox" asp-for="ExpandZipFiles" />
                &lt;- Check this box to automatically extract the contents of zip files in materials or solve tokens into the same directory.
            </p>
            <p>
                <button type="submit" asp-route-id="@Model.Puzzle.ID" asp-page-handler="DeleteSelected">Delete Selected</button>

                <button type="submit" asp-route-id="@Model.Puzzle.ID" asp-page-handler="DeleteAll" onclick="return confirm('Are you sure you want to delete all files from this puzzle?')">Delete All</button>
            </p>
            <label class="control-label">Puzzle File</label>
            <div>
                @{
                    var puzzleFile = Model.Puzzle.PuzzleFile;

                    if (puzzleFile != null)
                    {
                        <input type="checkbox" asp-route-id="@Model.Puzzle.ID" name="SelectedFiles" value="@puzzleFile.ID" />
                        @Html.ActionLink(puzzleFile.ShortName, "Index", "Files", new { eventId = Model.Event.ID, filename = puzzleFile.ShortName })
                        <a href="@puzzleFile.UrlString">[Raw]</a>
                        <button type="submit" asp-route-id="@Model.Puzzle.ID" asp-route-fileId="@puzzleFile.ID" asp-page-handler="Delete">Delete</button>
                    }
                }
            </div>
            <input asp-for="PuzzleFile" class="form-control" style="height:auto" />
            <span asp-validation-for="PuzzleFile" class="text-danger"></span>
            <hr />

            <label class="control-label">Answer File</label>
            <div>
                @{
                    var answerFile = Model.Puzzle.AnswerFile;
                    if (answerFile != null)
                    {
                        <input type="checkbox" asp-route-id="@Model.Puzzle.ID" name="SelectedFiles" value="@answerFile.ID" />
                        @Html.ActionLink(answerFile.ShortName, "Index", "Files", new { eventId = Model.Event.ID, filename = answerFile.ShortName })
                        <a href="@answerFile.UrlString">[Raw]</a>

                        <button type="submit" asp-route-id="@Model.Puzzle.ID" asp-route-fileId="@answerFile.ID" asp-page-handler="Delete">Delete</button>
                    }
                }
            </div>
            <input asp-for="AnswerFile" class="form-control" style="height:auto" />
            <span asp-validation-for="AnswerFile" class="text-danger"></span>
            <hr />

            <label class="control-label">Materials</label>
            @foreach (var material in Model.Puzzle.Materials.OrderBy(file => file.ShortName))
            {
                <p>
                    <input type="checkbox" asp-route-id="@Model.Puzzle.ID" name="SelectedFiles" value="@material.ID" />
                    @Html.ActionLink(material.ShortName, "Index", "Files", new { eventId = Model.Event.ID, filename = material.ShortName })
                    <a href="@material.UrlString">[Raw]</a>
                    <button type="submit" asp-route-id="@Model.Puzzle.ID" asp-route-fileId="@material.ID" asp-page-handler="Delete">Delete</button>
                </p>
            }
            <input asp-for="PuzzleMaterialFiles" class="form-control" style="height:auto" />
            <span asp-validation-for="PuzzleMaterialFiles" class="text-danger"></span>
            <hr />

            <label class="control-label">Solve Token Files</label>
            @foreach (var solveFile in Model.Puzzle.SolveTokenFiles.OrderBy(file => file.ShortName))
            {
                <p>                    
                    <input type="checkbox" asp-route-id="@Model.Puzzle.ID" name="SelectedFiles" value="@solveFile.ID" />
                    @Html.ActionLink(solveFile.ShortName, "Index", "Files", new { eventId = Model.Event.ID, filename = solveFile.ShortName })
                    <a href="@solveFile.UrlString">[Raw]</a>
                    <button type="submit" asp-route-id="@Model.Puzzle.ID" asp-route-fileId="@solveFile.ID" asp-page-handler="Delete">Delete</button>
                </p>
            }
            <input asp-for="SolveTokenFiles" class="form-control" style="height:auto" />
            <span asp-validation-for="SolveTokenFiles" class="text-danger"></span>

            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
