@page "/{eventId}/Puzzles"
@model ServerCore.Pages.Puzzles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].IsPuzzle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].IsMetaPuzzle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].IsFinalPuzzle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].SolveValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].OrderInGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].IsGloballyVisiblePrerequisite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].MinPrerequisiteCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Puzzles) {
        <tr>
            <td>
                @if (item.PuzzleFile != null)
                {
                    @Html.ActionLink(item.Name, "Index", "Files", new { eventId = Model.Event.ID, filename = item.PuzzleFile.ShortName })
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Name)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPuzzle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMetaPuzzle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFinalPuzzle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolveValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderInGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGloballyVisiblePrerequisite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPrerequisiteCount)
            </td>
            <td>
                <a asp-Page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-Page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-Page="./Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-page="./Status" asp-route-id="@item.ID">Status</a> |
                <a asp-page="/Responses/Index" asp-route-puzzleid="@item.ID">Responses</a> |
                <a asp-Page="./FileManagement" asp-route-id="@item.ID">File Management</a>
            </td>
        </tr>
}
    </tbody>
</table>
