@page "/{eventId}/{eventRole}/Puzzles"
@model ServerCore.Pages.Puzzles.IndexModel

@{
    ViewData["Title"] = "Puzzle Index";
    ViewData["AdminRoute"] = "/Puzzles/Index";
    ViewData["AuthorRoute"] = "/Puzzles/Index";
    ViewData["PlayRoute"] = "/Teams/Play";
}

<!-- TODO - figure out why site.min.css isn't working & remove this once it is -->
<!-- Github issue https://github.com/PuzzleServer/mainpuzzleserver/issues/413 -->
<style>
    .shortcut-menu-dropdown {
        position: relative;
        display: inline-block;
    }

    .shortcut-menu-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .shortcut-menu-dropdown:hover .shortcut-menu-dropdown-content {
        display: block;
    }
</style>

<h2>@Model.Event.Name Puzzles (@Model.Puzzles.Count):</h2>

<p>
    Edit:
    <a asp-page="Create">Create new puzzle</a> |
    <a asp-page="/Responses/CreateBulkMulti">Bulk response create</a> |
    @if (!Model.Event.HideHints)
    {
        <a asp-page="/Hints/CreateBulkMulti">Bulk hint create</a> @(" |")
        <a asp-page="/Hints/Responses">View all hint responses</a> @(" |")
    }
    <a asp-page="/Puzzles/Checklist">View puzzle checklist</a>
</p>
<p>
    Support:
    <a asp-page="/Submissions/AuthorIndex">View all submissions</a> |
    <a asp-page="/Puzzles/Feedback">View all feedback</a> |
    @if (!Model.Event.HideHints)
    {
        <a asp-page="/Hints/AuthorIndex">View all hints taken</a> @(" |")
    }
    <a asp-page="/Submissions/FreeformQueue">View freeform queue</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].Puzzle.Name)
            </th>
            <th>
                Puzzle file
            </th>
            <th>
                @(Model.Event.TermForGroup ?? "Group")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].Puzzle.OrderInGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puzzles[0].Puzzle.SolveValue)
            </th>
            <th>
                Puzzle
            </th>
            <th>
                Meta
            </th>
            <th>
                Final
            </th>
            <th>
                Cheat
            </th>
            <th>
                MinPreReq
            </th>
            <th>
                Support
            </th>
            <th>
                Shortcuts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Puzzles)
        {
            <tr>
                <td>
                    <a asp-Page="./Edit" asp-route-puzzleid=@item.Puzzle.ID>@Html.DisplayFor(modelItem => item.Puzzle.Name)</a>
                </td>
                <td>
                    @if (item.Puzzle.CustomURL != null)
                    {
                        <a href="@ServerCore.Helpers.PuzzleHelper.GetFormattedUrl(item.Puzzle, Model.Event.ID)" target="_blank">Link</a>
                    }
                    else if (item.Content != null)
                    {
                        @Html.ActionLink("File", "Index", "Files", new { eventId = Model.Event.ID, filename = item.Content.ShortName }, new { target = "_blank" })
                    }
                </td>
                <td>
                    @ServerCore.Helpers.RawHtmlHelper.Display(item.Puzzle.Group, Html)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puzzle.OrderInGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puzzle.SolveValue)
                </td>
                <td>
                    @if (item.Puzzle.IsPuzzle)
                    {
                        <p>&#10004;</p>
                    }
                </td>
                <td>
                    @if (item.Puzzle.IsMetaPuzzle)
                    {
                        <p>&#10004;</p>
                    }
                </td>
                <td>
                    @if (item.Puzzle.IsFinalPuzzle)
                    {
                        <p>&#10004;</p>
                    }
                </td>
                <td>
                    @if (item.Puzzle.IsCheatCode)
                    {
                        <p>&#10004;</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puzzle.MinPrerequisiteCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puzzle.SupportEmailAlias)
                </td>
                <td>
                    <div class="shortcut-menu-dropdown">
                        <span><a>Jump to...</a></span>
                        <div class="shortcut-menu-dropdown-content">
                            <a asp-Page="./Edit" asp-route-puzzleid=@item.Puzzle.ID>Details/Edit</a><br />
                            <a asp-Page="./FileManagement" asp-route-puzzleid=@item.Puzzle.ID>Files</a><br />
                            <a asp-page="/Responses/Index" asp-route-puzzleid=@item.Puzzle.ID>Responses</a><br />
                            @if (!Model.Event.HideHints)
                            {
                                <a asp-page="/Hints/Index" asp-route-puzzleid=@item.Puzzle.ID>Hints</a><br />
                            }
                            <a asp-page="/Pieces/Index" asp-route-puzzleid=@item.Puzzle.ID>Pieces</a><br />
                            ------<br />
                            <a asp-page="./Status" asp-route-puzzleid=@item.Puzzle.ID>Status</a><br />
                            <a asp-page="/Submissions/AuthorIndex" asp-route-puzzleid=@item.Puzzle.ID>Submissions</a><br />
                            <a asp-page="/Submissions/FreeformQueue" asp-route-puzzleid=@item.Puzzle.ID>Freeform Queue</a><br />
                            @if (!Model.Event.HideHints)
                            {
                                <a asp-page="/Hints/AuthorIndex" asp-route-puzzleid=@item.Puzzle.ID>Hints Taken</a><br />
                            }
                            <a asp-Page="./Feedback" asp-route-puzzleid=@item.Puzzle.ID>Feedback</a><br />
                            ------<br />
                            <a asp-Page="./Delete" asp-route-puzzleid="@item.Puzzle.ID">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>