@page "/{eventId}/{eventRole}/Puzzles"
@model ServerCore.Pages.Puzzles.IndexModel

@{
    @using Helpers;

    ViewData["Title"] = "Puzzle Index";
    ViewData["AdminRoute"] = "/Puzzles/Index";
    ViewData["AuthorRoute"] = "/Puzzles/Index";
    ViewData["PlayRoute"] = "/Puzzles/Play";
}

<h2>@Model.Event.Name Puzzles (@Model.Puzzles.Count):</h2>

<p>
    Edit:
    <a asp-page="Create">Create new puzzle</a> |
    <a asp-page="/Responses/CreateBulkMulti">Bulk response create</a> |
    @if (!Model.Event.HideHints)
    {
        <a asp-page="/Hints/CreateBulkMulti">Bulk hint create</a> @(" |")
        <a asp-page="/Hints/Responses">View all hint responses</a> @(" |")
    }
    <a asp-page="/Puzzles/Checklist">View puzzle checklist</a> |
    <a asp-page="/Puzzles/ResourceManagement">Manage shared resources</a>
</p>
<p>
    Support:
    <a asp-page="/Submissions/AuthorIndex">View all team submissions</a> |
    <a asp-page="/Submissions/SinglePlayerPuzzleAuthorIndex">View all single player puzzle submissions</a> |
    <a asp-page="/Puzzles/Feedback">View all feedback</a> |
    <a asp-page="/Threads/PuzzleThreads">View all help threads</a> |
    @if (!Model.Event.HideHints)
    {
        <a asp-page="/Hints/AuthorIndex">View all hints taken</a> @(" |")
    }
    <a asp-page="/Submissions/FreeformQueue">View freeform queue</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Puzzle file
            </th>
            <th>
                Solution file
            </th>
            <th>
                @(Model.Event.TermForGroup ?? "Group")
            </th>
            <th>
                OrderInGroup
            </th>
            <th>
                SolveValue
            </th>
            <th>
                Puzzle
            </th>
            <th>
                Meta
            </th>
            <th>
                Final
            </th>
            <th>
                Cheat
            </th>
            <th>
                MinPreReq
            </th>
            <th>
                MinInGroup
            </th>
            <th>
                Support
            </th>
            <th>
                Shortcuts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Puzzles)
        {
            <tr>
                <td>
                    <a asp-Page="./Edit" asp-route-puzzleid=@item.Puzzle.ID>@RawHtmlHelper.Display(item.Puzzle.Name, Model.Event.ID, Html)</a>
                </td>
                <td>
                    @if (item.Puzzle.CustomURL != null)
                    {
                        <a href="@ServerCore.Helpers.PuzzleHelper.GetFormattedUrl(item.Puzzle, Model.Event.ID)" target="_blank">Link</a>
                    }
                    else if (item.Content != null)
                    {
                        @Html.ActionLink("File", "Index", "Files", new { eventId = Model.Event.ID, filename = item.Content.ShortName }, new { target = "_blank" })
                    }
                </td>
                <td>
                    @if (item.Puzzle.CustomSolutionURL != null)
                    {
                        <a href="@ServerCore.Helpers.PuzzleHelper.GetFormattedSolutionUrl(item.Puzzle, Model.Event.ID)" target="_blank">Link</a>
                    }
                    else if (item.Answer != null)
                    {
                        @Html.ActionLink("File", "Index", "Files", new { eventId = Model.Event.ID, filename = item.Answer.ShortName }, new { target = "_blank" })
                    }
                </td>
                <td>
                    @ServerCore.Helpers.RawHtmlHelper.Display(item.Puzzle.Group, Model.Event.ID, Html)
                </td>
                <td>
                    @item.Puzzle.OrderInGroup
                </td>
                <td>
                    @item.Puzzle.SolveValue
                </td>
                <td>
                    @if (item.Puzzle.IsPuzzle)
                    {
                        <p>&#10004;</p>
                    }
                </td>
                <td>
                    @if (item.Puzzle.IsMetaPuzzle)
                    {
                        <p>&#10004;</p>
                    }
                </td>
                <td>
                    @if (item.Puzzle.IsFinalPuzzle)
                    {
                        <p>&#10004;</p>
                    }
                </td>
                <td>
                    @if (item.Puzzle.IsCheatCode)
                    {
                        <p>&#10004;</p>
                    }
                </td>
                <td>
                    @item.Puzzle.MinPrerequisiteCount
                </td>
                <td>
                    @item.Puzzle.MinInGroupCount
                </td>
                <td>
                    @item.Puzzle.SupportEmailAlias
                </td>
                <td>
                    <div class="shortcut-menu-dropdown">
                        <span><a>Jump to...</a></span>
                        <div class="shortcut-menu-dropdown-content">
                            <a asp-Page="./Edit" asp-route-puzzleid=@item.Puzzle.ID>Details/Edit</a><br />
                            <a asp-Page="./FileManagement" asp-route-puzzleid=@item.Puzzle.ID>Files</a><br />
                            <a asp-page="/Responses/Index" asp-route-puzzleid=@item.Puzzle.ID>Responses</a><br />
                            @if (!Model.Event.HideHints)
                            {
                                <a asp-page="/Hints/Index" asp-route-puzzleid=@item.Puzzle.ID>Hints</a><br />
                            }
                            <a asp-page="/Pieces/Index" asp-route-puzzleid=@item.Puzzle.ID>Pieces</a><br />
                            ------<br />
                             @if (item.Puzzle.IsForSinglePlayer)
                            {
                                <a asp-page="/Puzzles/SinglePlayerPuzzleStatus" asp-route-puzzleid=@item.Puzzle.ID>Status</a><br />
                                <a asp-page="/Submissions/SinglePlayerPuzzleAuthorIndex" asp-route-puzzleid=@item.Puzzle.ID>Submissions</a><br />
                            }
                            else
                            {
                                <a asp-page="./Status" asp-route-puzzleid=@item.Puzzle.ID>Status</a><br />
                                <a asp-page="/Submissions/AuthorIndex" asp-route-puzzleid=@item.Puzzle.ID>Submissions</a><br />
                            }
                            <a asp-page="/Submissions/FreeformQueue" asp-route-puzzleid=@item.Puzzle.ID>Freeform Queue</a><br />
                            @if (!Model.Event.HideHints)
                            {
                                <a asp-page="/Hints/AuthorIndex" asp-route-puzzleid=@item.Puzzle.ID>Hints Taken</a><br />
                            }
                            <a asp-Page="./Feedback" asp-route-puzzleid=@item.Puzzle.ID>Feedback</a><br />
                            ------<br />
                            <a asp-Page="./Delete" asp-route-puzzleid="@item.Puzzle.ID">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>