@page
@model ServerCore.Pages.Puzzles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Puzzle[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Puzzle[0].IsPuzzle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Puzzle[0].IsMetaPuzzle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Puzzle[0].IsFinalPuzzle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Puzzle[0].FirstSolveValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Puzzle[0].MinValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Puzzle[0].PerSolvePenalty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Puzzle[0].PuzzleUrlString)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Puzzle[0].AnswerUrlString)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Puzzle[0].MaterialsUrlString)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Puzzle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPuzzle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMetaPuzzle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFinalPuzzle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstSolveValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerSolvePenalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuzzleUrlString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerUrlString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialsUrlString)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
