@page "/{eventId}/{eventRole}/PlayPuzzles"
@model ServerCore.Pages.Puzzles.PlayPuzzlesModel

@{
    @using Helpers;

    ViewData["Title"] = "PlayPuzzles";
    ViewData["AdminRoute"] = "/Puzzles/Index";
    ViewData["AuthorRoute"] = "/Puzzles/Index";

    bool unsolvedFilter = Model.StateFilter == PlayPuzzlesModel.PuzzleStateFilter.Unsolved;
    bool canSubmit = DateTime.UtcNow >= Model.Event.EventBegin;
}
<style>
    .radioButton {
        padding: 0px 5px;
        color: inherit;
        text-decoration: none;
    }

        .radioButton:hover {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<h2>Pregame puzzles</h2>
@if (DateTime.UtcNow > @Model.Event.AnswerSubmissionEnd)
{
    <div class="alert alert-warning" role="alert">
        <h4>The event is over.</h4>
        <span>You may check answers, but they will not count toward your ranking.</span>
    </div>
}
<br />
<div>
    <a asp-page="./SinglePlayerPuzzles"
       asp-route-sort="@Model.Sort"
       asp-route-stateFilter=@(unsolvedFilter ? SinglePlayerPuzzlesModel.PuzzleStateFilter.All : SinglePlayerPuzzlesModel.PuzzleStateFilter.Unsolved)>
        Show @(unsolvedFilter ? "All" : "Unsolved") Puzzles
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./SinglePlayerPuzzles" asp-route-sort="@(Model.SortForColumnLink(SinglePlayerPuzzlesModel.SortOrder.GroupAscending, SinglePlayerPuzzlesModel.SortOrder.GroupDescending))" asp-route-stateFilter="@Model.StateFilter">
                    @(Model.Event.TermForGroup ?? "Group")
                </a>
            </th>
            <th>
                <a asp-page="./SinglePlayerPuzzles" asp-route-sort="@(Model.SortForColumnLink(SinglePlayerPuzzlesModel.SortOrder.PuzzleAscending, SinglePlayerPuzzlesModel.SortOrder.PuzzleDescending))" asp-route-stateFilter="@Model.StateFilter">
                    Puzzle
                </a>
            </th>
            @if (Model.ShowAnswers)
            {
                <th>
                    Answer
                </th>
            }
            <th>
                <a asp-page="./SinglePlayerPuzzles" asp-route-sort="@(Model.SortForColumnLink(SinglePlayerPuzzlesModel.SortOrder.SolveAscending, SinglePlayerPuzzlesModel.SortOrder.SolveDescending))" asp-route-stateFilter="@Model.StateFilter">
                    Solve
                </a>
            </th>
            @if (!Model.Event.HideHints)
            {
                <th>
                    Hints
                </th>
            }
            @if (Model.AllowFeedback)
            {
                <th>
                    Feedback
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PuzzleViews)
        {
            <tr>
                <td>
                    @RawHtmlHelper.Display(item.Group, Model.Event.ID, Html)
                </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.Errata))
                    {
                        <text>&#x26A0; </text>
                    }

                    @if (!Model.Event.EmbedPuzzles)
                    {
                        @if (item.CustomUrl != null)
                        {
                            <a href="@ServerCore.Helpers.PuzzleHelper.GetFormattedUrl(item.CustomUrl, item.ID, Model.Event.ID, teamPassword: null)" target="_blank">@RawHtmlHelper.Display(item.Name, Model.Event.ID, Html)</a>
                        }
                        else if (item.Content != null)
                        {
                            <a asp-action="Index" asp-controller="Files" asp-route-eventId="@Model.Event.ID" asp-route-filename="@item.Content.ShortName" target="_blank">@RawHtmlHelper.Display(item.Name, Model.Event.ID, Html)</a>
                        }
                        else
                        {
                            @RawHtmlHelper.Display(item.Name, Model.Event.ID, Html)
                        }
                    }
                    else
                    {
                        @RawHtmlHelper.Display(item.Name, Model.Event.ID, Html)
                    }

                    @if (item.PieceMetaUsage != DataModel.PieceMetaUsage.None)
                    {
                        <text>(<a asp-page="/Pieces/SimpleMeta" asp-route-puzzleId="@item.ID">Meta Pieces</a>)</text>
                    }
                </td>
                @if (Model.ShowAnswers)
                {
                    <td>
                        @if (item.CustomSolutionUrl != null)
                        {
                            <a href="@ServerCore.Helpers.PuzzleHelper.GetFormattedUrl(item.CustomSolutionUrl, item.ID, Model.Event.ID, teamPassword: null)" target="_blank">View answer</a>
                        }
                        else if (item.Answer != null)
                        {
                            @Html.ActionLink("View answer", "Index", "Files", new { eventId = Model.Event.ID, filename = item.Answer.ShortName }, new { target = "_blank" })
                        }
                    </td>
                }
                <td>
                    <a asp-page="/Submissions/Index" asp-route-puzzleId="@item.ID">
                        @if (item.SolvedTime != null)
                        {
                            <text>Solved on </text>

                            @Html.Raw(Model.LocalTime(item.SolvedTime))
                        }
                        else if (canSubmit)
                        {
                            @if (Model.Event.EmbedPuzzles)
                            {
                                <text>View</text>
                            }
                            else
                            {
                                <text>Submit Answer</text>
                            }
                        }
                        else
                        {
                            <text>Not yet available</text>
                        }
                    </a>
                </td>
                @if (Model.AllowFeedback)
                {
                    <td>
                        <a asp-Page="/Puzzles/SubmitFeedback" asp-route-puzzleid="@item.ID">Submit feedback</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<p>Note: Puzzles with a &#x26A0; before the name have errata, which will be provided on that puzzle's answer submission page.</p>