@page "/{eventId}/{eventRole}/Puzzles/SinglePlayerPuzzleStatus/{puzzleId}"
@model ServerCore.Pages.Puzzles.SinglePlayerPuzzleStatusModel

@{
    ViewData["Title"] = "Single Player Puzzle status";
    ViewData["AdminRoute"] = "../Puzzles/SinglePlayerPuzzleStatus";
    ViewData["AuthorRoute"] = "../Puzzles/SinglePlayerPuzzleStatus";
    ViewData["PlayRoute"] = "/Puzzles/SinglePlayerPuzzles";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
    Layout = "_puzzleManagementLayout.cshtml";
}

<h2>@Model.Puzzle.Name: Status</h2>
@if (Model.UnlockedTime != null)
{
    <h4 style="color:green">Puzzle was unlocked for all players at @Html.Raw(Model.LocalTime(Model.UnlockedTime))</h4>
}
else
{
    <h4 style="color:red">Puzzle is currently locked for all players</h4>
}
<div>
    Important notes: <br />
    Clicking "Unlock all"/"Lock all" will unlock/lock the puzzle for all players shown below AND for future players <br />
    Puzzles can still be unlocked/locked manually for each individual player.<br />
    A player status line will be created only if the player had viewed the puzzle.<br />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./SinglePlayerPuzzleStatus" asp-route-puzzleId="@Model.Puzzle.ID" asp-route-sort="@(Model.SortForColumnLink(ServerCore.Pages.Puzzles.SinglePlayerPuzzleStatusModel.SortOrder.UserAscending, ServerCore.Pages.Puzzles.SinglePlayerPuzzleStatusModel.SortOrder.UserDescending))">
                    User Name
                </a>
            </th>
            <th>
                UnlockedTime
            </th>
            <th>
                <a asp-page="./SinglePlayerPuzzleStatus" asp-route-puzzleId="@Model.Puzzle.ID" asp-route-sort="@(Model.SortForColumnLink(ServerCore.Pages.Puzzles.SinglePlayerPuzzleStatusModel.SortOrder.SolveAscending, ServerCore.Pages.Puzzles.SinglePlayerPuzzleStatusModel.SortOrder.SolveDescending))">
                    SolvedTime
                </a>
            </th>
            <th>
                Printed
            </th>
            <th>
                Notes
            </th>
            <th>
                IsEmailOnlyMode
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>
                <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-playerId="@Model.LoggedInUser.ID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark unlock this puzzle for yourself?')">Unlock for me</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-playerId="@Model.LoggedInUser.ID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to lock the puzzle for yourself?')"> Lock for me</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a asp-page="./UnlockSinglePlayerPuzzleForPlayer" asp-route-puzzleId="@Model.Puzzle.ID">Unlock for player</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark ALL USERS as unlocked?')">Unlock All</a>
            </td>
            <td>
                <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark ALL USERS as solved?')">Solve All</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark ALL USERS as locked?')">Lock All</a>
            </td>
            <td>
                <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark ALL USERS as unsolved?')">Unsolve All</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-puzzleId="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to release all users from email-only mode?')">Release all</a>
            </td>
            <td>
                <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-puzzleId="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to restrict all users to email-only mode?')">Restrict all</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model.SinglePlayerPuzzleStatePerPlayer)
        {
            string userName = !string.IsNullOrEmpty(item.Player.Name) ? item.Player.Name : item.Player.Email;
            <tr>
                <td>
                    @userName
                </td>
                <td>
                    @if (item.UnlockedTime == null)
                    {
                        <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-playerId="@item.PlayerID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark @(userName) as unlocked?')">Unlock</a>
                    }
                    else
                    {
                        @Html.Raw(Model.LocalTime(item.UnlockedTime))
                        <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-playerId="@item.PlayerID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark @(userName) as locked?')"> X</a>
                    }
                </td>
                <td>
                    @if (item.SolvedTime == null)
                    {
                        <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-playerId="@item.PlayerID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark @(userName) as solved?')">Solve</a>
                    }
                    else
                    {
                        @Html.Raw(Model.LocalTime(item.SolvedTime))
                        <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-playerId="@item.PlayerID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark @(userName) as unsolved?')"> X</a>
                    }
                </td>
                <td>
                    @item.Printed
                </td>
                <td>
                    @item.Notes
                </td>
                <td>
                    @if (item.IsEmailOnlyMode == true)
                    {
                        <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-playerId="@item.PlayerID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to release @(userName) from email-only mode?')">Release</a>
                    }
                    else
                    {
                        <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-playerId="@item.PlayerID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to restrict @(userName) to email-only mode?')">Restrict</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>