@page "/{eventId}/{eventRole}/Puzzles/Status/{puzzleId}"
@model ServerCore.Pages.Puzzles.StatusModel

@{
    ViewData["Title"] = "Puzzle status";
    ViewData["AdminRoute"] = "../Puzzles/Status";
    ViewData["AuthorRoute"] = "../Puzzles/Status";
    ViewData["PlayRoute"] = "/Puzzles/Play";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
    Layout = "_puzzleManagementLayout.cshtml";
}

<h2>@Model.Puzzle.PlaintextName: Status</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Status" asp-route-puzzleId="@Model.Puzzle.ID" asp-route-sort="@(Model.SortForColumnLink(StatusModel.SortOrder.TeamAscending, StatusModel.SortOrder.TeamDescending))">
                    Team Name
                </a>
            </th>
            <th>
                <a asp-page="./Status" asp-route-puzzleId="@Model.Puzzle.ID" asp-route-sort="@(Model.SortForColumnLink(StatusModel.SortOrder.UnlockAscending, StatusModel.SortOrder.UnlockDescending))">
                    UnlockedTime
                </a>
            </th>
            <th>
                <a asp-page="./Status" asp-route-puzzleId="@Model.Puzzle.ID" asp-route-sort="@(Model.SortForColumnLink(StatusModel.SortOrder.SolveAscending, StatusModel.SortOrder.SolveDescending))">
                    SolvedTime
                </a>
            </th>
            @if (Model.Event.AllowsRemoteTeams)
            {
                <th>
                    Team Location
                </th>
            }
            <th>
                Printed
            </th>
            <th>
                Notes
            </th>
            <th>
                IsLockedOut
            </th>
            <th>
                IsEmailOnlyMode
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PuzzleStatePerTeam)
        {
            <tr>
                <td>
                    <a asp-page="../Teams/Status" asp-route-teamId="@item.Team.ID">@item.Team.Name</a>
                </td>
                <td>
                    @if (item.UnlockedTime == null)
                    {
                        <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-teamId="@item.Team.ID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark @(item.Team.Name) as unlocked?')">Unlock</a>
                    }
                    else
                    {
                        @Html.Raw(Model.LocalTime(item.UnlockedTime))
                        <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-teamId="@item.Team.ID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark @(item.Team.Name) as locked?')"> X</a>
                    }
                </td>
                <td>
                    @if (item.SolvedTime == null)
                    {
                        <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-teamId="@item.Team.ID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark @(item.Team.Name) as solved?')">Solve</a>
                    }
                    else
                    {
                        @Html.Raw(Model.LocalTime(item.SolvedTime))
                        <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-teamId="@item.Team.ID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark @(item.Team.Name) as unsolved?')"> X</a>
                    }
                </td>
                @if (Model.Event.AllowsRemoteTeams)
                {
                    <td>
                        @item.Team.IsRemoteTeam ? Remote : Local
                    </td>
                }
                <td>
                    @item.Printed
                </td>
                <td>
                    @item.Notes
                </td>
                <td>
                    @item.IsLockedOut
                </td>
                <td>
                    @if (item.IsEmailOnlyMode == true)
                    {
                        <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-teamId="@item.Team.ID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to release @(item.Team.Name) from email-only mode?')">Release</a>
                    }
                    else
                    {
                        <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-teamId="@item.Team.ID" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to restrict @(item.Team.Name) to email-only mode?')">Restrict</a>
                    }
                </td>
            </tr>
        }

        <tr>
            <td></td>
            <td>
                <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark ALL TEAMS as unlocked?')">Unlock All</a>
            </td>
            <td>
                <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="true" onclick="return confirm('Are you sure you want to mark ALL TEAMS as solved?')">Solve All</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a asp-page-handler="UnlockState" asp-route-sort="@Model.Sort" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark ALL TEAMS as locked?')">Lock All</a>
            </td>
            <td>
                <a asp-page-handler="SolveState" asp-route-sort="@Model.Sort" asp-route-puzzleid="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to mark ALL TEAMS as unsolved?')">Unsolve All</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                    <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-puzzleId="@Model.Puzzle.ID" asp-route-value="false" onclick="return confirm('Are you sure you want to release all teams from email-only mode?')">Release all</a>
            </td>
            <td>
                    <a asp-page-handler="EmailMode" asp-route-sort="@Model.Sort" asp-route-puzzleId="@Model.Puzzle.ID"  asp-route-value="true" onclick="return confirm('Are you sure you want to restrict all teams to email-only mode?')">Restrict all</a>
            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
