@page "/{eventId}/{eventRole}/Hints/Details/{puzzleId}"
@model ServerCore.Pages.Hints.DetailsModel

@{
    ViewData["Title"] = "Hint details";
    //Needs route data - ViewData["AdminRoute"] = "/Hints/Details";
    //Needs route data - ViewData["AuthorRoute"] = "/Hints/Details";
    //Needs route data - ViewData["PlayRoute"] = "/Teams/Hints";
}

<h2>@Model.Hint.Puzzle.Name: Hint details</h2>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hint.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Hint.Id">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>


<div>
    <h4>Hint</h4>
    <hr />
    <table class="table-definitions">
        <tr>
            <td>
                Description
            </td>
            <td>
                @Model.Hint.Description
            </td>
        </tr>
        <tr>
            <td>
                Content
            </td>
            <td>
                @Model.Hint.Content
            </td>
        </tr>
        <tr>
            <td>
                Cost
            </td>
            <td>
                @Model.Hint.Cost
            </td>
        </tr>
        <tr>
            <td>
                DisplayOrder
            </td>
            <td>
                @Model.Hint.DisplayOrder
            </td>
        </tr>
    </table>
</div>