@page "/{eventId}/{eventRole}/Hints/Details/{puzzleId}"
@model ServerCore.Pages.Hints.DetailsModel

@{
    ViewData["Title"] = "Hint details";
    //Needs route data - ViewData["AdminRoute"] = "/Hints/Details";
    //Needs route data - ViewData["AuthorRoute"] = "/Hints/Details";
    //Needs route data - ViewData["PlayRoute"] = "/Teams/Hints";
}

<h2>@Model.Hint.Puzzle.Name: Hint details</h2>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hint.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Hint.Id">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>


<div>
    <h4>Hint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Description
        </dt>
        <dd>
            @Model.Hint.Description
        </dd>
        <dt>
            Content
        </dt>
        <dd>
            @Model.Hint.Content
        </dd>
        <dt>
            Cost
        </dt>
        <dd>
            @Model.Hint.Cost
        </dd>
        <dt>
            DisplayOrder
        </dt>
        <dd>
            @Model.Hint.DisplayOrder
        </dd>
    </dl>
</div>