@page "/{eventId}/{eventRole}/Hints/Details/{puzzleId}"
@model ServerCore.Pages.Hints.DetailsModel

@{
    ViewData["Title"] = "Hint details";
}

<h2>@Model.Hint.Puzzle.Name: Hint details</h2>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hint.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Hint.Id">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>


<div>
    <h4>Hint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hint.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hint.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hint.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hint.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hint.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hint.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hint.DisplayOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hint.DisplayOrder)
        </dd>
    </dl>
</div>