@page "/{eventId}/{eventRole}/Hints/{puzzleId}"
@model ServerCore.Pages.Hints.IndexModel

@{
    @using Helpers;
    ViewData["Title"] = "Hints";
    ViewData["AdminRoute"] = "../Hints/Index";
    ViewData["AuthorRoute"] = "../Hints/Index";
    // TODO: Needs to handle implicit teams - ViewData["PlayRoute"] = "../Teams/Hints";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
    Layout = "../Puzzles/_puzzleManagementLayout.cshtml";
}

<h2>@Model.PuzzleName: Hints</h2>

<p>
    <a asp-page="Create" asp-route-puzzleId="@Model.PuzzleId">Create New</a> |
    <a asp-page="CreateBulk" asp-route-puzzleId="@Model.PuzzleId">Bulk Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Content
            </th>
            <th>
                Cost
            </th>
            <th>
                DisplayOrder
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Hints)
        {
            <tr>
                <td>
                    @item.Description
                </td>
                <td>
                    @(RawHtmlHelper.Display(item.Content, Model.Event.ID, Html))
                </td>
                <td>
                    @item.Cost
                </td>
                <td>
                    @item.DisplayOrder
                </td>
                <td>
                    <div class="shortcut-menu-dropdown">
                        <span><a>Select action...</a></span>
                        <div class="shortcut-menu-dropdown-content">
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a><br />
                            <a asp-page="./Details" asp-route-id="@item.Id">View details</a><br />
                            ------<br />
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
