@page "/{eventId}/{eventRole}/Hints/Responses"
@model ServerCore.Pages.Hints.ResponsesModel
@{
    @using Helpers;
    ViewData["Title"] = "Responses";
    ViewData["AdminRoute"] = "../Hints/Responses";
    ViewData["AuthorRoute"] = "../Hints/Responses";
}
<h2>All Hint Responses</h2>
<div>
    <a asp-page="/Puzzles/Index">Back to puzzle list</a>
</div>

<br />
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-page="./Responses" asp-route-sort="@(Model.SortForColumnLink(ResponsesModel.SortOrder.PuzzleAscending, ResponsesModel.SortOrder.PuzzleDescending))">
                        Puzzle
                    </a>
                </th>
                <th>
                    <a asp-page="./Responses" asp-route-sort="@(Model.SortForColumnLink(ResponsesModel.SortOrder.DescriptionAscending, ResponsesModel.SortOrder.DescriptionDescending))">
                        Description
                    </a>
                </th>
                <th>
                    Content
                </th>
                <th>
                    <a asp-page="./Responses" asp-route-sort="@(Model.SortForColumnLink(ResponsesModel.SortOrder.CostAscending, ResponsesModel.SortOrder.CostDescending))">
                        Cost
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.HintViews)
            {
                <tr>
                    <td>
                        @item.PuzzleName
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @(RawHtmlHelper.Display(item.Content, Model.Event.ID, Html))
                    </td>
                    <td>
                        @item.Cost
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

