@page "/{eventId}/{eventRole}/Submissions/AuthorIndex/{puzzleId?}"
@model ServerCore.Pages.Submissions.AuthorIndexModel
@{
    ViewData["Title"] = "Submissions";
    ViewData["AdminRoute"] = "../Submissions/AuthorIndex";
    ViewData["AuthorRoute"] = "../Submissions/AuthorIndex";
    // TODO: Needs to handle implicit teams - ViewData["PlayRoute"] = "../Submissions/Index";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];

    if (Model.Puzzle != null)
    {
        Layout = "../Puzzles/_puzzleManagementLayout.cshtml";
    }
    else if (Model.Team != null)
    {
        Layout = "../Teams/_teamLayout.cshtml";
    }
    // TODO: Do we need a combined layout, or is that rare enough as to be unnecessary? Maybe those bar layouts should be sections/components?
}

<h2>@if (Model.Puzzle != null) { <text>@Model.Puzzle.Name:</text> } Submissions @if (Model.Team != null) { <text>by @Model.Team.Name</text> }</h2>
<a asp-page="/Puzzles/Index">Back to puzzle list</a> | <a asp-page="/Submissions/SubmissionsWithoutResponses" asp-route-puzzleId="@Model.Puzzle?.ID">Submissions without responses</a>
<div>
    @if(Model.Puzzle != null) { <a asp-page="./AuthorIndex" asp-route-puzzleId="" asp-route-teamId="@Model.Team?.ID" asp-route-hideFreeform="@Model.HideFreeform" asp-route-favoritesOnly="@Model.FavoritesOnly">Clear Puzzle Filter</a> }
    @if(Model.Puzzle != null && Model.Team != null) { <text>|</text> }  
    @if(Model.Team != null) { <a asp-page="./AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="" asp-route-hideFreeform="@Model.HideFreeform" asp-route-favoritesOnly="@Model.FavoritesOnly">Clear Team Filter</a> }  
    @if(Model.Puzzle != null && Model.Team != null) { <text>|</text> <a asp-page="./AuthorIndex" asp-route-puzzleId="" asp-route-teamId="" asp-route-hideFreeform="@Model.HideFreeform" asp-route-favoritesOnly="false">Clear All Filters</a> }  
    <text>|</text>
    @if (Model.HideFreeform)
    {
        <a asp-page="./AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="@Model.Team?.ID" asp-route-hideFreeform="false" asp-route-sort="@Model.Sort" asp-route-favoritesOnly="@Model.FavoritesOnly">Show Freeform</a> 
    }
    else
    {        
        <a asp-page="./AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="@Model.Team?.ID" asp-route-hideFreeform="true" asp-route-sort="@Model.Sort" asp-route-favoritesOnly="@Model.FavoritesOnly">Hide Freeform</a> 
    }
    @if (!Model.FavoritesOnly)
    {
        <a asp-page="./AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="@Model.Team?.ID" asp-route-hideFreeform="@Model.HideFreeform" asp-route-favoritesOnly="true" asp-route-sort="@Model.Sort">| Favorites Only</a>
    }
    else
    { 
        <a asp-page="./AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="@Model.Team?.ID" asp-route-hideFreeform="@Model.HideFreeform" asp-route-favoritesOnly="false" asp-route-sort="@Model.Sort">| Clear Favorite Filter</a>
    }
</div>
<br/>
<div>
    Submitted answers shown below are capitalized and stripped of non-alphanumeric characters
</div>
<br />
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-page="./AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="@Model.Team?.ID" asp-route-hideFreeform="@Model.HideFreeform" asp-route-sort="@(Model.SortForColumnLink(AuthorIndexModel.SortOrder.PlayerAscending, AuthorIndexModel.SortOrder.PlayerDescending))">
                        Player
                    </a>
                </th>
                <th>
                    <a asp-page="./AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="@Model.Team?.ID" asp-route-hideFreeform="@Model.HideFreeform" asp-route-sort="@(Model.SortForColumnLink(AuthorIndexModel.SortOrder.TeamAscending, AuthorIndexModel.SortOrder.TeamDescending))">
                        Team Name
                    </a>
                </th>
                <th>
                    <a asp-page="./AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="@Model.Team?.ID" asp-route-hideFreeform="@Model.HideFreeform" asp-route-sort="@(Model.SortForColumnLink(AuthorIndexModel.SortOrder.PuzzleAscending, AuthorIndexModel.SortOrder.PuzzleDescending))">
                        Puzzle
                    </a>
                </th>
                <th>
                    <a asp-page="./AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="@Model.Team?.ID" asp-route-hideFreeform="@Model.HideFreeform" asp-route-sort="@(Model.SortForColumnLink(AuthorIndexModel.SortOrder.ResponseAscending, AuthorIndexModel.SortOrder.ResponseDescending))">
                        ResponseText
                    </a>
                </th>
                <th>
                    <a asp-page="./AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="@Model.Team?.ID" asp-route-hideFreeform="@Model.HideFreeform" asp-route-sort="@(Model.SortForColumnLink(AuthorIndexModel.SortOrder.SubmissionAscending, AuthorIndexModel.SortOrder.SubmissionDescending))">
                        SubmissionText
                    </a>
                </th>
                <th>
                    <a asp-page="./AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="@Model.Team?.ID" asp-route-hideFreeform="@Model.HideFreeform" asp-route-sort="@(Model.SortForColumnLink(AuthorIndexModel.SortOrder.TimeAscending, AuthorIndexModel.SortOrder.TimeDescending))">
                        TimeSubmitted
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Submissions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmitterName)
                </td>
                <td>
                    <a asp-page="AuthorIndex" asp-route-puzzleId="@Model.Puzzle?.ID" asp-route-teamId="@item.TeamID">@Html.DisplayFor(modelItem => item.TeamName)</a>
                </td>
                <td>
                    <a asp-page="AuthorIndex" asp-route-puzzleId="@item.PuzzleID" asp-route-teamId="@Model.Team?.ID">@Html.DisplayFor(modelItem => item.PuzzleName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponseText)
                </td>
                <td style="max-width: 500px; word-wrap: break-word">
                    @if (item.Linkify)
                    {
                        <a href="@item.SubmissionText" target="_blank">@item.SubmissionText</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.SubmissionText)
                    }
                </td>
                <td>
                    @Html.Raw(Model.LocalTime(item.TimeSubmitted))
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

