@page "/{eventId}/{eventRole}/Submissions/FreeformQueue/{puzzleId?}"
@model ServerCore.Pages.Submissions.FreeformQueueModel
@{
    ViewData["Title"] = "Freeform Queue";
    ViewData["AdminRoute"] = "../Submissions/FreeformQueue";
    ViewData["AuthorRoute"] = "../Submissions/FreeformQueue";
    // TODO: Needs to handle implicit teams - ViewData["PlayRoute"] = "../Submissions/Index";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];

    if (Model.Puzzle != null)
    {
        Layout = "../Puzzles/_puzzleManagementLayout.cshtml";
        <h2>@Model.Puzzle.Name: Freeform Queue</h2>
    }
    else
    {
        <h2>Freeform Queue</h2>
    }

    <h3>Queue length: @Model.FullQueueSize</h3>

    <div>
        Refresh every: <a asp-page="/Submissions/FreeformQueue" asp-route-refresh="60">1 min</a> | <a asp-page="/Submissions/FreeformQueue" asp-route-refresh="120">2 min</a> | <a asp-page="/Submissions/FreeformQueue" asp-route-refresh="300">5 min</a> | <a asp-page="/Submissions/FreeformQueue">off</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Puzzle</th>
                <th>Team</th>
                <th>
                    Submission
                </th>
                <th>
                    Response
                </th>
            </tr>
        </thead>
        @foreach (var submission in Model.Submissions)
        {
            <tr>
                <td>@submission.PuzzleName</td>
                <td>@submission.TeamName</td>
                <td>
                    @if (submission.Linkify)
                    {
                        <a href="@submission.SubmissionText" target="_blank">@submission.SubmissionText</a>
                    }
                    else
                    {
                        @submission.SubmissionText
                    }
                </td>
                <td>
                    <form method="post">
                        <input type="text" asp-for="FreeformResponse" />
                        <input type="hidden" asp-for="SubmissionID" value="@submission.SubmissionId" />
                        <label class="radio-inline">
                            <input type="radio" asp-for="Result" value="Accepted" />Accept
                        </label>
                        <label class="radio-inline">
                            <input type="radio" asp-for="Result" value="Rejected" />Reject
                        </label>
                        @if (submission.Sharable)
                        {
                            <label for="favorite" class="checkbox-inline">
                                <input name="favorite" type="checkbox" asp-for="Favorite" />Save for later
                            </label>
                        }
                        <input type="submit" value="Submit" />
                    </form>
                </td>
            </tr>
        }
    </table>
}

