@page "/{eventId}/Submissions"
@model ServerCore.Pages.Submissions.IndexModel

@{
    ViewData["Title"] = "Create";
}

<h2>Submissions</h2>
<hr />
<div>
    <a asp-page="/Teams/Play" asp-route-id="@Model.TeamId">Back to Puzzle List</a>
</div>
<br />
<div class="row">
    <div class="col-md-4">
    @if (!string.IsNullOrEmpty(Model.AnswerToken))
    {
        <div class="alert alert-success" role="alert">
            You got it! Correct answer: @Model.AnswerToken
        </div>
    }
    else if (Model.PuzzleState.IsEmailOnlyMode)
    {
        <div class="alert alert-danger" role="alert">
            You have submitted too many wrong responses. Please email your solutions to <a href="mailto:@(Model.Event?.ContactEmail ?? "puzzhunt@microsoft.com")">@(Model.Event?.ContactEmail ?? "puzzhunt@microsoft.com")</a>.
        </div>
    }
    else if (Model.PuzzleState.IsTeamLockedOut)
    {
        <div class="alert alert-danger" role="alert">
           You are locked out. Please wait @Model.PuzzleState.LockoutTimeRemaining.ToString(@"mm\:ss") before attempting another submission.
        </div>
    }
    else
    {
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Submission.SubmissionText" class="control-label">Answer</label>
                <input asp-for="Submission.SubmissionText" class="form-control" />
                <span asp-validation-for="Submission.SubmissionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    }
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Submissions[0].TimeSubmitted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Submissions[0].SubmissionText)
                </th>
                <th>
                    Response
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Submissions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeSubmitted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubmissionText)
                    </td>
                    <td>
                        @(item.Response != null ? item.Response.ResponseText : "Incorrect")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="/Teams/Play" asp-route-id="@Model.TeamId">Back to Puzzle List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
