@page "/{eventId}/{eventRole}/Submissions/{puzzleId}"
@model ServerCore.Pages.Submissions.IndexModel

@{
    ViewData["Title"] = "Create submissions";
    ViewData["AdminRoute"] = "../Submissions/AuthorIndex";
    ViewData["AuthorRoute"] = "../Submissions/AuthorIndex";
    // TODO: Needs to handle implicit teams - ViewData["PlayRoute"] = "../Submissions/Index";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
}

@{
    var mailtoUrl = "mailto:";
    
    // to: Add the proper support agent as recipient
    mailtoUrl += Model.PuzzleState?.Puzzle.SupportEmailAlias ?? (Model.Event?.ContactEmail ?? "puzzhunt@microsoft.com");
    // cc: Cc the team's email address because what if this email account is a random personal one?
    mailtoUrl += "?cc=" + Uri.EscapeDataString(Model.Team.PrimaryContactEmail);

    // subject: Make this be about this puzzle
    mailtoUrl += "&subject=" + Uri.EscapeDataString("[" + Model.Puzzle.Name + "]");
    // subject: Make this be from this team
    mailtoUrl += Uri.EscapeDataString(" [" + Model.Team.Name + "]");

    if (Model.PuzzleState.IsEmailOnlyMode)
    {
        // request out of email mode
        // subject: Add the Email Mode signifier
        mailtoUrl += Uri.EscapeDataString(" [⚠EmailMode✉]");
        // body: Invite solver to give details
        mailtoUrl += "&body=" + Uri.EscapeDataString("Use this email to fully explain your thought process so we know you're not randomly spamming attempts! 😇" + Environment.NewLine + Environment.NewLine);
    }
    else
    {
        // request for help
        // body: Invite solver to give details
        mailtoUrl += "&body=" + Uri.EscapeDataString("The more details you add here, the more helpful the responses you'll get will be! 😇" + Environment.NewLine + Environment.NewLine);
    }
}



<h2>Submissions for @Model.Puzzle.Name</h2>
<hr />
<div>
    <a asp-page="/Teams/Play" asp-route-teamId="@Model.Team.ID">Back to puzzle list</a>
</div>
<br />
@if (!string.IsNullOrEmpty(Model.Puzzle.Errata))
{
    <div style="font-size:16px;">
        <span style="color: red; font-weight:600;">&#x26A0; Errata: </span>@Model.Puzzle.Errata
    </div>
    <br />
}
<div class="row">
    <div class="col-md-4">
        @if (Model.Puzzle.HasDataConfirmation)
        {
            <div style="font-style:italic;">
                <img src="~/images/DataConfirmationIcon.png" width="20" height="20" style="margin-bottom:3px" /> Reminder: This puzzle supports data confirmation
            </div>
            <br />
        }
        @if (!string.IsNullOrEmpty(Model.AnswerToken))
        {
            <div class="alert alert-success" role="alert">
                <h4>Correct</h4>
                <span>Answer: @Model.AnswerToken</span>
            </div>
        }
        else if (!@Model.Event.IsAnswerSubmissionActive)
        {
            <div class="col-md-12" style="padding-bottom: 15px;">
                <h4>Answer Submission Closed</h4>
                <span>No submissions will be accepted at this time.</span>
            </div>
        }
        else if (Model.PuzzleState.IsEmailOnlyMode)
        {
            <div class="alert alert-danger" role="alert">
                <h4>Answer Submission Locked Indefinitely</h4>
                <span>You've submitted too many wrong responses. Please <a href="@mailtoUrl">use this link to email us your answer for @Model.Puzzle.Name or ask for help</a>.</span>
            </div>
        }
        else if (Model.PuzzleState.IsTeamLockedOut)
        {
            <div class="alert alert-danger" role="alert">
                <h4>Answer Submission Locked</h4>
                <span>You're locked out. Please wait <span id="LockoutTimer">@Model.PuzzleState.LockoutTimeRemaining.ToString(@"mm\:ss")</span> before attempting another submission.</span>
            </div>
        }
        else if (Model.PuzzlesCausingGlobalLockout.Count != 0 && !Model.PuzzlesCausingGlobalLockout.Contains(Model.Puzzle))
        {
            <div class="alert alert-danger" role="alert">
                <h4>Answer Submission Locked</h4>
                <span>You're in global lockout until time expires on <a href="./@Model.PuzzlesCausingGlobalLockout[0].ID" target="_blank">@Model.PuzzlesCausingGlobalLockout[0].Name</a>, or it is solved. Go help your teammates with that puzzle!</span>
            </div>
        }
        else
        {
            if (Model.DuplicateSubmission)
            {
            <div class="alert alert-danger" role="alert">
                <h4>Oops</h4>
                <span>You've already submitted @Model.SubmissionText!</span>
            </div>
            }

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Answer</label>
                    <input autofocus name="submissionText" class="form-control" data-val="true" data-val-required="Your answer cannot be empty" />
                    <span style="font-size:12px">Submitted answers will automatically be capitalized and stripped of non-alphanumeric characters</span><br />
                    @Html.ValidationSummary(true)
                    <span class="text-danger"><span class="field-validation-valid" data-valmsg-for="submissionText" data-valmsg-replace="true"></span></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </form>
        }
    </div>
</div>

@if (Model.SubmissionViews.Count > 0)
{
    <h3>Submission history</h3>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Time Submitted
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Submission Text
                    </th>
                    <th>
                        Response
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = Model.SubmissionViews.Count - 1; i >= 0; --i)
                {
                    <tr>
                        <td>
                            @Html.Raw(Model.LocalTime(Model.SubmissionViews[i].Submission.TimeSubmitted))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.SubmissionViews[i].SubmitterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.SubmissionViews[i].Submission.SubmissionText)
                        </td>
                        <td>
                            @(Model.SubmissionViews[i].Response != null ? Model.SubmissionViews[i].Response.ResponseText : "Incorrect")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (!Model.PuzzleState.IsEmailOnlyMode)
{ 
    <h3>Need some help?</h3>
    <p>While solving this puzzle, if you've run into a bug, think there's an error, or are not having fun anymore, <a href="@mailtoUrl">use this link to contact the author for @Model.Puzzle.Name</a>!</p>
    <p>A pre-populated email form will appear and you should add details to the message body. Remember: the author may only know specifics about this puzzle and not others in the event.</p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @if (@Model.PuzzleState.LockoutExpiryTime != null)
    {
        <script type="text/javascript">
            var unlockTime = new Date(Date.UTC(
                @Model.PuzzleState.LockoutExpiryTime.Value.Year,
                @Model.PuzzleState.LockoutExpiryTime.Value.Month-1,
                @Model.PuzzleState.LockoutExpiryTime.Value.Day,
                @Model.PuzzleState.LockoutExpiryTime.Value.Hour,
                @Model.PuzzleState.LockoutExpiryTime.Value.Minute,
                @Model.PuzzleState.LockoutExpiryTime.Value.Second));

            setInterval(function () {
                var timer = document.getElementById("LockoutTimer");
                if (timer === null) {
                    return;
                }
                var timeDeltaSeconds = Math.floor((unlockTime - Date.now()) / 1000);
                if (timeDeltaSeconds <= 0) {
                    window.location.href = window.location.href;
                }
                // Prevent negative time, also pad with zero
                var minutesLeft = "0" + Math.max(0, Math.floor(timeDeltaSeconds / 60));
                var secondsLeft = "0" + Math.max(0, timeDeltaSeconds % 60);
                timer.innerText = minutesLeft.substr(-2) + ":" + secondsLeft.substr(-2);
            }, 1000);
        </script>
    }
}
