@page "/{eventId}/{eventRole}/SubmitProto/{puzzleId}"
@model ServerCore.Pages.Submissions.SubmitProtoModel

@{
    @using Helpers;
    ViewData["Title"] = "Solve here and submit your answer";
    ViewData["AdminRoute"] = "../Submissions/AuthorIndex";
    ViewData["AuthorRoute"] = "../Submissions/AuthorIndex";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
}

<h2>Solve and submit answers for @RawHtmlHelper.Display(Model.Puzzle.Name, Model.Event.ID, Html)</h2>
<hr />
<style>
    #puzzle-frame {
        width: 100%;
        height: calc(100vh - 265px);
    }
</style>
@if (Model.Puzzle.CustomURL != null)
{
    <iframe id="puzzle-frame" title="@Model.Puzzle.Name" sandbox="allow-same-origin allow-scripts" src="@PuzzleHelper.GetFormattedUrl(Model.Puzzle, Model.Event.ID)"></iframe>
}
else if (Model.PuzzleFile != null)
{
    <iframe id="puzzle-frame" title="@Model.Puzzle.Name" sandbox="allow-same-origin allow-scripts" src="@Model.PuzzleFile.Url.AbsoluteUri"></iframe>
}
else {
    <div>This puzzle has no online content. Please look elsewhere for what you need to solve it.</div>
}