@{
    var eventPage = Model as ServerCore.ModelBases.EventSpecificPageModel;
    var Event = eventPage?.Event;
    var EventRole = eventPage?.EventRole;
    bool IsRegistered = false;
    bool isOnTeam = false;
    int? teamId = null;
    int? playerEventId = null;
    if (eventPage != null)
    {
        IsRegistered = await eventPage.IsRegisteredUser();
        isOnTeam = await eventPage.PlayerHasTeamForEvent();
        teamId = await eventPage.GetTeamId();
        playerEventId = await eventPage.GetPlayerEventId();
    }
}

<!--ADMIN NAV BAR-->
@if (Event != null && EventRole != null && EventRole == ModelBases.EventRole.admin)
{
    <nav class="navbar navbar-inverse navbar-static-top admin-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" data-toggle="dropdown" href="#">
                            @Event.Name - Admin
                        </a>
                        <partial name="/Pages/Shared/_RoleSwitcherPartial.cshtml" />
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Event
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/EventSpecific/Index">Home</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/Events/Details">Details</a></li>
                        </ul>
                    </li>
                    <li><a asp-page="/Puzzles/Index">Puzzles</a></li>
                    <li><a asp-page="/Teams/Index">Teams</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Leaderboards
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/Events/Standings">Standings</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/Events/FastestSolves">Fastest solves</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/Events/Map">Puzzle state map</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/Events/PlayerSubmissions">Shared submissions</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Users
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/Events/Players">All Users</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/Player/Index">Players in Event</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Resources
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/EventSpecific/Rules">Rules</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/FAQ">FAQ</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Samples">Sample puzzles</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Encodings">Encodings</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Tools">Tools</a></li>
                        </ul>
                    </li>
                </ul>

                <partial name="/Pages/Shared/_LoginPartial.cshtml" />
            </div>
        </div>
    </nav>
}
<!--ADMIN NAV BAR END-->
<!--AUTHOR NAV BAR-->
@if (Event != null && EventRole != null && EventRole == ModelBases.EventRole.author)
{
    <nav class="navbar navbar-inverse navbar-static-top author-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" data-toggle="dropdown" href="#">
                            @Event.Name - Author
                        </a>
                        <partial name="/Pages/Shared/_RoleSwitcherPartial.cshtml" />
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/EventSpecific/Index">Event</a></li>
                    <li><a asp-page="/Puzzles/Index">Puzzles</a></li>
                    <li><a asp-page="/Teams/Index">Teams</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Leaderboards
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/Events/Standings">Standings</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/Events/FastestSolves">Fastest solves</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/Events/Map">Puzzle state map</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/Events/PlayerSubmissions">Shared submissions</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Resources
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/EventSpecific/Rules">Rules</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/FAQ">FAQ</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Samples">Sample puzzles</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Encodings">Encodings</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Tools">Tools</a></li>
                        </ul>
                    </li>
                </ul>

                <partial name="/Pages/Shared/_LoginPartial.cshtml" />
            </div>
        </div>
    </nav>
}
<!--AUTHOR NAV BAR END-->
<!--REGISTERED PLAYER NAV BAR-->
@if (Event != null && (EventRole == null || (EventRole != ModelBases.EventRole.admin && EventRole != ModelBases.EventRole.author)) && IsRegistered)
{
    <nav class="navbar navbar-inverse navbar-static-top player-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" data-toggle="dropdown" href="#">
                            @Event.Name
                        </a>
                        <partial name="/Pages/Shared/_RoleSwitcherPartial.cshtml" />
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Event
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/EventSpecific/Index">Event Homepage</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/Player/Details" asp-route-id="@playerEventId">My registration</a></li>
                        </ul>
                    </li>
                    @if(!isOnTeam)
                    {
                        <li><a style="color:yellow" asp-page="/Teams/List"> Join or Create a Team!</a></li>
                    }
                    <li><a asp-page="/Teams/Play" asp-route-teamId="@teamId">Puzzles</a></li>
                    @if (Event.HasSwag)
                    {
                        if (DateTime.UtcNow > Event.TeamMiscDataChangeEnd || await Model.HasSwag())
                        {
                            <li><a asp-page="/Swag/Register" title="Lunch">Lunch</a></li>
                        }
                        else
                        {
                            <li><a style="color:yellow" asp-page="/Swag/Register" title="Lunch">Pick Lunch by @(Event.TeamMiscDataChangeEnd.ToString("M/dd"))!</a></li>
                        }
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Teams
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/Teams/Details" asp-route-teamId="@teamId">My team</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/Teams/AllTeams">All teams</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Leaderboards
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/Events/Standings">Standings</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/Events/FastestSolves">Fastest solves</a></li>
                            @if (DateTime.UtcNow >= Event.AnswersAvailableBegin)
                            {
                                <li class="divider"></li>
                                <li><a asp-page="/Events/PlayerSubmissions">Player submissions</a></li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Resources
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/EventSpecific/Rules">Rules</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/FAQ">FAQ</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Samples">Sample puzzles</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Encodings">Encodings</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Tools">Tools</a></li>
                        </ul>
                    </li>
                </ul>

                <partial name="/Pages/Shared/_LoginPartial.cshtml" />
            </div>
        </div>
    </nav>
}
<!--REGISTERED PLAYER NAV BAR END-->
<!--UNREGISTERED PLAYER NAV BAR-->
@if (Event != null && (EventRole == null || (EventRole != ModelBases.EventRole.admin && EventRole != ModelBases.EventRole.author)) && !IsRegistered)
{
    <nav class="navbar navbar-inverse navbar-static-top player-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" data-toggle="dropdown" href="#">
                            @Event.Name
                        </a>
                        <partial name="/Pages/Shared/_RoleSwitcherPartial.cshtml" />
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/EventSpecific/Index">Event</a></li>
                    <li><a style="color:yellow" asp-page="/Player/Create">Register</a></li>
                    <li><a asp-page="/Teams/AllTeams">View all teams</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Resources
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-page="/EventSpecific/Rules">Rules</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/FAQ">FAQ</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Samples">Sample puzzles</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Encodings">Encodings</a></li>
                            <li class="divider"></li>
                            <li><a asp-page="/EventSpecific/Tools">Tools</a></li>
                        </ul>
                    </li>
                </ul>

                <partial name="/Pages/Shared/_LoginPartial.cshtml" />
            </div>
        </div>
    </nav>
}
<!--UNREGISTERED PLAYER NAV BAR END-->
