@{
    var Event = (Model as ServerCore.ModelBases.EventSpecificPageModel)?.Event;
    var EventRole = (Model as ServerCore.ModelBases.EventSpecificPageModel)?.EventRole;
    var AdminRoute = ViewData["AdminRoute"] as string ?? "/EventSpecific/Index";
    var AuthorRoute = ViewData["AuthorRoute"] as string ?? "/EventSpecific/Index";
    var PlayRoute = ViewData["PlayRoute"] as string ?? "/EventSpecific/Index";
    var RoutingPuzzleId = ViewData["RoutingPuzzleId"] as string;
    var RoutingTeamId = ViewData["RoutingTeamId"] as string;
}

<!-- TODO: Check for permissions -->
<ul class="dropdown-menu">
    <li><a asp-page=@AdminRoute asp-route-id="@Event.ID" asp-route-eventRole="@ModelBases.EventRole.admin" asp-route-teamId=@RoutingTeamId asp-route-puzzleId=@RoutingPuzzleId>Admin mode</a></li>
    <li class="divider"></li>
    <li><a asp-page=@AuthorRoute asp-route-id="@Event.ID" asp-route-eventRole="@ModelBases.EventRole.author" asp-route-teamId=@RoutingTeamId asp-route-puzzleId=@RoutingPuzzleId>Author mode</a></li>
    <li class="divider"></li>
    <li><a asp-page=@PlayRoute asp-route-id="@Event.ID" asp-route-eventRole="@ModelBases.EventRole.play" asp-route-teamId=@RoutingTeamId asp-route-puzzleId=@RoutingPuzzleId>Player mode</a></li>
</ul>